.order-list-container {
  padding: 0 0.5rem;
  border: 0.0125rem solid #e0e0e0;
}

.order-list-container h5 {
  padding: 0.25rem 0;
}

.order-list {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  height: 2rem;
  border-bottom: 0.0125rem solid #e0e0e0;
  align-items: center;
}

.order-list:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.order-list b {
  font-weight: bold;
}
