@import "../root.scss";
@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

 :global(.omrs-breakpoint-lt-desktop) .contextWorkspaceContainer {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
   background-color: $ui-01;
   overflow-y: auto;
 }

 /* Desktop view */
 :global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer {
   z-index: 1;
   background-color: $ui-02;
   margin-right: 50px;
   margin-top: 3rem;
   flex: 1;
   border-left: 0.0625rem solid $openmrs-background-grey;
   overflow-y: auto;
 }

 :global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer > header,
 :global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer > header a {
  background-color: $ui-03;
  color: $ui-05;
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer > header button {
  color: $color-blue-60-2;
  fill:$color-blue-60-2
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer > header button {
  background-color: $ui-03;
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer > header button:hover {
  background-color: $ui-02;
  color: $color-blue-60-2;
  fill:$color-blue-60-2;
}

