@import "../root.scss";
@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.contextWorkspaceContainer {
  border-width: 0.0625rem 0 0.0625rem 0.0625rem;
  border-style: solid;
  border-color: $text-03;
}

:global(.omrs-breakpoint-lt-desktop) .contextWorkspaceContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: $ui-01;
}

/* Desktop view */
:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer {
  z-index: 1;
  background-color: $ui-02;
  margin-right: 50px;
  flex: 1;
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer>header {
  background-color: $ui-03;
  border-bottom: 0.0625rem solid $text-03;
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer>header a {
  color: $ui-05;
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer>header button {
  color: $ui-05;
  fill: $ui-05;
  background-color: transparent;
  min-height: 1rem;
  height: 2.9375rem;
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer>header button:last-child {
  background-color: $ui-02;
}

:global(.omrs-breakpoint-gt-tablet) .contextWorkspaceContainer>header button:hover {
  background-color: #BFBFBF;
  color: $ui-05;
  fill: $ui-05;
}


:global(.omrs-breakpoint-gt-tablet) .maximized {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
