@import "../root.scss";

.container {
  border-width: 0.0625rem 0 0.0625rem 0.0625rem;
  border-style: solid;
  border-color: $text-03;
}

.header {
  background-color: $ui-03;
  top: 3rem;
  border-bottom: 1px solid $text-03;
  z-index: 1000;

  a {
    @include carbon--type-style('productive-heading-02');
    color: $text-01;

    &:hover {
      color: inherit;
    }
  }

  &:not(.maximized) {
    position: sticky;
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) .container {
  background-color: $ui-01;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  > .dynamicWidth {
    width: 100%;
  }
}


/* Desktop */
:global(.omrs-breakpoint-gt-tablet) .container {
  background-color: $ui-02;
  margin-right: 50px;
  flex: 1;
  
  &.maximized {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.fixed {
  position: fixed !important;
  top: 6rem;
  right: auto;
  left: auto;
  overflow-y: auto;
  bottom: 1px;
}

.fullWidth {
  // Subtract side rail width
  width: calc(100% - 50px);
}

.dynamicWidth {
  width: calc(50% - 9.6rem);
}