@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../root.scss";

.header {
  box-sizing: content-box;
  border-bottom: 1px solid $text-03;
  background-color: $ui-03;
  top: 3rem;
  z-index: 100;

  a {
    @include type.type-style('heading-compact-02');


    &:hover {
      color: inherit;
    }
  }

  &:not(.maximized) {
    right: auto;
    left: auto;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.fixed {
  position: fixed !important;
  top: 6rem;
  right: auto;
  left: auto;
  overflow-y: auto;
  background-color: $ui-02;
}

.fullWidth {
  // Subtract side rail width
  width: calc(100% - 3rem);
}


/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .maximized {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  .container {
    margin-right: 3rem;
    height: 100vh;
    border-left: 10px solid #a8a8a8;
  }
  

  .widerWorkspace {
    width: 32.25rem;
    .dynamicWidth {
      width: 32.25rem;
    }
  }

  .narrowWorkspace {
    width: 26.25rem;
    .dynamicWidth {
      width: 26.25rem;
    }
  }

  .headerGlobalBar {
    button {
      background-color: $ui-02;
      border-right: 1px solid $ui-03;
    }
    button:last-child {
      border-right: none;
    }
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .container {
    background-color: $ui-01;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8001;
  }

  .header {
    top: 0;
    background-color: var(--brand-02);

    a {
      color: $ui-02;
    }

    button {
      color: $ui-02;
      background-color: var(--brand-02);

      &:hover {
        background-color: var(--brand-03);
      }
    }
  }

  .fixed {
    top: 3rem;
    bottom: spacing.$spacing-10;
    background-color: $ui-01;
  }

  .dynamicWidth {
    width: 100%;
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  :global(.omrs-breakpoint-gt-tablet) {
    .container {
      margin-left: 3rem;
      margin-right: unset;
    }
  }
}
