@import "../root.scss";

.header {
  background-color: $ui-03;
  top: 3rem;
  border-bottom: 1px solid $text-03;
  z-index: 1000;

  a {
    @include carbon--type-style('productive-heading-02');
    color: $text-01;

    &:hover {
      color: inherit;
    }
  }

  &:not(.maximized) {
    right: auto;
    left: auto;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.fixed {
  position: fixed !important;
  top: 6rem;
  right: auto;
  left: auto;
  overflow-y: auto;
  background-color: $ui-02;
}

.fullWidth {
  // Subtract side rail width
  width: calc(100% - 50px);
}

.dynamicWidth {
  width: calc(50% - 9.6rem);
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .maximized {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  
  .container {
    margin-right: 3rem;
    flex: 1;
    height: 100vh;
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .container {
    background-color: $ui-01;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header {
    top: 0;
    background-color: var(--brand-02);

    a {
      color: $ui-02;
    }

    button {
      color: $ui-02;
      background-color: var(--brand-02);
      &:hover{
        background-color: var(--brand-03);
      }
    }
  }

  .fixed {
    top: 3rem;
    bottom: $spacing-10;
    background-color: $ui-01;
  }

  .dynamicWidth {
    width: 100%;
  }

  :global(.bx--header){
    z-index: 5;
  }
}
