@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.card {
  border: 1px solid $ui-03;
}

.activeCard {
  border: 2px solid var(--brand-03);
}

.cardHeader {
  &:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
  @include carbon--type-style("body-short-01");
  color: $text-02;
  margin-top: $spacing-02;
}

.columns {
  col {
    width: 33.3%;
  }
}

.separator {
  height: 1.5rem;
  border-bottom: 1px solid $ui-03;
  width: calc(100% - 1.5rem);
  margin-left: 0.75rem;
}

.meta {
  display: flex;
}

.tooltip {
  @include carbon--type-style('body-short-01');
  color: $ui-01;

  p {
    margin: 0.5rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.label {
  @include carbon--type-style('label-01');
  color: $labeldropdown;
  margin-right: 0.25rem;
}