@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.widgetCard {
  border: 1px solid $ui-03;
}

.outlined-card {
  border: 1px solid $ui-03;
}

.active-card {
  border: 2px solid $brand-teal-01;
}

.separator {
  height: 1.5rem;
  border-bottom: 1px solid $ui-03;
  width: calc(100% - 1.5rem);
  margin-left: 0.75rem;
}

.recent-results-grid {
  display: grid;
  background-color: white;
}

.card {
  border-radius: 0px;

  h4 {
    width: calc(100% - 220px);
  }
}

.info-button {
  margin-left: 10px;
  padding-top: 1px;
  box-sizing: content-box;
  position: absolute;
  color: black;
}

tr {
  &.critically-low, &.critically-high, &.low, &.high {
    td:nth-child(2) {
      @include carbon--type-style("productive-heading-01");
      color: $ui-05;
    }
  }

  &.critically-low, &.critically-high, &.off-scale-high, &.off-scale-low {
    outline: 2px solid $danger;
    outline-offset: -1px;
  }

  &.low, &.high {
    outline: 1px solid black;
    outline-offset: -1px;
  }

  &.critically-low {
    td:nth-child(2)::after {
      content: " ↓↓";
    }
  }
  
  &.critically-high {
    td:nth-child(2)::after {
      content: " ↑↑";
    }
  }

  &.low {
    td:nth-child(2)::after {
      content: " ↓";
    }
  }

  &.high {
    td:nth-child(2)::after {
      content: " ↑";
    }
  }

  &.off-scale-low {
    td:nth-child(2)::after {
      content: " ↓↓↓";
    }
  }

  &.off-scale-high {
    td:nth-child(2)::after {
      content: " ↑↑↑";
    }
  }
}
