@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.widgetCard {
  border: 1px solid $ui-03;
}

.separator {
  height: 1.5rem;
  border-bottom: #e0e0e0 solid 1px;
  width: calc(100% - 1.5rem);
  margin-left: 0.75rem;
}

.recent-results-grid {
  display: grid;
  background-color: white;
}

.card {
  border-radius: 0px;

  h4 {
    width: calc(100% - 220px);
  }
}

.normal-results {
  border: 0.125rem solid $brand-01;
}

.desktopHeader, .tabletHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
  background-color: $ui-background;

  h4:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid $brand-teal-01;
  }
}

.desktopHeader {  
  height: 3rem;
  h4 {
    @include carbon--type-style('productive-heading-02');
    color: $text-02;
  }
}

.tabletHeader {  
  height: 4.5rem;
  h4 {
    @include carbon--type-style('productive-heading-03');
    color: $text-02;
  }
}

.info-button {
  margin-left: 10px;
  padding-top: 1px;
  box-sizing: content-box;
  position: absolute;
}

.off-scale-high,
.off-scale-low,
.critically-high,
.critically-low,
.high,
.low {
  background-color: #fff1f1;
  color: #161616;
  td:nth-child(2) {
    font-weight: 600;
    font-family: "IBM Plex Sans", sans-serif;
  }
  outline: 0.063rem solid $ui-05;
  outline-offset: -0.130rem;
}

.critically-high,
.critically-low {
  outline: 0.063rem solid $danger;
  outline-offset: -0.130rem;

  td {
    border: unset !important;
  }
}

.off-scale-high {
  td:nth-child(2)::after {
    content: " ↑↑↑";
  }
}
.critically-high {
  td:nth-child(2)::after {
    content: " ↑↑";
  }
}
.high {
  td:nth-child(2)::after {
    content: " ↑";
  }
}
.off-scale-low {
  td:nth-child(2)::after {
    content: " ↓↓↓";
  }
}
.critically-low {
  td:nth-child(2)::after {
    content: " ↓↓";
  }
}
.low {
  td:nth-child(2)::after {
    content: " ↓";
  }
}
