@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.container {
  border-top: 0.063rem solid $ui-03;
  border-bottom: 0.063rem solid $ui-03;
  background-color: $ui-01;
}

.activePatientContainer,
.deceasedPatientContainer {
  background-color: $ui-01;
}

.buttonCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.patientBanner {
  display: flex;
}

.patientAvatar {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 1px;
}

.patientAvatarButton {
  cursor: pointer;
  border: none;
  padding: 0px;
  background: none;
}

.contactDetails {
  color: $text-02;
  width: 100%;
  border-top: 1px solid $ui-03;
  display: flex;

  a {
    @include type.type-style("body-compact-01");
    text-decoration: none;
  }
}

.tabletContactDetails {
  display: block;

  .row {
    &:first-child {
      border-bottom: 1px solid $ui-03;
    }
  }

  .row > .col {
    &:nth-of-type(2n + 1) {
      border-right: 1px solid $ui-03;
    }
  }
}
