@use '@carbon/layout';

.visitContextHeader {
  display: grid;
  column-gap: layout.$spacing-03;
  padding: layout.$spacing-03;
  font-size: layout.$spacing-04;
  grid-template-areas:
    'addingTo visitType'
    'addingTo visitInfo';
  grid-template-columns: max-content 1fr;
}

.activeVisit {
  background-color: #defbe6;
}

.retroactiveVisit {
  background-color: #f4f4f4;
}

.addingTo {
  grid-area: addingTo;
}

.visitType {
  font-size: 14px;
  font-weight: 600;
  grid-area: visitType;
}

.visitInfo {
  grid-area: visitInfo;
  display: flex;
  align-items: center;
  justify-items: center;
}
