@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.desktopContainer {
  background-color: colors.$gray-10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.tabletContainer {
  @extend .desktopContainer;
  background-color: colors.$white-0;
}

.tile:not(:first-child) {
  margin-top: 2rem;
}

.desktopTile {
  position: relative;
  border-left: layout.$spacing-02 solid colors.$purple-70;
  background-color: colors.$white-0;
  border-right: none;
  padding: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: colors.$purple-20;
  }
}

.tabletTile {
  @extend .desktopTile;
  border-top: 1px solid colors.$purple-20;
}

.collapsedTile {
  border-bottom: none;
  min-height: 0;

  .orderBasketHeader {
    margin-bottom: 0;
  }
}

.tabletTile.collapsedTile {
  border-bottom: 1px solid $grey-2;
}

.desktopTile .container {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletTile .container {
  padding: layout.$spacing-03;

  h4 {
    @include type.type-style('heading-03');
    color: $ui-05;
  }
}

.heading {
  margin-left: layout.$spacing-03;
}

.iconAndLabel {
  display: flex;
  align-items: center;
  margin: layout.$spacing-03;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.addButton {
  svg {
    fill: currentColor !important;
  }
}

.chevron {
  svg {
    fill: black;
  }
}
