@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.clickableTileDesktop {
  padding: layout.$spacing-03 layout.$spacing-04;
  border-bottom: 1px solid $ui-03;
}

.clickableTileTablet {
  padding: layout.$spacing-04 layout.$spacing-05;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-03;
}

.orderBasketItemTile {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.label {
  display: inline-block;
  @include type.type-style('label-01');
  margin-bottom: layout.$spacing-03;
}

.orderActionNewLabel {
  @extend .label;
  color: black;
  background-color: #c4f4cc;
  padding: 0 layout.$spacing-02;
}

.orderActionIncompleteLabel {
  @extend .label;
  color: white;
  background-color: $danger;
  padding: 0 layout.$spacing-02;
}

.orderActionRenewLabel {
  @extend .label;
  color: $support-02;
}

.orderActionRevisedLabel {
  @extend .label;
  color: #943d00;
}

.orderActionDiscontinueLabel {
  @extend .label;
  color: $danger;
}

.orderErrorText {
  color: $danger;
  display: flex;
  align-items: center;
}

.name {
  @include type.type-style('heading-compact-01');
  color: black;
}

.removeButton {
  svg {
    fill: $danger !important;
  }
}

.label01 {
  @include type.type-style('label-01');
}

.clipTextWithEllipsis {
  font-size: layout.$spacing-05;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.priceAndStockContainer {
  border-top: 1px solid $grey-2;
  margin-top: layout.$spacing-03;
  padding-top: layout.$spacing-03;
  font-size: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: layout.$spacing-02;
}
