@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.loading {
  margin-left: layout.$spacing-05;
  width: layout.$spacing-07;
  min-height: layout.$spacing-08;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;

  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }

  :global(.cds--inline-loading__text) {
    @include type.type-style('body-01');
  }
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.formContainer {
  margin: layout.$spacing-05;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.notification {
  margin: 0;
  min-width: 100%;
  padding: 0;
}

.programName {
  @include type.type-style('body-compact-02');
}

.locationLabel {
  margin-bottom: layout.$spacing-05;
}
