@use '@carbon/type';
@use '@carbon/layout';
@import '@openmrs/esm-styleguide/src/vars';

.loading {
  margin-left: 1rem;
  width: 2rem;
  min-height: 2.5rem;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;

  :global(.cds--inline-loading__text) {
    @include type.type-style('body-01');
  }
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.formContainer {
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.errorMessage {
  @include type.type-style("label-02");
  margin-top: layout.$spacing-03;
  color: $danger;
}

.notification {
  margin: 0;
  min-width: 100%;
  padding: 0;
}
