.topnav {
  display: flex;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  width: 100%;
  background-color: var(--omrs-color-bg-lowest-contrast);
  height: 3rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top: 0;
  scrollbar-width: none;
}

.topnav::-webkit-scrollbar {
  display: none;
}

.topnav ul {
  flex: 0 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.topnav ul li {
  float: left;
  list-style-type: none;
  text-align: center;
}

.topnav ul button {
  padding: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.topnav button:focus {
  outline: none !important;
}

.selected {
  color: var(--omrs-color-ink-high-contrast);
  background-color: var(--omrs-color-bg-low-contrast);
}

.unselected {
  color: var(--omrs-color-ink-medium-contrast);
}

.topnav a {
  color: inherit;
}

.chartSection {
  margin-top: 3.25rem;
}
