@import "../root.scss";
@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.paginationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $ui-02;
  position: absolute;
  bottom: 0;
  width: 34.563rem;
  overflow: scroll;
  -ms-overflow-style: none;
  width: 100%;
  height: 3rem;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.paginationContainer::-webkit-scrollbar {
  display: none;
}

:global(.omrs-breakpoint-lt-tablet) .paginationContainer {
  min-width: 34.563rem;
}

.paginationLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  position: absolute;
  background-color: $ui-02;
  padding-left: 1rem;
  color: $color-gray-70;
  @extend .bodyShort01;
  height: 3rem;
  margin: 0;
  border-top: 0.063rem solid $ui-03;
}

.configurableLink {
  text-decoration: none;
  @extend .bodyShort01;
  padding: 0 $spacing-03;
}

.pagination {
  border: none;
  background-color: $ui-02;
  position: absolute;
  right: 0;
  border-top: 0.063rem solid $ui-03;
  min-width: 15.125rem;

  max-width: 100%;
}
.pagination > :first-child {
  visibility: hidden;
  width: 0;
}

.pagination :nth-child(2),
.pagination :nth-child(2) > div {
  display: flex;
}
