@use '@carbon/styles/scss/spacing';
@import "../../root";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 9rem);
}

.orderBasketContainer {
  margin: spacing.$spacing-05;
}

.orderBasketContainer :global(.cds--btn-set .cds--btn) {
  max-width: 50%;
  height: 4rem;
}

.spinner :global(.cds--loading__stroke) {
  stroke: var(--brand-03);
}

.activeMedicationsContainer {
  border: 1px solid $ui-03;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.inlineNotification, .actionNotification {
  max-width: unset !important;
}