@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.off-scale-high,
.off-scale-low,
.critically-high,
.critically-low,
.high,
.low {
  p {
    @include type.type-style('heading-compact-01');
  }
}

.high,
.low {
  background-color: colors.$orange-10 !important;
  border-top: 1px solid colors.$orange-20 !important;
}

.critically-high,
.critically-low {
  background-color: colors.$red-20 !important;
  border-top: 1px solid colors.$red-20-hover !important;
}

.off-scale-low {
  p::after {
    content: ' ↓↓↓';
  }
}

.off-scale-high {
  p::after {
    content: ' ↑↑↑';
  }
}

.critically-low {
  p::after {
    content: ' ↓↓';
  }
}

.critically-high {
  p::after {
    content: ' ↑↑';
  }
}

.low {
  p::after {
    content: ' ↓';
  }
}

.high {
  p::after {
    content: ' ↑';
  }
}

.trendline-link-view {
  color: colors.$blue-60;
  cursor: pointer;
}

.trendline-link-view:hover {
  text-decoration: underline;
}

.resultType {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 5px;
}

.date {
  color: $text-02;
  padding-right: 0.625rem;
}

.date::after {
  content: '';
  display: block;
  width: layout.$spacing-07;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.displayFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.viewTimeline {
  display: flex;
  margin-left: auto;
}

.cardTitle {
  background-color: white;
  padding: 0.5rem;
}

.tableContainer {
  padding: 0;

  :global(.cds--data-table-content) {
    border: 1px solid $ui-03;
    border-bottom: none;
    overflow: visible;
  }

  :global(.cds--data-table-header) {
    padding: 0;
  }

  :global(.cds--table-toolbar) {
    position: relative;
    height: layout.$spacing-07;
    overflow: visible;
    top: 0;
  }

  &:global(.cds--data-table-container) {
    background: none !important;
  }

  :global(.cds--toolbar-content) {
    height: layout.$spacing-05;
    margin-bottom: layout.$spacing-02;
  }
}
