@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  margin: layout.$spacing-05 0;
  border: 1px solid $ui-03;
}

.emptyStateContainer {
  text-align: center;
  margin: layout.$spacing-05 0;
}
