@use '@carbon/layout';

.backButton {
  padding: layout.$spacing-03;

  button {
    display: flex;
    margin-left: -(layout.$spacing-03);

    svg {
      margin-right: layout.$spacing-03;
    }
  }
}
