@use '@carbon/layout';
@use '@carbon/type';

.dashboardTitle {
  @include type.type-style('heading-03');
  margin: layout.$spacing-05 0 layout.$spacing-05 1.3125rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1.3125rem;
  margin: 1.3125rem;
}

// See https://zpl.io/lrlmdq0 for the Visits dashboard design
[data-extension-slot-name='patient-chart-encounters-dashboard-slot'],
// See https://zpl.io/RmMXrDE for the Test Results dashboard design
[data-extension-slot-name='patient-chart-test-results-dashboard-slot'] {
  margin: 0 layout.$spacing-05;
}

.dashboardContainer:not(:has([data-extension-slot-name='patient-chart-attachments-dashboard-slot'])) {
  container-name: dashboard;
  container-type: inline-size;
}

// Using 1100px here to account for the widget loading area, this ensures it collapses when the
// workspace opens and lacks sufficient space.
@container dashboard (width <= 68.25rem) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

.extensionWrapper {
  height: 100%;

  > * {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.extension:only-child {
  grid-column: 1 / -1;
}

.fullWidth {
  grid-column: 1 / -1;
}

:global(.omrs-breakpoint-lt-desktop) .dashboard {
  grid-template-columns: 1fr;
}

:global(.omrs-breakpoint-lt-tablet) .container {
  margin: 5px;
  overflow-x: auto;
  justify-content: center;
}

:global(.omrs-breakpoint-lt-tablet) .dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

:global(.omrs-breakpoint-lt-tablet) .dashboard > div {
  margin: layout.$spacing-01 0px;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .dashboardTitle {
    margin: layout.$spacing-05 1.3125rem layout.$spacing-05 0;
  }
}
