@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/_vars' as *;

.stickerContainer {
  padding: layout.$spacing-03 layout.$spacing-05;
  height: var(--omrs-print-label-sticker-height, auto);
  width: var(--omrs-print-label-sticker-width, auto);
}

.documentHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $brand-01;
  margin-bottom: layout.$spacing-05;
}

.row {
  margin: layout.$spacing-03 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
}

.gridRow {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    margin-left: 0px;
    margin-bottom: 5px;
  }
}

.patientName {
  font-size: layout.$spacing-06;
  font-weight: bolder;
  margin-bottom: 5px;
}

.button {
  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: layout.$spacing-03 0;
  margin-top: layout.$spacing-03;
}

.loader {
  :global(.cds--inline-loading__text) {
    @include type.type-style('body-01');
  }
}

.strong {
  @include type.type-style('heading-04');
  font-weight: 700;
  margin-inline-end: layout.$spacing-03;
}

.patientDetail {
  @include type.type-style('heading-03');
}

.implementationLogo {
  width: 40%;
}

.previewContainer {
  max-height: 10rem;
  overflow-y: scroll;
  background-color: white;
  width: 100%;
  border: 1px solid $ui-03;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.labelNumberInput {
  padding: 1rem;
}

.hidePreviewContainer {
  display: none;
}

.printRoot {
  @media print {
    @page {
      size: var(--omrs-print-label-paper-size, auto);
    }

    html,
    body {
      height: initial !important;
      overflow: initial !important;
      background-color: white;
    }

    .pageBreak {
      page-break-after: always;
      // page-break-inside: avoid;
    }
  }

  .labelsContainer {
    grid-template-columns: repeat(var(--omrs-print-label-colums, 1), 1fr);
    grid-template-rows: repeat(var(--omrs-print-label-rows, 1), auto);
  }
}

.printContainer {
  background-color: $ui-01;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.labelsContainer {
  display: grid;
  column-gap: 1.3rem;
  row-gap: 1rem;
  place-items: center;
  background-color: white;
}

.multipleStickerInputs {
  display: flex;
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;
}
