@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/_vars' as *;

.stickerContainer {
  padding: layout.$spacing-03 layout.$spacing-05;
}

.gridContainer {
  padding-left: 0;
}

.documentHeader {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid $brand-01;
  margin-bottom: layout.$spacing-08;
  padding-bottom: layout.$spacing-08;
}

.row {
  margin: layout.$spacing-03 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
}

.gridRow {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    margin-left: 0;
    margin-bottom: 5px;
  }
}

.patientName {
  font-size: layout.$spacing-06;
  font-weight: bolder;
  margin-bottom: 5px;
}

.button {
  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: layout.$spacing-03 0;
  margin-top: layout.$spacing-03;
}

.loader {
  :global(.cds--inline-loading__text) {
    @include type.type-style('body-01');
  }
}

.patientDetailLabel {
  @include type.type-style('heading-03');
}

.multipleStickerToggle {
  :global(.cds--toggle__label-text) {
    @include type.type-style('heading-03');
    font-weight: 700;
  }

  :global(.cds--toggle__switch--checked) {
    background-color: colors.$green-50;
  }
}

.patientDetail {
  @include type.type-style('heading-04');
  font-weight: 700;
  margin-inline-end: layout.$spacing-03;
  text-align: left;
}

.implementationLogo {
  display: flex;
}

.previewContainer {
  max-height: layout.$spacing-13;
  overflow: scroll;
  background-color: white;
  width: 100%;
  border: 1px solid $ui-03;
  margin-left: auto;
  margin-right: auto;
  padding: layout.$spacing-07;
}

.labelNumberInput {
  padding: layout.$spacing-05;
}

.hidePreviewContainer {
  display: none;
}

.printRoot {
  @media print {
    @page {
      size: var(--omrs-print-label-paper-size, auto);
    }

    html,
    body {
      height: initial !important;
      background-color: white;
    }

    .pageBreak {
      page-break-after: always;
    }
  }

  .labelsContainer {
    grid-template-columns: repeat(var(--omrs-print-label-columns, 1), 1fr);
    grid-template-rows: repeat(var(--omrs-print-label-rows, 1), auto);
  }

  .stickerContainer {
    height: var(--omrs-print-label-sticker-height, auto);
    width: var(--omrs-print-label-sticker-width, auto);
  }
}

.printContainer {
  background-color: $ui-01;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.labelsContainer {
  display: grid;
  column-gap: 1.25rem;
  row-gap: layout.$spacing-05;
  place-items: center;
  background-color: white;
}

.multipleStickerInputs {
  display: flex;
  gap: layout.$spacing-05;
}

.previewButton {
  margin-top: layout.$spacing-05;
}

.fieldsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: layout.$spacing-05 layout.$spacing-05;
  align-items: baseline;
  padding-bottom: layout.$spacing-05;
}

.fieldRow {
  display: contents;
}

.fieldsTable {
  table-layout: fixed;
  width: 100%;
}

.fieldsTableCell div {
  display: grid;
  gap: layout.$spacing-05;
}
