@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../root";

.desktopTile {
  background-color: $ui-02;
  padding: 0;
  border-top: 1px solid #e8daff;
  border-right: none;
}

.tabletTile {
  background-color: $ui-02;
  padding: 0;
}

.collapsedTile {
  border-bottom: none;
  min-height: 0;
  .orderBasketHeader {
    margin-bottom: 0;
  }
}

.tabletTile.collapsedTile {
  border-bottom: 1px solid $grey-2;
}

.heading {
  background-color: $ui-02;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.desktopTile .heading {
  border-left: 4px solid #6929c4;

  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletTile .heading {
  padding: spacing.$spacing-03;
  border: 1px solid $grey-2;
  border-bottom: none;

  h4 {
    @include type.type-style('heading-03');
    color: $ui-05;
  }
}

.title {
  display: flex;
  align-items: center;
}

.desktopIcon {
  margin: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.tabletIcon {
  margin: 1rem 0.5rem 1rem 1rem;
}

.buttonContainer {
  display: flex;
  align-items: baseline;
}

.chevron {
  svg {
    fill: black;
  }
}
