@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../root";

.clickableTileDesktop {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid $ui-03;
}

.clickableTileTablet {
  padding: 0.75rem 1rem;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-03;
}

.orderBasketItemTile {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.label {
  display: inline-block;
  @include type.type-style("label-01");
  margin-bottom: 0.5rem;
}

.orderActionNewLabel {
  @extend .label;
  color: black;
  background-color: #C4F4CC;
  padding: 0 0.25rem;
}

.orderErrorText {
  color: $danger;
  display: flex;
  align-items: center;
}

.name {
  @include type.type-style("heading-compact-01");
  color: black;
}

.removeButton {
  svg {
    fill: $danger !important;
  }
}
