@use '@carbon/layout';

.actionCellContainer {
  white-space: nowrap;
}

.menuItem {
  max-width: none;
}

.actionsCell {
  display: flex;
  justify-content: flex-end;
  height: layout.$spacing-09;
  align-items: center;
}
