@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

$ui-03: #e0e0e0;
$ui-05: #161616;
$color-gray-70: #525252;

.label01 {
  @include carbon--type-style("label-01");
}

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}

.biometricChartContainer {
  display: flex;
  text-align: left;
  margin: 0 $spacing-03;
  flex-direction: row;
  justify-content: space-between;
}

.biometricSignsArea {
  margin: $spacing-03 0;
  padding: 0rem;
  width: 8.938rem;
  border-right: 0.063rem solid $ui-03;
  padding-right: $spacing-05;
  height: 13.875rem;
  flex: 1;
}

.biometricChartArea {
  padding: $spacing-03 $spacing-05;
  width: 100%;
  height: 13.875rem;
  flex: 4;
}

.biometricSign {
  @extend .label01;
  color: $color-gray-70;
  width: 7.063rem;
}

.biometricSignsRadioButton {
  @extend .bodyShort01;
  color: $ui-05;
  padding: $spacing-03 0;
}
