@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.widgetCard {
  border: 1px solid $ui-03;
  background-color: $ui-02;
}

.biometricsHeaderActionItems {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}

.divider {
  width: 1px;
  height: 1rem;
  color: $ui-03;
  margin: 0rem 0.5rem;
}

.toggleButtons {
  width: fit-content;
  margin: 0 $spacing-03;
}

.toggle {
  padding: 0.5rem;
  color: $interactive-01;
  min-height: 0px;

  &:global(.bx--btn--tertiary) {
    border-color: $interactive-01;
  }

  &:global(.bx--tooltip__trigger:active:not([disabled])) {
    border-color: $interactive-01;
  }

  &:global(.bx--btn--tertiary:active) {
    border-color: $interactive-01;
    background-color: #edf5ff;
    color: #edf5ff;
  }

  &:global(.bx--btn--tertiary:focus) {
    background-color: $interactive-01;
    color: $ui-background;
  }

  &:global(.bx--btn--tertiary:hover) {
    color: $ui-background;
    background-color: $interactive-01;
  }

  &:global(.bx--btn--ghost) {
    border-color: #a6c8ff;
  }

  &:global(.bx--btn--ghost:hover) {
    color:  #000;
    background-color: $ui-01;
  }
}

.toggle:first-of-type {
  border-radius: $spacing-02 0 0 $spacing-02;

  &:global(.bx--btn--ghost) {
    border-right: 0;
  }
}

.toggle:last-of-type {
  border-radius: 0 $spacing-02 $spacing-02 0;

  &:global(.bx--btn--ghost) {
    border-left: 0rem;
  }
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}
