@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.label {
	@include carbon--type-style('label-01');
	color: $text-02;
}

.content {
	@include carbon--type-style('body-short-01');
	color: $text-02;
	margin-top: 5px;
}

.value {
	@include carbon--type-style('body-short-01');
	color: $text-01;
}