// trendline.scss
@import "~@carbon/charts/styles.css";
@import "~@carbon/colors/scss/index.scss";

.ui-shell-header-modal-bar-default {
  height: 3rem;
  object-fit: contain;
  background-color: #005d5d;
  color: white;
  padding-top: 1rem;
  padding-left: 0.938rem;
  display: flex;
}

.title {
  height: 1.375rem;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38rem;
  letter-spacing: normal;
  justify-self: center;

  color: #525252;
}

:global(.bx--cc--area path.area) {
  stroke: none !important;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 4rem;
  align-items: center;
  background: white;
  padding: 1.375rem;
  border-bottom: #e0e0e0 solid 1px;
  font-family: Roboto, sans-serif !important;
}

.back-button {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;

  color: #0f62fe;
}

.Background {
  width: 100%;
  // height: 20.125rem;
  // margin: 3rem 12rem 1rem;
  padding: 2.375rem 5.688rem 2.188rem 1rem;
  background: white;
}

.Actions-Navigation-arrow--left-16 {
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--open-mrs-background-gray);
}
