@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetContainer {
  background-color: $ui-background;
  border: 1px solid $ui-03;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-04 0 layout.$spacing-04 layout.$spacing-05;
}

.headerActionItems {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}

.headerTime {
  font-weight: 400;
}
