@import "../root";

.orderBasketContainer {
  margin: $spacing-05;
}

.orderBasketContainer :global(.bx--btn-set .bx--btn) {
  max-width: 50%;
  height: 4rem;
}

.spinner :global(.bx--loading__stroke) {
  stroke: var(--brand-03);
}

.activeMedicationsContainer {
  border: 1px solid $ui-03;
}
