@import "../root";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 9rem);  
}

.orderBasketContainer {
  margin: $spacing-05;
}

.orderBasketContainer :global(.bx--btn-set .bx--btn) {
  max-width: 50%;
  height: 4rem;
}

.spinner :global(.bx--loading__stroke) {
  stroke: var(--brand-03);
}

.activeMedicationsContainer {
  border: 1px solid $ui-03;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

