@import "../root";

.actionText {
  @include carbon--type-style("body-short-01");
  color: $text-02;
  margin-bottom: 1rem;
}

.content {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-top: $spacing-05;
  margin-bottom: $spacing-03;
}

.heading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 1rem;
  @include carbon--type-style("productive-heading-03");
  color: $text-02;
}

.heading:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 3px;
  border-bottom: 0.375rem solid var(--brand-03);
}

.orderCategoryHeading {
  @extend .bodyShort01;
  color: $text-02;
  margin: $spacing-05 0;
}

.desktopTile {
  text-align: center;
  border: 1px solid $ui-03;
}

.tabletTile {
  text-align: center;
}

.orderBasketHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 0 $spacing-05;
  background-color: $ui-background;
}

.orderBasketHeader > h4:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 3px;
  border-bottom: 0.375rem solid var(--brand-03);
}

.orderBasketContainerDesktop {
  margin-bottom: 1rem;
}

.orderBasketContainerTablet {
  margin-bottom: 1rem;
  border: 1px solid $ui-03;
}
