@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../../root.scss";

.diagnosisLabel {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: 5px;
}

.diagnosesList {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 0.5rem;
  margin: 0 1rem;
  border-bottom: 1px solid $ui-03;
}

.summaryContainer {
  background-color: $ui-background;
  display: grid;
  grid-template-columns: max-content auto;
  padding: 1rem 0rem;
}

.verticalTabs {
  margin: 1rem 0;
  scroll-behavior: smooth;
}

.verticalTabs > ul {
  flex-direction: column !important;
}

.verticalTabs :global(.cds--tabs--scrollable .cds--tabs--scrollable__nav-item+.cds--tabs--scrollable__nav-item) {
  margin-left: 0rem;
}

.verticalTabs :global(.cds--tabs--scrollable .cds--tabs--scrollable__nav-link) {
  border-bottom: 0 !important;
  border-left: 2px solid $color-gray-30;
}

.tab:hover {
  border-bottom: none !important;
}

.tab > button:first {
  text-indent: 5rem;
}

.tab > button, 
.tab > button:focus, 
.tab > button:active {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.selectedTab > button {
  border-left: 3px solid var(--brand-03) !important;
  border-bottom: 0 !important;
  font-weight: 600 !important;
}

.tablist :global(.cds--tab--list) {
  flex-direction: column;
  max-height: 100%;
  overflow-x: visible;
}
