@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";
@import "../../../root.scss";

.diagnosisLabel {
  @include carbon--type-style('productive-heading-01');
  color: $text-02;
  margin-top: 5px;
}

.diagnosesList {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 0.5rem;
  margin: 0 1rem;
  border-bottom: 1px solid $ui-03;
}

.summaryContainer {
  background-color: $ui-background;
  display: grid;
  grid-template-columns: max-content auto;
  padding: 1rem 0rem;
}

.verticalTabs {
  margin: 1rem 0;

  &:global(.bx--tabs--scrollable .bx--tabs--scrollable__nav-item+.bx--tabs--scrollable__nav-item) {
    margin-left: 0rem;
  }
  
  > ul {
    flex-direction: column !important;
  }
}

.tab > {
  button {
    border-bottom: 0 !important;
    border-left: 3px solid $ui-03 !important;
  }
  
  button, button:focus, button:active {
    outline: 0 !important;
    outline-offset: 0 !important;
  }
}

.selectedTab > button {
  border-left: 3px solid var(--brand-03) !important;
  border-bottom: 0 !important;
  font-weight: 600 !important;
}
