@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../../../root.scss";

.tableContainer {
  padding: 0;

  :global(.cds--data-table) td {
    text-align: start;
  }

  :global(.cds--data-table-header) {
    padding: 0;
  }

  :global(.cds--table-toolbar) {
    position: relative;
    overflow: visible;
    top: 0;
  }

  &:global(.cds--data-table-container) {
    background: none !important;
  }

  :global(.cds--table-header-label) {
    text-align: start;
  }
}

.filterContainer {
  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: 1rem;
  }
}

.search {
  max-width: 16rem;
}

.menuItem {
  max-width: none;
}

.expandedRow {
  padding-inline-start: 3.5rem;

  > td {
    padding: inherit !important;

    > div {
      max-height: max-content !important;
    }
  }

  > div {
    background-color: $ui-02;
  }
}

.hiddenRow {
  display: none;
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.layer {
  height: 100%;

  :global(.cds--btn--primary) {
    background-color: unset;
  }
}
