@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.grid {
  width: fit-content;
  display: grid;
  grid-auto-rows: auto;
  gap: 1px;
  justify-items: center;
  align-items: center;
}

.day-column, .year-column {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}

.time-column {
  @include type.type-style('body-compact-01');
  color: $text-02;
  scroll-snap-align: start;
}

.padded-main {
  box-sizing: border-box;
  padding: 20px;
}

.timeline-cell {
  background-color: white;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
}

.timeline-data-cell {
  @extend .timeline-cell;
  justify-items: first baseline;

  p {
    @include type.type-style('body-compact-01');
    color: $text-02;
  }
}

.row-start-cell {
  @extend .timeline-cell;
  position: sticky;
  left: 0;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5px;
  justify-items: baseline;
  align-items: center;
  padding: 1rem;
}

.timeline-cell-zebra {
  background-color: $ui-03;
}

.padding-container {
  padding: 0px 0px 0px 0;
  box-sizing: border-box;
  background-color: $openmrs-background-grey;
  display: grid;
  grid-auto-flow: row;
  column-gap: 1px;
  row-gap: 0px;
  grid-template: auto auto / 9em auto;
  border-collapse: collapse;

  width: fit-content;
  max-width: 100%;
}

.padding-container::-webkit-scrollbar {
  display: none;
}

.time-slot-inner {
  background-color: $ui-03;
  padding: 3px 10px;
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  align-items: center;

  span {
    position: sticky;
    left: calc(10em + 10px);
    width: max-content;
  }
}

.corner-grid-element {
  grid-row: span 1;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 3;
  padding: 0rem 1rem;

  span {
    @include type.type-style('heading-compact-01');
    width: auto;
    left: 0;
  }
}

.trendline-link {
  @include type.type-style('body-compact-01');
  cursor: pointer;
}

.range-units {
  @include type.type-style('helper-text-01');
 //  color: $text-05; // WIP
}

.off-scale-high,
.off-scale-low,
.critically-high,
.critically-low,
.high,
.low {
  p {
    @include type.type-style('heading-compact-01');

  }
}

.high,
.low {
  box-shadow: 0 0 0 1px #000000;
}

.critically-high,
.critically-low {
  box-shadow: 0 0 0 1px $danger, inset 0 0 0 1px $danger;
}

.off-scale-low {
  p::after {
    content: " ↓↓↓";
  }
}

.off-scale-high {
  p::after {
    content: " ↑↑↑";
  }
}

.critically-low {
  p::after {
    content: " ↓↓";
  }
}

.critically-high {
  p::after {
    content: " ↑↑";
  }
}

.low {
  p::after {
    content: " ↓";
  }
}

.high {
  p::after {
    content: " ↑";
  }
}

.shadow-box {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
}

.recent-results-grid {
  display: grid;
  overflow: auto;
  max-height: calc(100vh - 9rem);
  width: 100%;
  display: flex;
}

.recent-results-grid::-webkit-scrollbar {
  display: none;
}
