@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.heading {
  margin-bottom: layout.$spacing-05;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  margin-bottom: layout.$spacing-04;
}

.modalBody {
  padding-bottom: layout.$spacing-05;
}

.textInput {
  margin: layout.$spacing-02 0 layout.$spacing-05;
}

.errorDiv {
  color: $danger;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;

  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset !important;
  }
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

:global(.omrs-breakpoint-lt-desktop) .form {
  background-color: #ededed;
}

:global(.omrs-breakpoint-gt-tablet) .form {
  background-color: $ui-02;
}

.grid {
  margin: layout.$spacing-05;
}

.row {
  margin: layout.$spacing-03 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
}

.spacer {
  margin-top: layout.$spacing-05;
}
