@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.flagsList {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
}

.flagTile {
  display: flex;
  justify-content: space-between;
  background-color: $openmrs-background-grey;
  padding: 1rem;
  margin-bottom: 0.5rem;

  .flagTitle {
    font-size: 0.875rem;
  }
}

.flagsHeaderInfo {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin: 1rem 0;
}
.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tabletButtonSet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
  bottom: 2.5rem;
  position: absolute;
  width: 100%;
}

.desktopButtonSet {
  padding: 0rem;
  bottom: 2.5rem;
  position: absolute;
  width: 100%;
}
