@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.flagIcon{
    font-size: medium;
}

.flagTag {
  padding: 0 0.5rem;
  span {
    display: flex;
    align-items: center;
  }
}

.infoFlagTag {
  padding: 0 0.5rem;
  background-color: #ffd9be;
  color: #934412;
  font-weight: 500;
}

.highlightBarcontainer {
  display: flex;
  align-items: center;
  position: 'relative';
  padding: 0.5rem;
  border-bottom: 0.063rem solid #e0e0e0;
}

.toggleTip {
  & > button{
      border-bottom: none;
      outline: none;
  }

  :global(.cds--toggletip-button:focus) {
    border: none;
    outline: none;
  }

  .tooltipContent {
    max-width: 12rem;
  }
}

.flagsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.tooltipPadding {
    padding: 0.25rem;
}

