@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../root";

.container {
  position: relative;
  min-height: var(--desktop-workspace-window-height);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.patientHeader {
  padding: spacing.$spacing-03 spacing.$spacing-05 spacing.$spacing-06;
  background-color: $ui-01;

  span:first-of-type {
    margin-right: spacing.$spacing-03;
  }

  .text02 {
    color: $text-02;
  }
}

.backButton {
  padding: spacing.$spacing-03;

  button {
    display: flex;
    padding-left: 0 !important;

    svg {
      order: 1;
      margin-right: spacing.$spacing-03;
      margin-left: 0 !important;
    }

    span {
      order: 2;
    }
  }
}
