@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.orderForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :global(.cds--css-grid) {
    max-width: unset;
  }

  :global(.cds--css-grid-column) {
    margin: 0 !important;
  }

  :global(.cds--subgrid) {
    margin: 0 calc(layout.$spacing-03 * -1) !important;
  }

  :global(.cds--number--nosteppers.cds--number input[type='number']) {
    padding-right: layout.$spacing-05;
  }

  :global(.cds--number__control-btn) {
    border: 0;
  }
}

.form {
  margin: layout.$spacing-05;
}

.gridRow {
  padding: 0px;

  :global(.cds--number) {
    display: inline-block;
  }
}

.field {
  margin-bottom: layout.$spacing-05;
}

.buttonSet {
  :global(.cds--btn) {
    width: 50%;
    max-width: unset;
  }
}

.errorContainer {
  margin: layout.$spacing-05;
}

.errorNotification {
  margin: layout.$spacing-03 0;
}

.testTypeLabel {
  @include type.type-style('label-01');
  color: $text-02;
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .orderForm {
    height: calc(100vh - layout.$spacing-12 - var(--workspace-header-height));
    background-color: #ededed;
  }

  .buttonSet {
    padding: layout.$spacing-06 layout.$spacing-05;
    background-color: $ui-02;
  }

  .errorContainer {
    margin: layout.$spacing-05;
    margin-bottom: calc(var(--bottom-nav-height) + layout.$spacing-05);
  }
}

.bodyShort02 {
  @include type.type-style('body-compact-02');
}
