@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../root";

.orderForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: spacing.$spacing-03 0 0 spacing.$spacing-05;

  :global(.cds--css-grid) {
    max-width: unset;
  }

  :global(.cds--css-grid-column) {
    margin: 0 spacing.$spacing-03 !important;
  }

  :global(.cds--subgrid) {
    margin: 0 calc(spacing.$spacing-03 * -1) !important;
  }

  :global(.cds--number--nosteppers.cds--number input[type=number]) {
    padding-right: spacing.$spacing-05;
  }

  :global(.cds--list-box) {
    border: none;
  }

  :global(.cds--number__control-btn) {
    border: 0;
  }
}

.gridRow {
  padding: 0px;
  margin-left: calc(spacing.$spacing-03 * -1);

  :global(.cds--number) {
    display: inline-block;
  }
}

.field {
  margin-bottom: spacing.$spacing-05;
}

.buttonSet {
  margin-left: calc(spacing.$spacing-05 * -1);

  :global(.cds--btn) {
    width: 50%;
    max-width: unset;
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .orderForm {
    height: calc(100vh - 10rem);
    background-color: #ededed;
  }

  .buttonSet {
    padding: spacing.$spacing-06 spacing.$spacing-05;
    background-color: $ui-02;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}