@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../root";


.orderForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :global(.cds--css-grid) {
    max-width: unset;
  }

  :global(.cds--css-grid-column) {
    margin: 0 spacing.$spacing-03 !important;
  }

  :global(.cds--subgrid) {
    margin: 0 calc(spacing.$spacing-03 * -1) !important;
  }

  :global(.cds--number--nosteppers.cds--number input[type=number]) {
    padding-right: spacing.$spacing-05;
  }

  :global(.cds--number__control-btn) {
    border: 0;
  }
}
.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile {
  margin: auto;
  width: fit-content;
}
.tileContainer {
  background-color: colors.$gray-10;
  border-top: spacing.$spacing-05;
  padding: 5rem 0;
}
.content {
  @include type.type-style('heading-compact-02');
  margin-bottom: 0.5rem;
}
.form {
  margin: spacing.$spacing-05;
}

.gridRow {
  padding: 0px;

  :global(.cds--number) {
    display: inline-block;
  }
}

.field {
  margin-bottom: spacing.$spacing-05;
}

.buttonSet {
  :global(.cds--btn) {
    width: 50%;
    max-width: unset;
  }
}

.errorContainer {
  margin: 1rem;
}

.errorNotification {
  margin: 0.5rem 0;
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .orderForm {
    height: calc(100vh - 6rem - var(--workspace-header-height));
    background-color: #ededed;
  }

  .buttonSet {
    padding: spacing.$spacing-06 spacing.$spacing-05;
    background-color: $ui-02;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .errorContainer {
    margin: 1rem;
    margin-bottom: calc(var(--bottom-nav-height) + 1rem);
  }
}
