.patientBanner {
  display: flex;
  justify-content: space-between;
  height: 2.75rem;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}
.demographics {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-grow: 1;
  padding-left: 1.5rem;
}

:global(.omrs-breakpoint-lt-tablet) .demographics {
  padding-left: 1rem;
}

:global(.omrs-breakpoint-gt-tablet) .otherDemographics {
  margin: 0 1.25rem;
}
:global(.omrs-breakpoint-lt-desktop) .otherDemographics {
  margin: 0 1.875rem;
}

:global(.omrs-breakpoint-lt-desktop) .desktopLabel {
  display: none;
}

:global(.omrs-type-body-regular).demographic {
  color: var(--omrs-color-ink-medium-contrast);
  font-weight: 500;
}

:global(.omrs-breakpoint-lt-tablet) .otherDemographics {
  display: none;
}

.patientName,
:global(.omrs-breakpoint-lt-desktop.omrs-breakpoint-gt-phone)
  .otherDemographics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:global(.omrs-breakpoint-gt-tablet) .otherDemographics {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.omrs-breakpoint-gt-tablet) .desktopLabel {
  margin-right: 0.5rem;
  color: var(--omrs-color-ink-medium-contrast);
}

.moreBtn {
  color: var(--omrs-color-ink-medium-contrast);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profileWrapper {
  padding: 0.5rem;
  width: 100%;
}

.collapseBtn {
  background-color: var(--omrs-color-bg-high-contrast);
  color: var(--omrs-color-ink-medium-contrast);
  cursor: pointer;
}

.icon {
  vertical-align: middle;
}

.patientBanner {
  width: 100%;
  position: fixed;
}

.patientProfile {
  margin-top: var(--omrs-topnav-height);
  width: 100%;
}
