@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tableContainer :global(.cds--data-table-header) {
  padding: layout.$spacing-04 layout.$spacing-05 layout.$spacing-02 layout.$spacing-05;

  *:not(:first-child) {
    margin: layout.$spacing-02 0;
  }

  h4 {
    @include type.type-style('heading-compact-02');
    max-width: 50%;
  }
}

.tableContainer {
  &.desktop {
    h4 {
      color: $text-02;
    }
  }
}

tr {
  &.critically-low,
  &.critically-high,
  &.low,
  &.high {
    td:nth-child(2) {
      @include type.type-style('heading-compact-01');
      color: $ui-05;
    }
  }

  &.critically-low,
  &.critically-high,
  &.off-scale-high,
  &.off-scale-low {
    outline: layout.$spacing-01 solid $danger;
    outline-offset: -1px;
  }

  &.low,
  &.high {
    outline: 1px solid black;
    outline-offset: -1px;
  }

  &.critically-low {
    td:nth-child(2)::after {
      content: ' ↓↓';
    }
  }

  &.critically-high {
    td:nth-child(2)::after {
      content: ' ↑↑';
    }
  }

  &.low {
    td:nth-child(2)::after {
      content: ' ↓';
    }
  }

  &.high {
    td:nth-child(2)::after {
      content: ' ↑';
    }
  }

  &.off-scale-low {
    td:nth-child(2)::after {
      content: ' ↓↓↓';
    }
  }

  &.off-scale-high {
    td:nth-child(2)::after {
      content: ' ↑↑↑';
    }
  }
}

.offScaleHigh,
.offScaleLow,
.criticallyHigh,
.criticallyLow,
.high,
.low {
  @include type.type-style('heading-compact-01');
}

.high,
.low {
  box-shadow: 0 0 0 1px black;
}

.criticallyHigh,
.criticallyLow {
  box-shadow:
    0 0 0 1px $danger,
    inset 0 0 0 1px $danger;
}

.offScaleLow::after {
  content: ' ↓↓↓';
}

.offScaleHigh::after {
  content: ' ↑↑↑';
}

.criticallyLow::after {
  content: ' ↓↓';
}

.criticallyHigh::after {
  content: ' ↑↑';
}

.low::after {
  content: ' ↓';
}

.high::after {
  content: ' ↑';
}
