:global(.omrs-breakpoint-gt-phone) .allergyForm {
  display: flex;
  justify-content: center;
}

:global(.omrs-breakpoint-lt-tablet) .allergyForm {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.allergyHeader {
  margin: 0rem 0rem 0.25rem 1rem;
  color: var(--omrs-color-ink-medium-contrast);
}

.allergyEditHeader {
  margin: 1rem 0rem 0rem 1rem;
}

.allergyEditHeader h3,
h4 {
  margin: 0rem 0rem 0.25rem 0rem;
  padding: 0rem;
}

.allergyEditHeader h3 span {
  font-weight: normal;
}

.allergyEditHeader h4 {
  color: var(--omrs-color-ink-medium-contrast);
}

.container {
  justify-content: center;
  display: flex;
  background: var(--omrs-color-ink-white);
  padding-left: 1rem;
  flex-direction: column;
  border: 0.0625rem solid var(--omrs-color-ink-low-contrast);
  margin: 0rem 1rem 0.5rem 1rem;
  padding: 1rem;
  max-height: 250px;
  flex-wrap: wrap;
}

.inputMargin span {
  margin-left: 0.9325rem;
}

.container div {
  margin-bottom: 1rem;
}

.container div:last-child {
  margin-bottom: 0rem;
}

.allergyCommentContainer {
  display: flex;
  background: "var(--omrs-color-bg-medium-contrast)";
  margin: 0rem 1rem 4.5rem 1rem;
}

.allergyCommentTextArea {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  line-height: normal;
}

.buttonStyles {
  display: flex;
  background: var(--omrs-color-ink-white);
  bottom: 0;
  justify-content: center;
  margin-top: 1rem;
}

.buttonStyles button {
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.buttonStyles button:disabled {
  background: var(--omrs-color-ink-lowest-contrast);
}

.buttonStylesBorder {
  border-top: 0.125rem solid var(--omrs-color-interaction);
}
