:global(.omrs-breakpoint-gt-phone) .allergySummary {
  display: flex;
  justify-content: center;
}

:global(.omrs-breakpoint-lt-tablet) .allergySummary {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.allergyTable {
  width: 100%;
}

.allergyTable thead {
  color: var(--omrs-color-ink-medium-contrast);
  border-bottom: 0.063rem solid var(--omrs-color-bg-low-contrast);
}

.allergyTable thead td {
  padding: 1rem 0.25rem 1rem 1rem;
}
:global(.omrs-breakpoint-lt-tablet) .allergyTable thead td {
  padding: 0.25rem 0.125rem 0.5rem 0.5rem;
}

.allergyTable thead td:nth-child(3) {
  text-align: right;
}

.allergyTable thead td:nth-child(4) {
  text-align: right;
  padding-right: 2.925rem;
}
:global(.omrs-breakpoint-lt-tablet) .allergyTable thead td:nth-child(4) {
  padding-right: 1.45125rem;
}

.allergyTable tbody td:nth-child(3) {
  text-align: right;
  font-family: "Work Sans";
}

.allergyTable tbody td:nth-child(4) {
  text-align: right;
  font-family: "Work Sans";
}

.allergyTable tbody tr:nth-child(3n) {
  border-bottom: 0.063rem solid var(--omrs-color-bg-low-contrast);
}

.allergyTable tbody {
  padding: 2rem;
  border-bottom: 0.063rem solid var(--omrs-color-bg-low-contrast);
}

:global(.omrs-breakpoint-lt-tablet) .allergyTable tbody {
  padding: 1rem;
}
.allergyTable td {
  width: 25%;
  padding: 0.5rem 0.25rem 0rem 1rem;
}

.centerItems {
  display: flex;
  align-items: center;
}

.alignRight {
  justify-content: flex-end;
}

.alignRight span {
  margin-right: 1rem;
}

.allergyComment {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: var(--omrs-color-ink-medium-contrast);
  padding: 0rem 2.925rem 1rem 0rem;
}

.allergyComment p {
  margin: 0rem;
}

.allergyComment p:nth-child(1) {
  flex: 90%;
}

.allergyComment p:nth-child(2) {
  flex: 10%;
  align-items: flex-end;
}

.allergyFooter {
  text-align: center;
  color: var(--omrs-color-ink-medium-contrast);
  font-family: "Work sans";
}

tr.high {
  border-left: 0.188rem solid var(--omrs-color-danger);
}

tr.high + tr {
  border-left: 0.188rem solid var(--omrs-color-danger);
}

tr.high + tr + tr {
  border-left: 0.188rem solid var(--omrs-color-danger);
}
