@use '@openmrs/esm-styleguide/src/vars' as *;

.editIcon {
  background-color: transparent;

  & svg {
    fill: var(--omrs-color-brand-orange);
    color: var(--omrs-color-brand-orange);
  }
}

.editIcon:hover {
  background-color: transparent;
}
