:global(.omrs-breakpoint-gt-phone) .noteSummary {
  display: flex;
}

:global(.omrs-breakpoint-lt-tablet) .noteSummary {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.noteContainer {
  display: grid;
  grid-gap: 25px;
}

.noteCard {
  margin: 0rem 1rem;
}

.noteTable {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.noteTable thead th {
  color: var(--omrs-color-ink-medium-contrast);
  text-align: left;
}

.noteTable thead {
  color: var(--omrs-color-ink-medium-contrast);
}

.noteTable tbody td:nth-child(3) {
  font-family: "Work Sans";
}

.noteTable thead td {
  margin-top: 0.625rem;
}
