@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.expandedRow > td {
  padding-left: layout.$spacing-08 !important;
}

.expandedRow > td > div {
  max-height: max-content !important;
}

.expandedRow th[colspan] td[colspan] > div:first-child {
  padding: 0 layout.$spacing-05;
}

.copy {
  @include type.type-style('body-01');

  display: flex;
  flex-direction: column;
}

.container {
  margin: layout.$spacing-03;
}

.metadata {
  @include type.type-style('label-01');
  color: $text-02;
  margin: layout.$spacing-03 0;
}

.hiddenRow {
  display: none;
}
