@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.heading {
  @include type.type-style("heading-03");
  margin-bottom: 0.5rem;
}

.columnLabel {
  @include type.type-style("heading-compact-02");
  color: colors.$gray-70;
}

.diagnosis {
  padding: 0.75rem;
  border-top: 0.0625rem solid colors.$gray-20;
}

.diagnosis:first-of-type {
  border-top: none;
}

.diagnosis:last-of-type {
  border-bottom: none;
}

.diagnosisList {
  background-color: white;
  max-height: 13.5rem;
  overflow-y: auto;
  border: 1px solid colors.$gray-20;
}

.diagnosisList li:hover {
  background-color: colors.$gray-20;
}

.diagnosesText {
  @include type.type-style("body-compact-01");
  color: colors.$gray-70;
  margin-bottom: 1rem;
}

.emptyResults {
  @include type.type-style("body-compact-01");
  color: colors.$gray-70;
  min-height: 1rem;
}

.imgUploadHelperText {
  @include type.type-style("body-compact-01");
  color: colors.$gray-70;
}

.imgThumbnailContainer {
  height: 7rem;
  width: 7rem;
}

.imgThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgThumbnailGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 7rem);
  gap: 1rem;
  margin-top: layout.$spacing-05;
}

.imgThumbnailItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.removeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-block-start: 0;
  --cds-layout-size-height-local: 0;
}

.closeIcon {
  fill: white !important;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.spinner {
  min-height: 1rem;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: white;
}

.desktop {
  padding: 0;
}

.headerGridRow {
  border-bottom: 0.0625rem solid colors.$gray-20;
  margin: 0;
}

.dataGridRow {
  display: grid;
  grid-template-columns: 50% 10% 1fr;
  margin: 0.5rem 1rem;
}

.formContainer {
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.grid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0.5rem 0 2.5rem;
}

.skeleton {
  margin-top: 0.25rem;
  height: 2rem;
}

.errorMessage {
  color: colors.$red-60;
  margin-top: layout.$spacing-03;
}

.diagnosisErrorOutline{
  :global(.cds--search-input):focus {
    outline: 2.5px solid colors.$red-60;
  }

  :global(.cds--search-magnifier) {
    svg {
      fill: colors.$red-60;
    }
  }
}

.errorMessage {
  @include type.type-style("label-02");
  color: colors.$red-60;
}

:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: 100%;
  }

  .row {
    display: flex;
    gap: 4rem;

    :global(.cds--col-sm-1) {
      flex-basis: 30%;
      min-width: 8rem;
      text-align: left;
    }

    :global(.cds--col-sm-3) {
      flex-basis: 70%;
    }
  }

  .diagnosis {
    padding: 1rem 0.75rem;
  }

  .skeleton {
    height: 2.5rem;
  }
}

.errorNotification {
  margin-top: 0.25rem;
}

.tag {
  margin-right: 0.5rem;
  margin-left: 0;
}

.uploadButton {
  margin-top: 1rem;
}
