@use '@carbon/styles/scss/grid/_flexbox';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
 
.resultsContainer {
  padding: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display:flex;
}
.col{
  height: 100%;
  display: flex;
  box-sizing: border-box;
  min-width: 5rem;
}
.Left{
  width:50%;
  min-width:20%;
  display: flex;
  flex-direction: column;
}
.Right{
  width:50%;
  min-width:20%;
  display: flex;
  flex-direction: column;
}
.dragHandler {
  width: 10px;
  height: 100%;
  min-height: 100vh;
  background-color: $color-gray-30;
  cursor: col-resize;
  top: 0;
}
.resultsHeader {
  padding: 0.5rem 0;
  z-index: 10;
  background-color: $openmrs-background-grey;
  position: sticky;
  top: 3rem;
}
 
.viewOptsContentSwitcherContainer {
  margin-left: auto;
}
 
.leftHeader {
  display: flex;
  align-items: center;
}
 
.leftHeaderActions {
  display: flex;
  min-width: 2.5rem;
}
 
.leftHeaderActions > :global(.cds--content-switcher) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  justify-content: flex-start;
}
 
.trendlineOverlayHeader {
  display: flex;
  justify-content: center;
  align-items: baseline;
 
  .trendlineOverlayHeaderTitle {
    @include type.type-style('heading-compact-02');
    margin-right: 4px;
  }
 
  .trendlineOverlayHeaderReferenceRange {
    @include type.type-style('helper-text-01');
  }
}
 
.filterSetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
  background-color: $openmrs-background-grey;
  position: sticky;
  top: 0;
  z-index: 1;
 
  h4 {
    @include type.type-style("heading-compact-02");
    color: $text-02;
  }
 
  .filterSetActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
