@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.metricsContainer {
  display: flex;
  background-color: $ui-02;
  height: layout.$spacing-10;
  align-items: center;
  padding: 0 layout.$spacing-05;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.viewListBtn {
  margin: 0 0 0 layout.$spacing-03;
}

.metricsContent {
  display: flex;
  align-items: center;
  gap: layout.$spacing-05;
  margin-left: auto;
}
