@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

:global(.omrs-breakpoint-gt-small-desktop .-esm-patient-chart__patient-chart__widthContained___Ow0JH) {
  max-width: 150rem;
}

@media (min-width: 1200px) {
  :global(.-esm-patient-chart__patient-chart__widthContained___Ow0JH) {
    max-width: 150rem;
  }
}

:global(.cds--data-table td, .cds--data-table th) {
  vertical-align: top;
}

:global(.cds--data-table--md td) {
  padding-top: 0.1rem;
}

.resultsContainer {
  padding: 0;
  width: 100%;
  position: relative;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  background-color: $ui-01;
}

.flex {
  display: flex;
  flex: 1;
}

.resultsHeaderTablet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultsHeader {
  padding: layout.$spacing-03 0;
  z-index: 10;
  background-color: $openmrs-background-grey;
  position: sticky;
  top: layout.$spacing-09;
  display: flex;
}

.leftHeaderSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewOptsContentSwitcherContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.viewOptionsText {
  margin-top: layout.$spacing-03;
  justify-self: start;
}

.viewOptionsSwitcher {
  text-align: right;
  justify-self: end;
}

.leftSection {
  width: 350px;
  margin-right: layout.$spacing-05;
}

.rightSection,
.rightSectionHeader {
  width: 70%;

  &.fullView {
    width: 100%;
  }
}

.rightSection :global(.cds--skeleton) {
  width: 100%;
}

.leftHeaderActions {
  display: flex;
  min-width: layout.$spacing-08;
}

.leftHeaderActions > :global(.cds--content-switcher),
.viewOptsContentSwitcherContainer :global(.cds--content-switcher) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  justify-content: flex-start;
}

.trendlineOverlayHeader {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .trendlineOverlayHeaderTitle {
    @include type.type-style('heading-compact-02');
    margin-right: layout.$spacing-02;
  }

  .trendlineOverlayHeaderReferenceRange {
    @include type.type-style('helper-text-01');
  }
}

.filterSetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: layout.$spacing-03;
  background-color: $openmrs-background-grey;
  position: sticky;
  top: 0;
  z-index: 1;

  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }

  .filterSetActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.floatingTreeButton {
  position: fixed;
  bottom: layout.$spacing-11;
  right: layout.$spacing-05;
  z-index: 99;

  button {
    background-color: $brand-01 !important;
    padding: layout.$spacing-05;
    border-radius: 50%;
  }

  svg {
    fill: $ui-01 !important;
  }
}

.panelViewTimeline {
  margin-bottom: layout.$spacing-07;
}

.button {
  align-items: center;
  margin-left: layout.$spacing-05;

  svg {
    order: 1;
    margin-right: layout.$spacing-03;
    margin-left: 0 !important;
  }

  span {
    order: 2;
  }
}
