@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.flagContainer {
    padding: spacing.$spacing-03;
    border-bottom: 0.063rem solid $ui-03;
}

.flagEmoji{
    font-size: medium;
}

.definitionToolTip {
    & > button{
        border-bottom: none;
    }
}

.tooltipPadding {
    padding: 0.25rem;
}

