@use '@carbon/styles/scss/spacing';
@import '@openmrs/esm-styleguide/src/vars';

.loading {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: spacing.$spacing-09;
}
