:global(.omrs-breakpoint-lt-tablet) .card {
  width: 100%;
  margin: 1rem 0;
}

:global(.omrs-breakpoint-gt-phone) .card {
  width: 21.75rem;
  margin: 0.5rem 1rem;
}
.header {
  background-color: var(--omrs-color-bg-medium-contrast);
  padding: 1rem 0.25rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
  border-radius: 0.5rem 0.5rem 0 0;
}
