@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';


.widgetCard {
  border: 1px solid $ui-03;
}

.productiveHeading01 {
  @include type.type-style("heading-compact-01");
}

.contentSwitcherWrapper {
  display: flex;
  width: fit-content;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.divider {
  border-left: 1px solid $ui-03;
  height: spacing.$spacing-05;
  margin: 0 spacing.$spacing-05 0 spacing.$spacing-06;
}

.content {
  @include type.type-style("heading-compact-01");
  color: $text-02;
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-03;
}

.tile {
  text-align: center;
}
