@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";
@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";

// TO DO Move this styles to style - guide 
// https://github.com/openmrs/openmrs-esm-core/blob/master/packages/framework/esm-styleguide/src/_vars.scss
$color-blue-30 : #a6c8ff;
$color-blue-10: #edf5ff;

.card {
  border: 1px solid $ui-03;
}

.productiveHeading01 {
  @include carbon--type-style("productive-heading-01");
}

.appointmentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 0 $spacing-05;
  background-color: $ui-background;
}

.appointmentHeader > h4:after {
  content: "";
  display: block;
  width: $spacing-07;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid $brand-teal-01;
}

.contentSwitcherWrapper {
  display: flex;
  width: fit-content;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}


.contentSwitcherWrapper > div > button {
  background-color: $ui-02;
}

.contentSwitcherWrapper > div button:first-child {
  border-top: 1px solid $color-blue-30;
  border-bottom: 1px solid $color-blue-30;
  border-left: 1px solid $color-blue-30;
  border-right: none;
  border-radius: $spacing-02 0 0px $spacing-02;
}
.contentSwitcherWrapper > div button:last-child {
  border-top: 1px solid $color-blue-30;
  border-bottom: 1px solid $color-blue-30;
  border-right: 1px solid $color-blue-30;
  border-left: none;
  border-radius: 0px $spacing-02 $spacing-02 0px;
}

.contentSwitcherWrapper > div > button[aria-selected=true], 
.contentSwitcherWrapper > div > button[aria-selected=true]:first-child {
  background-color: $color-blue-10;
  color: $color-blue-60-2;
  border-color: $color-blue-60-2;
  border-right: 1px solid $color-blue-60-2;
}

.contentSwitcherWrapper > div > button[aria-selected=true], 
.contentSwitcherWrapper > div > button[aria-selected=true]:last-child {
  background-color: $color-blue-10;
  color: $color-blue-60-2;
  border-color: $color-blue-60-2;
  border-left: 1px solid $color-blue-60-2;
}

.contentSwitcherWrapper > div > button[aria-selected=true]:focus {
  box-shadow: none;
}


.divider {
  border-left: 1px solid $ui-03;
  height: $spacing-05;
  margin: 0 $spacing-05 0 $spacing-06;
}