.appointmentDetailedSummaryTable {
  width: 100%;
  text-align: start;
}

.appointmentDetailedSummaryTable td {
  padding: 0.625rem;
}

.appointmentDetailedSummaryTable thead {
  font-weight: 500;
}

.appointmentDetailedSummaryTable tr {
  border-bottom: 0.0625rem solid var(--omrs-color-bg-low-contrast);
}

.appointmentDetailedSummaryTable tbody tr td:nth-child(1) {
  font-family: "Work sans";
}
