@import "../../root.scss";

.appointmentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
  background-color: $ui-background;
}
