@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.appointmentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
  background-color: $ui-background;
}
