@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.admissionRequestsContainer {
  background-color: $color-gray-70;
  display: flex;
  align-items: center;
  padding: layout.$spacing-02 0 layout.$spacing-02 layout.$spacing-04;
  background-color: #393939;
  margin-left: layout.$spacing-03;
  & > button {
    color: #78a9ff;

    svg {
      fill: #78a9ff !important;
    }
  }

  & > button:hover {
    color: #78a9ff;
  }
}

.movementIcon {
  padding: layout.$spacing-02;
  border-radius: 50%;
  fill: $ui-03;
  background-color: $color-blue-60-2;
  margin-right: layout.$spacing-03;
}

.blackBackground {
  background-color: #393939;
  color: white;
}

.lightBlueBackground {
  background-color: $color-blue-10;
  border-left: 4px solid $color-blue-60-2;
  color: #393939;
}

.content {
  @include type.type-style('heading-compact-01');
}

.manageButton {
  margin: 0 layout.$spacing-03;
}
