@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.metric {
  margin-left: layout.$spacing-05;
  display: flex;
  align-items: end;
  gap: 5px;
}

.metricName {
  @include type.type-style('helper-text-01');
  color: $color-gray-70;
}

.metricValue {
  @include type.type-style('heading-03');
  line-height: revert;
}

.skeleton {
  height: layout.$spacing-05;
  width: layout.$spacing-05;
}
