@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container,
.deceasedPatientContainer {
  border-bottom: 1px solid $ui-03;
  background-color: $ui-02;
}

.activePatientContainer {
  background-color: $ui-02;
}

.menu {
  width: layout.$spacing-05;
  height: layout.$spacing-05;
  margin-left: layout.$spacing-03;
}

.patientBanner {
  text-decoration: none;
  display: grid;
  grid-template-columns: 5.5rem 1fr; // Matches 3.5rem avatar + 2×1rem margins
}

.patientBannerButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.patientName {
  @include type.type-style('heading-03');
  margin-right: layout.$spacing-02;
  color: $ui-05;
}

.patientAvatar {
  width: 3.5rem;
  height: 3.5rem;
  margin: layout.$spacing-05;
  overflow: hidden;
}

.patientAvatarButton {
  cursor: pointer;
  border: none;
  padding: 0px;
  background: none;
  border-bottom: 1px solid $ui-03;
}

.patientInfo {
  width: 100%;
  padding-right: layout.$spacing-05;
}

.demographics {
  @include type.type-style('body-compact-02');
  color: $text-02;
  margin-top: 0.375rem;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.patientNameRow {
  margin-top: layout.$spacing-05;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.identifiers {
  @include type.type-style('body-compact-02');
  color: $ui-04;
  margin-top: layout.$spacing-05;
  text-align: left;
}

.tooltipPadding {
  padding: layout.$spacing-02;
}

.tooltipSmallText {
  font-size: 80%;
}

.actionsButtonText {
  @include type.type-style('body-compact-01');
  color: $interactive-01;
}

.buttonCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.actionButtons {
  display: flex;
  align-items: center;
  width: 100%;
}

.emptyStateActionButtonsContainer {
  margin: 0 layout.$spacing-05;
}

.rightActions {
  margin-left: auto;
  display: flex;
}

.tabletContactDetails {
  display: block;

  .row {
    &:first-child {
      border-bottom: 1px solid $ui-03;
    }
  }

  .row > .col {
    &:nth-of-type(2n + 1) {
      border-right: 1px solid $ui-03;
    }
  }
}

.toggleContactDetailsButton {
  > svg {
    fill: $color-blue-60-2 !important;
  }
}
