:global(.omrs-breakpoint-gt-phone) .medicationSummary {
  display: flex;
}

:global(.omrs-breakpoint-lt-tablet) .medicationSummary {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.medicationCard {
  margin: 0rem 1rem;
}

.medicationTable {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.medicationTable thead th {
  color: var(--omrs-color-ink-medium-contrast);
  text-align: left;
}

.medicationTable thead {
  color: var(--omrs-color-ink-medium-contrast);
}

.medicationTable tbody td:nth-child(1) {
  font-family: "Work Sans";
}

.medicationTable thead td {
  margin-top: 0.625rem;
}

.medicationTable thead td:nth-child(1) {
  width: 25%;
}
.gridContainer {
  display: grid;
  justify-items: start;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.gridContainer > div {
  text-align: left;
  padding: 20px 20px 20px 20px;
}
.medicationDisplay {
  display: block;
}

.medicationTextColor {
  text-decoration-color: "var(--omrs-color-ink-low-contrast)";
}
