@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.tableContainer {
  padding: 0;

  :global(.cds--data-table-content) {
    border: 1px solid $ui-03;
    border-bottom: none;
    overflow: visible;
  }

  :global(.cds--data-table-header) {
    padding: 0;
  }

  :global(.cds--table-toolbar) {
    position: relative;
    height: 2rem;
    overflow: visible;
    top: 0;
  }

  &:global(.cds--data-table-container) {
    background: none !important;
  }

  :global(.cds--toolbar-content),
  :global(.cds--toolbar-search-container-expandable) {
    height: 2rem;
    margin-bottom: 0.25rem;
  }
}

.filterContainer {
  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: 1rem;
  }
}

.search {
  max-width: 16rem;
}

.tableHeader > :global(.cds--table-header-label) {
  @include type.type-style('productive-heading-01');
  color: $text-02;
}

.menuItem {
  max-width: none;
}

.expandedRow {
  > td {
    padding: inherit !important;

    > div {
      max-height: max-content !important;
    }
  }

  > div {
    background-color: $ui-02;
  }
}

.hiddenRow {
  display: none;
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  :global(.cds--table-toolbar) {
    min-height: 2rem;
  }
}

/* Mobile */
:global(.omrs-breakpoint-lt-desktop) {
  :global(.cds--table-toolbar) {
    min-height: 2.5rem;
  }
}
