@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.title {
  @include type.type-style('productive-heading-03');
}

.title:after {
  content: '';
  display: block;
  width: layout.$spacing-07;
  padding-top: layout.$spacing-01;
  border-bottom: layout.$spacing-03 solid $brand-teal-01;
}

.tileTitle {
  @include type.type-style('body-long-01');
  display: block;
  padding-top: layout.$spacing-05;
  font-size: var(--cds-label-01-font-size, 0.75rem);
  font-weight: var(--cds-label-01-font-weight, 400);
  line-height: var(--cds-label-01-line-height, 1.33333);
  letter-spacing: var(--cds-label-01-letter-spacing, 0.32px);
  color: $text-02;
  display: block;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-05;
  justify-content: space-around;
}

.tileSubTitle {
  @include type.type-style('body-compact-01');
}

.tileValue {
  @include type.type-style('label-01');
  margin: layout.$spacing-04 0 layout.$spacing-04;
  display: block;
}

.tileBox {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: layout.$spacing-05;
  justify-content: space-around;
}

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: layout.$spacing-05;

  h4:after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    padding-top: layout.$spacing-01;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.heading:after {
  content: '';
  display: block;
  width: layout.$spacing-07;
  padding-top: layout.$spacing-01;
  border-bottom: 0.375rem solid var(--brand-03);
}

.tile {
  border: 1px solid $ui-03;
  margin-bottom: layout.$spacing-03;
}

[data-extension-id='clinical-views-summary'] {
  height: auto;
}
