:global(.omrs-breakpoint-gt-phone) .heightAndWeightDetailedSummary {
  display: flex;
  flex-wrap: wrap;
}

:global(.omrs-breakpoint-lt-tablet) .heightAndWeightDetailedSummary {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem 0.5rem 0 0.5rem;
}

:global(.omrs-breakpoint-lt-tablet) .heightAndWeightContainer {
  display: flex;
  justify-content: flex-start;
}
:global(.omrs-breakpoint-gt-phone) .heightAndWeightContainer {
  display: flex;
  margin: "0rem 0rem 0rem 4.875rem";
}

.summaryTable {
  margin: 0.625rem;
}

.summaryTable tbody td {
  padding: 0.75rem 0.75rem;
  font-weight: bold;
  color: var(--omrs-color-brand-black);
}

.summaryTable tbody tr td:nth-child(1) {
  text-align: right;
  font-weight: normal;
  color: var(--omrs-color-ink-medium-contrast);
  font-family: "Roboto";
}

.summaryTable span {
  color: var(--omrs-color-ink-medium-contrast);
  margin-left: 0.25rem;
}

.summaryCard {
  margin: 0rem 1rem;
}

.heightAndWeightDetailsTable {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heightAndWeightDetailsTable thead th {
  color: var(--omrs-color-ink-medium-contrast);
  text-align: left;
}

.heightAndWeightDetailsTable thead {
  color: var(--omrs-color-ink-medium-contrast);
}

.heightAndWeightDetailsTable thead td {
  margin-top: 0.625rem;
}

.heightAndWeightDetailsTable thead td:nth-child(1) {
  width: 25%;
}
