.table {
  width: 100%;
}

.tableRow {
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
}

.tableHeader,
.tableData {
  padding: 0.625rem;
  font-family: "Roboto";
}

.tableHeader {
  color: var(--omrs-color-ink-medium-contrast);
  font-size: 0.9375rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.0275rem;
  text-align: left;
}

.tableData {
  font-size: 1.0625rem;
  text-align: left;
}

:global(.omrs-breakpoint-lt-tablet) .tableDates {
  width: 70%;
}

:global(.omrs-breakpoint-gt-phone) .card {
  width: 21.75rem;
  margin: 0.5rem 1rem;
}
.card {
  width: 40rem;
  margin: 0.5rem 1rem;
}
.unit {
  color: var(--omrs-color-ink-medium-contrast);
}
