.medicationOrderBasketContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

:global(.omrs-breakpoint-gt-phone) .medicationOrderBasketContainer {
  display: flex;
  justify-content: center;
  margin: 0.25rem 0.5rem 0 0.5rem;
}

:global(.omrs-breakpoint-lt-tablet) .medicationOrderBasketContainer {
  padding: 0.25rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
}

.medicationHeader {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.medicationSearchTerm {
  display: flex;
  width: 100%;
}

.medicationSearchTerm input[type="text"] {
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  font-style: italic;
  color: var(--omrs-color-interaction);
}

.medicationSearchTerm input[type="text"]::placeholder {
  color: var(--omrs-color-interaction);
  font-style: italic;
}

.searchResults {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 8.5rem;
  border-radius: 0.625rem;
  width: 100%;
  padding: 0rem 1.625rem;
}

.searchResults table {
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
  width: 100%;
}

.searchResults tr {
  text-align: left;
}

.searchResults tbody tr:hover {
  background-color: var(--omrs-color-success-two);
  cursor: pointer;
}
.searchResults td,
th {
  padding: 0.625rem;
}

.medicationOrderFooter {
  display: flex;
  background-color: var(--omrs-color-ink-white);
  width: 100%;
  position: sticky;
  bottom: 0;
}

.medicationOrderFooter button {
  border-radius: 6.25rem;
  font-weight: 500;
  padding: 0.25rem 0rem;
  font-size: 1rem;
}

.medicationOrderFooter button:nth-child(1) {
  margin: 0.5rem 0.75rem 0.5rem 1rem;
  color: var(--omrs-color-ink-medium-contrast);
}

.medicationOrderFooter button:nth-child(2) {
  margin: 0.5rem 0.75rem 0.5rem 1rem;
}

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--omrs-color-bg-medium-contrast);
  transition: 0.3s ease all;
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--omrs-color-ink-white);
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  background-color: var(--omrs-color-bg-medium-contrast);
  position: absolute;
}

.hide {
  display: none;
}

.basketContainer {
  display: flex;
  right: 5%;
  flex-direction: column;
}

.basketStyles {
  border-radius: 0.625rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
  margin: 0.25rem 0rem;
}

.basketStyles:hover {
  opacity: 0.9;
  cursor: pointer;
}

.newOrder {
  background-color: var(--omrs-color-success);
  color: var(--omrs-color-ink-white);
}

.reviseOrder {
  background-color: var(--omrs-color-brand-orange);
  color: var(--omrs-color-ink-white);
}
