.medicationOrderWrapper {
  display: flex;
  border-radius: 0.25rem;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}
:global(.omrs-breakpoint-gt-phone) .medicationOrderWrapper {
  display: flex;
  justify-content: center;
}

:global(.omrs-breakpoint-lt-tablet) .medicationOrderWrapper {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.medicationHeaderSummary {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 1.5rem;
}

.medicationHeaderSummary td {
  font-size: 1rem;
}

.medicationHeaderSummary table td:nth-child(1) {
  font-weight: 500;
}

.medicationHeaderSummary table td:nth-child(4) {
  text-transform: uppercase;
  color: var(--omrs-color-ink-medium-contrast);
  font-family: "Courier New";
}

.medicationHeaderSummary table td:nth-child(4) > span {
  font-weight: 500;
  color: var(--omrs-color-ink-high-contrast);
  font-family: "Roboto";
  text-transform: lowercase;
}

.medicationOrderDetailsContainer {
  display: flex;
  width: 100%;
  margin: 0rem 1.25rem;
}

.medicationContainer {
  display: flex;
  width: 50%;
  border-radius: 0.25rem;
  padding: 1.25rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
  background-color: rgba(249, 249, 249, 0.94);
}

.doseAndFrequency {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1rem;
  user-select: none;
}

.doseAndFrequency span {
  color: var(--omrs-color-ink-medium-contrast);
  font-weight: 700;
}

.medicationOrderRadio {
  margin: 0.625rem 0rem 0rem 0.625rem;
  display: flex;
  justify-content: center;
}

.medicationOrderRadio input[type="radio"] {
  display: none;
}

.medicationOrderRadio label {
  color: var(--omrs-color-ink-medium-contrast);
  background-color: var(--omrs-color-bg-low-contrast);
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--omrs-color-bg-low-contrast);
}

.medicationOrderRadio input[type="radio"]:checked + label {
  color: var(--omrs-color-interaction);
  background-color: var(--omrs-color-ink-white);
  border: 0.0625rem solid var(--omrs-color-interaction);
}

.medicationContainerColumnTwo {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0rem 0.625rem;
}

.medicationOrderInput {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.medicationOrderInput input[type="text"] {
  padding: 0.625rem;
  outline: none;
  border: 0.0625rem solid var(--omrs-color-ink-lowest-contrast);
  border-radius: 0.125rem;
  user-select: none;
  font-weight: 700;
  font-size: 1rem;
}

.medicationOrderInput input[type="text"]::placeholder {
  font-size: 1rem;
  font-weight: 700;
  color: var(--omrs-color-ink-medium-contrast);
}

.medicationOrderInput input[type="text"]::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: var(--omrs-color-ink-medium-contrast);
}

.medicationOrderInput input[type="text"]:valid {
  color: var(--omrs-color-interaction);
}

.medicationOrderInput label {
  color: var(--omrs-color-ink-medium-contrast);
  font-weight: 500;
  margin: 0.125rem 0.625rem;
}

.medicationOrderInput textarea {
  outline: none;
  border: 0.0625rem solid var(--omrs-color-ink-low-contrast);
  border-radius: 0.125rem;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
}

.medicationOrderFooter {
  display: flex;
  background-color: var(--omrs-color-ink-white);
  width: 100%;
  margin-top: 1.25rem;
}

.medicationOrderFooter button {
  width: 50%;
  border-radius: 6.25rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.omrsSelectOptions {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.omrsSelectOptions select {
  color: var(--omrs-color-interaction);
  font-weight: 700;
  text-align: center;
  padding: 0.625rem;
  border: 0.0625rem solid var(--omrs-color-ink-lowest-contrast);
  background-color: var(--omrs-color-ink-white);
  border-radius: 4.5rem;
  min-width: 50%;
}
