@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.loaderContainer {
  height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
}

.errorContainer {
  height: 100vh;
}

.accordion__wrapper_override {
  // TODO: try removing this after carbon upgrade PR is merged.
  :global(.cds--accordion__wrapper) {
    max-block-size: unset !important;
  }
}