@use '@carbon/colors';
@use '@carbon/type';

.loaderContainer {
  height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
}

.errorContainer {
  height: 100vh;
}

.printButton {
  display: flex;
  margin-left: auto;

  svg {
    order: 1;
  }

  span {
    order: 2;
    margin-left: 0.5rem;
  }
}

.sidebar > {
  .error {
    color: red;
  }
}

@media print {
  :global(.cds--btn-set) {
    display: none;
  }
}
