@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.loaderContainer {
  height: 100vh;   
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
}
