@import "../root.scss";
@import "~@openmrs/esm-styleguide/src/vars";

.title {
  @extend .productiveHeading03;
}
.clinicalViewContainer {
  background-color: $ui-02;
}
.clinicalViewHeaderContainer {
  display: flex;
  align-items: center;
  height: $spacing-09;
  padding-left: $spacing-05;
}

.clinicalViewHeaderContainer button {
  @extend .bodyShort01;
}

.tabsContentClass {
  padding: 0 0 0 $spacing-05;
}

.tabContentClassName {
  background-color: $ui-03;
  min-height: 30rem;
}

.emptyIllustrationContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 15.25rem;
  justify-content: flex-end;
  align-items: center;
}

.content {
  @extend .productiveHeading01;
  color: $color-gray-70;
  width: 16.438rem;
  margin: 1rem 0.938rem 0.313rem 0.875rem;
}

.action {
  @extend .bodyLong01;
  width: 23rem;
  margin: 0.313rem 0 0;
}
