@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.listWrapper {
  margin: spacing.$spacing-05;
}

.flagTile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ededed;
  background-color: colors.$gray-10;
  padding: spacing.$spacing-03;
}

:global(.omrs-breakpoint-lt-desktop) {
  .flagTile {  
    margin-bottom: spacing.$spacing-03;
  }
}

:global(.omrs-breakpoint-gt-tablet) {
  .flagTile {
    margin-bottom: spacing.$spacing-02;
  }
}

.flagHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
  font-size: 0.875rem;
}

.titleAndType {
  display: flex;
  align-items: baseline;
}

.flagTitle {
  @include type.type-style('body-01');
  color: colors.$gray-100;
  margin-right: spacing.$spacing-02;
}

.type {
  @include type.type-style('label-01');
  color: colors.$gray-70;
  margin-left: spacing.$spacing-02;
}

.secondRow {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.metadata {
  display: flex;
  flex-direction: column;
}

.label {
  @include type.type-style('label-01');
  color: colors.$gray-70;
  margin-bottom: spacing.$spacing-02;
}

.value {
  @include type.type-style('body-01');
}

.flagToggle {
  :global(.cds--toggle__switch--checked) {
    background-color: colors.$green-50;
  }
}

.flagsHeaderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultsCount {
  @include type.type-style('label-01');
}

.button {
  height: spacing.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - spacing.$spacing-12);
  background-color: colors.$white;
}

.button {
  height: spacing.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tabletButtonSet {
  padding: spacing.$spacing-06 spacing.$spacing-05;
  background-color: $ui-02;
}

.desktopButtonSet {
  padding: 0;
}

.emptyText {
  color: colors.$gray-70;
  font-size: 0.875rem;
  text-align: center;
}

.sortDropdown {
  @include type.type-style('body-compact-01');
  color: colors.$gray-100;
  gap: 0;

  :global(.cds--dropdown--inline .cds--list-box__menu) {
    min-width: spacing.$spacing-13;
    max-width: 12rem;
    left: -4.375rem;
  }
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing.$spacing-05;
  text-align: center;
}

.tile {
  margin: auto;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: spacing.$spacing-13;
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-05;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.loader {
  display: flex;
  justify-content: center;
  background-color: colors.$gray-10;
  min-height: spacing.$spacing-09;
}
