.workspace {
}

.invisible {
  display: none;
}

.visible {
  display: block;
  animation: slideIn 0.3s;
  width: 50vw;
}

:global(.omrs-breakpoint-lt-desktop) .fullWidth {
  padding: 0rem 0.625rem 0rem 0.125rem;
  width: 100vw;
}

:global(.omrs-breakpoint-lt-desktop) .halfWidth {
  width: fit-content;
  animation: slideOut 0.5;
}

:global(.omrs-breakpoint-lt-desktop) .hide {
  display: none;
}

:global(.omrs-breakpoint-gt-tablet) .tabletAndMobileTabs {
  display: none;
}

:global(.omrs-breakpoint-lt-desktop) .tabletAndMobileTabs {
  display: block;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
