.workspace {
}

.invisible {
  display: none;
}

.visible {
  display: block;
  animation: fade_in_show 0.3s;
  width: 50vw;
  height: 90%;
  overflow-y: scroll;
}

.visible::-webkit-scrollbar {
  display: none;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.optionsBar {
  width: 100%;
  background-color: var(--omrs-color-bg-lowest-contrast);
  position: fixed;
  border-left: 2px solid #d3d3d3;
  /* z-index: 2; */
}

.cardBody {
  border-left: 1px solid #d3d3d3;
}
:global(.omrs-breakpoint-gt-phone) .cardBody {
  margin-top: 7vh;
}

:global(.omrs-breakpoint-lt-tablet) .some-div {
  margin-top: 7vh;
}

:global(.omrs-breakpoint-lt-desktop) .cardBody {
  margin-top: 5vh;
}

:global(.omrs-breakpoint-gt-tablet) .cardBody {
  margin-top: 5vh;
}
