@import "../root.scss";

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: $spacing-05;
  padding: 0 $spacing-05 $spacing-05 $spacing-05;
}

.attachmentThumbnailSkeleton {
  width: 100%;
}

.galleryContainer img {
  object-fit: cover;
}

.imagePreview {
  display: grid;
  grid-template-columns: 1fr 16rem;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $carbon--gray-90;
}

.leftPanel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
}

.rightPanel {
  background-color: $carbon--gray-80;
  padding: $spacing-05;
  color: $ui-01;
}

.closePreviewButton svg path {
  fill: $ui-01 !important;
}

.closePreviewButton:hover svg path {
  fill: $ui-05 !important;
}

.attachmentImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    max-width: 80%;
    max-height: 80%;
  }
}

.overflowMenu button svg circle{
  fill: $ui-01;
}

.overflowMenu:hover button svg circle, 
.overflowMenu:focus button svg circle {
  fill: $ui-05;
}

.imageDescription {
  margin-top: $spacing-03;
}