@use '@carbon/styles/scss/spacing';
@import "../root.scss";

.overview {
  background-color: $ui-02;
}

.attachmentHeaderActionItems {
  align-items: center;
  display: flex;
  justify-content: end;

  & :global(.cds--content-switcher) {
    max-width: max-content;

    :global(.cds--content-switcher__label) {
      height: spacing.$spacing-05;
    }
  }
}

.divider {
  width: 1px;
  height: spacing.$spacing-05;
  color: colors.$gray-20;
  margin: 0 spacing.$spacing-05;
}

.validatingDataIcon {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}


