@use '@carbon/styles/scss/spacing';
@use '~@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: spacing.$spacing-05;
  padding: spacing.$spacing-05;
}

.attachmentThumbnailSkeleton {
  width: 100%;
}

.galleryContainer img {
  object-fit: cover;
}

.muted {
  color: $color-gray-70;
  @include type.type-style("label-01");
  margin: 0.25rem;
}

.title {
  @extend .bodyLong01;
  color: colors.$gray-100;
  margin: 0.25rem;
}
