@use '@carbon/styles/scss/spacing';
@import "../root.scss";

.overview {
  background-color: $ui-02;
}

.validatingDataIcon {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.attachmentHeaderActionItems {
  align-items: center;
  display: flex;
  justify-content: end;

  & :global(.cds--content-switcher) {
    width: auto;
    margin-right: spacing.$spacing-05;
  }
}
