@import '../root.scss';

.cameraSection {
  width: inherit;
  background-color: $ui-02;
}

:global(.react-html5-camera-photo) {
  & > img, & > video {
    width: 100% !important;
  }
}

.choosePhotoOrPdf {
  float: right;
  color: #0f62fe;
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem;

  &:hover {
    color: #000;
    text-decoration: none;
    background-color: #e5e5e5;
  }
}

.uploadFile {
  color: #fff;
  
  label {
    max-width: unset;
  }

  label > div {
    height: 25rem;
    justify-content: center;
    align-items: center;
  }

}

.tabs {
  .bx--tab-content {
    display: none;
  }
}

.tabContent {
  padding: $spacing-05
}

@media (max-width: $breakpoint-tablet-max){
  .frameContent {
    width: 65%;
  }  
}
