.cameraSection {
  padding: 10px;
}

:global(.react-html5-camera-photo) {
  & > img, & > video {
    width: 100% !important;
  }
}

.frameContent {
  margin: auto;
  padding: 2rem;
  width: 80%;
}

.choosePhoto {
  float: right;
  color: #0f62fe;
  cursor: pointer;
  margin: 1rem 0;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.uploadFile {
  display: none;
}
