.overview img {
  width: 100%;
}

.buttonSetOverrides {
  justify-content: center;
  margin: auto;
  width: 50%;
}

.buttonSetOverrides button {
  max-width: 20rem !important;
}

.captionFrame {
  margin-bottom: .3rem;
}
