@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "../../root";

.container {
  margin: spacing.$spacing-03 spacing.$spacing-05 spacing.$spacing-03;
}

.desktopSearchResultTile {
  margin-top: 5px;
  border-left: 4px solid var(--brand-03);

  &:not(:last-of-type) {
    margin-bottom: spacing.$spacing-03;
  }
}

.tabletSearchResultTile {
  margin-top: 5px;
  border-left: 2px solid var(--brand-03);
  background-color: $ui-02;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.divider {
  border: 0;
  border-top: 1px solid $color-gray-30;
  width: 66%;
}

.desktopDivider {
  margin: spacing.$spacing-07 auto spacing.$spacing-05;
}

.tabletDivider {
  margin: spacing.$spacing-08 auto spacing.$spacing-06;
}

.searchResultsCount {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.orderBasketSearchResultsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing.$spacing-03;
  align-items: center;
}

.searchResultTile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResultTileContent {
  flex: 1 1 auto;
}

.addToBasketButton {
  color: #000;
  flex: 0 0 auto;
}

.errorLabel {
  @extend .label01;
  color: $danger;
}

.searchResultSkeletonWrapper {
  margin: spacing.$spacing-03 1rem spacing.$spacing-03;
  
  :global(.cds--skeleton__text) {
    margin: 0;
  }

  .searchResultCntSkeleton {
    margin-right: spacing.$spacing-07;
  }

  .skeletonTile {
    display: flex;
    align-items: center;
  }
}

.emptyState {
  margin: spacing.$spacing-05;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing.$spacing-07;
  border: 1px solid $ui-03;
  text-align: center;
  background-color: $ui-01;
}

:global(.omrs-breakpoint-lt-small-desktop) .emptyState {
  background-color: $ui-02;
}

.link {
  color: $interactive-01;
  text-decoration: underline;
  cursor: pointer;
}