@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.patientChartWrapper {
  display: flex;
  position: relative;
}

.patientChartWrapper {
  &>nav {
    overflow-y: scroll;
    padding-bottom: 3rem;
    scrollbar-width: none; 
  }

  ::-webkit-scrollbar {
    width: 0px;
    background-color: transparent
  }
}

.caption01 {
  @include type.type-style("legal-01");
}

.productiveHeading01 {
  @include type.type-style("heading-compact-01");
}

.productiveHeading02 {
  @include type.type-style("heading-compact-02");
}

.productiveHeading03 {
  @include type.type-style("heading-03");
}

.productiveHeading04 {
  @include type.type-style("heading-04");
}

.bodyLong01 {
  @include type.type-style("body-01");
}

.bodyShort02 {
  @include type.type-style("body-compact-02");
}

.text01 {
  color: $ui-05;
}

.text02 {
  color: $text-02;
}