@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.patientChartWrapper {
  display: flex;
  position: relative;
}

.productiveHeading01 {
  @include carbon--type-style("productive-heading-01");
}

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
}

.productiveHeading03 {
  @include carbon--type-style("productive-heading-03");
}

.productiveHeading04 {
  @include carbon--type-style("productive-heading-04");
}

.bodyLong01 {
  @include carbon--type-style("body-long-01");
}
