@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.patientChartWrapper {
  display: flex;
  position: relative;
}

.patientChartWrapper {
  &>nav {
    overflow-y: scroll;
    padding-bottom: 3rem;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background-color: transparent
  }
  :global(.cds--side-nav__overlay-active) {
    background-color: transparent;
  }
}

.caption01 {
  @include type.type-style("legal-01");
}

.productiveHeading01 {
  @include type.type-style("heading-compact-01");
}

.productiveHeading02 {
  @include type.type-style("heading-compact-02");
}

.productiveHeading03 {
  @include type.type-style("heading-03");
}

.productiveHeading04 {
  @include type.type-style("heading-04");
}

.bodyLong01 {
  @include type.type-style("body-01");
}

.bodyShort02 {
  @include type.type-style("body-compact-02");
}

.text01 {
  color: $ui-05;
}

.text02 {
  color: $text-02;
}

.label01 {
  @include type.type-style("label-01")
}

// Overriding styles for RTL support
html[dir='rtl'] {
  :global(.cds--date-picker-input__wrapper) {
    svg {
      left: 1rem;
      right: unset;
    }
  }
  :global(.cds--side-nav) {
      right: 0;
      :global(.active-left-nav-link) {
        border-right: 0.25rem solid var(--brand-01);
        border-left: unset;
      }
  }
}
