@use '@carbon/layout';
@use '@carbon/type';

.container {
  padding: layout.$spacing-05;
}

.tile {
  padding: layout.$spacing-06;
  margin-bottom: layout.$spacing-05;
}

.heading {
  @include type.type-style('heading-03');
  margin-bottom: layout.$spacing-04;
  color: var(--cds-text-primary);
}

.content {
  @include type.type-style('body-01');
  color: var(--cds-text-secondary);
  line-height: 1.5;
}
