@use '@carbon/layout';
@use '@carbon/type';

.priorityTag {
  @include type.type-style('label-01');
  border-radius: layout.$spacing-01;
  letter-spacing: 0.02em;
  margin: 0;
  text-transform: uppercase;
}
