@use '@carbon/layout';

.modalHeader {
  :global {
    .cds--modal-close-button {
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      margin: 0;
      margin-top: calc(-1 * #{layout.$spacing-05});
    }

    .cds--modal-close {
      background-color: rgba(0, 0, 0, 0);

      &:hover {
        background-color: var(--cds-layer-hover);
      }
    }

    .cds--popover--left > .cds--popover > .cds--popover-content {
      transform: translate(-4rem, 0.85rem);
    }

    .cds--popover--left > .cds--popover > .cds--popover-caret {
      transform: translate(-3.75rem, 1.25rem);
    }
  }
}
