@use 'sass:list';
@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

$accents: (
  'purple': (
    colors.$purple-70,
    colors.$purple-20,
  ),
  'cyan': (
    colors.$cyan-70,
    colors.$cyan-20,
  ),
  'teal': (
    colors.$teal-70,
    colors.$teal-20,
  ),
  'magenta': (
    colors.$magenta-70,
    colors.$magenta-20,
  ),
  'orange': (
    colors.$orange-70,
    colors.$orange-20,
  ),
  'red': (
    colors.$red-70,
    colors.$red-20,
  ),
  'green': (
    colors.$green-70,
    colors.$green-20,
  ),
  'gray': (
    colors.$gray-70,
    colors.$gray-20,
  ),
);

.desktopTile {
  border-left: layout.$spacing-02 solid colors.$purple-70;
  background-color: $ui-02;
  border-top: 1px solid colors.$purple-20;
  border-right: none;
  padding: 0;
  margin-top: layout.$spacing-07;
}

.tabletTile {
  @extend .desktopTile;
  margin-top: layout.$spacing-05;
}

@each $name, $shades in $accents {
  .desktopTile[data-accent-color='#{$name}'] {
    border-left-color: list.nth($shades, 1);
    border-top-color: list.nth($shades, 2);

    .iconBackdrop {
      background-color: list.nth($shades, 2);
      color: list.nth($shades, 1);
    }
  }
}

.collapsedTile {
  border-bottom: none;
  min-height: 0;

  .orderBasketHeader {
    margin-bottom: 0;
  }
}

.tabletTile.collapsedTile {
  border-bottom: 1px solid $grey-2;
}

.container {
  background-color: colors.$gray-10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.tabletTile .container {
  background-color: colors.$white-0;
}

.heading {
  margin-left: layout.$spacing-03;
}

.iconAndLabel {
  display: flex;
  align-items: center;
  margin: layout.$spacing-03;
}

.iconBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: layout.$spacing-06;
  height: layout.$spacing-06;
  background-color: colors.$purple-20;
  color: colors.$purple-70;
  flex-shrink: 0;
}

.tabletTile .iconBackdrop {
  width: layout.$spacing-08;
  height: layout.$spacing-08;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.chevron {
  svg {
    fill: black;
  }
}
