@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";
@import "~@openmrs/esm-styleguide/src/vars";

.productiveHeading03 {
  @include carbon--type-style("productive-heading-03");
  color: $ui-05;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttonContainer button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin-left: 0.125rem;
}

.right {
  display: flex;
  flex-direction: row;
}
