@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.productiveHeading03 {
  @include carbon--type-style("productive-heading-03");
  color: $ui-05;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttonContainer button {
  height: $spacing-10;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin-left: $spacing-01;
}

.right {
  display: flex;
  flex-direction: row;
}
