@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";
@import "~@openmrs/esm-styleguide/src/vars";

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $ui-02;
  width: 100%;
  min-height: 3rem;
  overflow: hidden;
  border-top: 0.063rem solid $ui-03;
}

.paginationLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  position: absolute;
  background-color: $ui-02;
  padding-left: 1rem;
  color: $color-gray-70;
  @extend .bodyShort01;
  height: 3rem;
  margin: 0;
}

.configurableLink {
  text-decoration: none;
  @extend .bodyShort01;
  padding: 0 $spacing-03;
}

.pagination {
  border: none;
  background-color: $ui-02;
  position: absolute;
  right: 0;
  max-width: 100%;
}
.pagination > :first-child {
  visibility: hidden;
  width: 0;
}

.pagination :nth-child(2),
.pagination :nth-child(2) > div {
  display: flex;
}
