@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.bodyShort01 {
  @include type.type-style("body-compact-01");
}

.desktop, .tablet {
  @include type.type-style('body-compact-01');
  display: flex;
  justify-content: space-between;
  color: $text-02;
  background-color: $ui-02;
  padding-left: 1rem;
  align-items: center;
  border-top: 1px solid $ui-03;
}

.desktop :global(.cds--pagination) {
  min-height: 0rem;
  height: 2rem;
  width: auto;
  border: none;

  & :global(.cds--select-input), :global(.cds--btn), :global(.cds--pagination__right) {
    min-height: 0rem;
    height: 2rem;
  }
}

.tablet :global(.cds--pagination) {
  min-height: 0rem;
  height: 3rem;
  width: auto;
  border: none;

  & :global(.cds--select-input), :global(.cds--btn), :global(.cds--pagination__right) {
    min-height: 0rem;
    height: 3rem;
  }
}

.configurableLink {
  text-decoration: none;
  @extend .bodyShort01;
  padding: 0 spacing.$spacing-03;
}

.pagination {
  @include type.type-style('body-compact-01');
  background-color: $ui-02;
  color: $text-02;
  display: flex;
}

div.pagination {
  & > :global(.cds--pagination__left) {
    display: none;
  }
}
