@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetContainer {
  background-color: $ui-background;
  border: 1px solid #e0e0e0;
  margin-bottom: layout.$spacing-05;
}

.widgetHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-04 0 layout.$spacing-04 layout.$spacing-05;
}

.widgetHeaderContainer > h2:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.headerIcon {
  fill: var(--cds-link-primary, #0f62fe) !important;
}

.widgetContainer :global(.cds--data-table) thead th button span {
  height: unset !important;
}

.productiveHeading03 {
  @include type.type-style('heading-03');
}
