@use '@carbon/layout';

.container {
  margin: layout.$spacing-05;
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 layout.$spacing-05;

  button {
    display: flex;
    padding-left: 0 !important;

    svg {
      order: 1;
      margin-right: layout.$spacing-03;
      margin-left: 0.5 !important;
    }

    span {
      order: 2;
    }
  }
}
