@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.productiveHeading01 {
  @include type.type-style("heading-compact-01");
  margin-bottom: spacing.$spacing-03;
}

.productiveHeading02 {
  @include type.type-style("heading-compact-02");
  margin-bottom: spacing.$spacing-05;
}

.productiveHeading03 {
  @include type.type-style("heading-03");
  margin-bottom: spacing.$spacing-05;
}

.productiveHeading04 {
  @include type.type-style("heading-04");
  margin-bottom: spacing.$spacing-05;
}

.productiveHeading05 {
  @include type.type-style("heading-05");
  margin-bottom: spacing.$spacing-05;
}

.productiveHeading06 {
  @include type.type-style("heading-06");
  margin-bottom: spacing.$spacing-06;
}

.bodyShort01 {
  @include type.type-style("body-compact-01");
}

.bodyShort02 {
  @include type.type-style("body-compact-02");
}

.bodyLong01 {
  @include type.type-style("body-01");
}

.bodyLong02 {
  @include type.type-style("body-02");
}

.label01 {
  @include type.type-style("label-01");
}

.caption01 {
  @include type.type-style("legal-01");
}

.clipTextWithEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text02 {
  color: $text-02;
}
