@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.pinAction {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
  padding: layout.$spacing-05 layout.$spacing-05 layout.$spacing-05 0;
  margin-right: layout.$spacing-05;
  border-top: 1px solid $ui-03;
}

.pinIcon {
  color: $text-02;
  flex-shrink: 0;
}

.pinLink {
  @include type.type-style('body-compact-01');
  color: $interactive-01;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
