@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.drugName {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.attributesSection {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-04;
}

.attributeRow {
  display: flex;
  align-items: center;
  gap: layout.$spacing-05;
}

.attributeLabel {
  @include type.type-style('label-01');
  color: $text-02;
  min-width: 5rem;
}

.attributesHint {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.removedTag {
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;
  padding: layout.$spacing-05 0;
}

.strengthDropdown {
  min-width: 12rem;
}

.addButton {
  padding: 0;
  min-height: unset;
}

.manualInputContainer {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
}

.manualInput {
  min-width: 10rem;
}

.removeInputButton {
  padding: 0;
  min-height: unset;
  color: $text-02;

  &:hover {
    color: colors.$gray-90;
  }
}

.computedName {
  @include type.type-style('body-compact-01');
  margin: layout.$spacing-02 0 0 0;
}
