@use '@openmrs/esm-styleguide/src/vars' as *;

.itemInStock {
  color: $support-02;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .itemInStockIcon {
    fill: $support-02;
  }
}

.itemOutOfStock {
  color: $danger;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .itemOutOfStockIcon {
    fill: $danger;
  }
}
