@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "../root";

.widgetCard {
  border: 1px solid colors.$gray-20;
  border-bottom: none;
}

.row {
  span {
    margin: auto;
  }

  p {
    padding: spacing.$spacing-02 0;
  }
}

.tooltip {
  margin: 0rem -0.5rem -0.625rem;
}

.menuItem {
  max-width: none;
}

.buttons {
  justify-content: flex-end;
}

.singleLineText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
