@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "../root";

.widgetCard {
  border: 1px solid colors.$gray-20;
  border-bottom: none;
}

.row {
  span {
    margin: auto;
  }

  p {
    padding: spacing.$spacing-02 0;
  }
}

.medicationRecord {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startDateColumn {
  @include type.type-style("body-compact-01");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: spacing.$spacing-11;
  padding-bottom: spacing.$spacing-02;

  span {
    margin: 0rem;
  }
}

.dosage {
  @include type.type-style("heading-compact-01");
}

.tooltip {
  margin: 0rem -0.5rem -0.625rem;
}

.menuItem {
  max-width: none;
}

.buttons {
  justify-content: flex-end;
}

.singleLineText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
