@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as openmrs;

.widgetCard {
  border: 1px solid colors.$gray-20;
  border-bottom: none;
}

.row {
  span {
    margin: auto;
  }

  p {
    padding: spacing.$spacing-02 0;
  }
}

.tooltip {
  margin: 0rem -0.5rem -0.625rem;
}

.menuItem {
  max-width: none;
}

.buttons {
  justify-content: flex-end;
}

.priorityPill {
  @include type.type-style('label-01');
  background-color: colors.$gray-20;
  border-radius: spacing.$spacing-05;
  padding: spacing.$spacing-01;
  text-align: center;

  &[data-urgency='routine'] {
    background-color: colors.$green-20;
  }

  &[data-urgency='urgent'] {
    background-color: colors.$red-20;
  }
}

.statusPill {
  @include type.type-style('label-01');
  background-color: colors.$gray-20;
  border-radius: spacing.$spacing-05;
  padding: spacing.$spacing-01;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &[data-status='received'] {
    background-color: colors.$blue-20;
  }

  &[data-status='in progress'] {
    background-color: colors.$cyan-20;
  }

  &[data-status='on-hold'] {
    background-color: colors.$teal-20;
  }

  &[data-status='exception'] {
    background-color: colors.$magenta-20;
  }

  &[data-status='completed'] {
    background-color: colors.$green-20;
  }

  &[data-status='discontinued'],
  &[data-status='declined'] {
    background-color: colors.$red-20;
  }
}

.tile {
  text-align: center;
  border-bottom: 1px solid openmrs.$ui-03;

  .message {
    @include type.type-style('heading-compact-01');
    color: openmrs.$text-02;
  }
}

.table {
  td:after {
    display: none;
  }
}
