@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "../root";

.testOrder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: spacing.$spacing-05;
  border-bottom: none;
  margin-bottom: spacing.$spacing-05;
}
