@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.label01 {
  @include carbon--type-style("label-01");
}

.bodyLong01 {
  @include carbon--type-style("body-long-01");
}

.productiveHeading04 {
  @include carbon--type-style("productive-heading-04");
}

.inputContainer {
  width: 11.625rem;
  border-bottom: 0.063rem solid $ui-04;
  margin-bottom: $spacing-05;
}

.vitalsBiometricInputLabel01 {
  @extend .label01;
  color: $text-02;
  margin-bottom: $spacing-03;
}

.textInput {
  border: none;
  @extend .productiveHeading04;
  text-align: center;
  padding: 0;
  color: $ui-05;
}

.textInputContainer {
  @extend .productiveHeading04;
  height: 4.875rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: $spacing-03;
  color: $text-02;
  background-color: $ui-02;
}

:global(.omrs-breakpoint-gt-tablet) .textInputContainer {
background-color: $ui-01;
}

.textArea {
  border: none;
  @extend .bodyLong01;
  text-align: left;
}

.centerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.unitName {
  margin-bottom: $spacing-03;
}

.disableInput {
  background-color: $ui-01;
}

.danger {
  color: $danger;
}
