@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.productiveHeading03 {
  @include carbon--type-style("productive-heading-03");
}

.vitalsBiometricContainer {
  background-color: $ui-01;
  margin-left: $spacing-05;
}

.vitalsTitle {
  @extend .productiveHeading03;
  margin: 0 $spacing-03 $spacing-05 0;
}

.vitalsButton {
  margin: $spacing-07 0 0 0;
  width: 17.75rem;
}
