@use '@carbon/colors';
@use '@carbon/type';

.paginatedVitals {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tableContainer {
  flex: 1;
}

.table {
  td {
    white-space: nowrap;
  }
}

.criticallyLow, .criticallyHigh, .low, .high {
  td:nth-child(2) {
    @include type.type-style("heading-compact-01");
  }
}

.criticallyLow, .criticallyHigh {
  border: 2px solid colors.$red-60 !important;
}

.low, .high {
  border: 1.5px solid colors.$black-100 !important;
}

.criticallyLow {
  td:nth-child(2)::after {
    content: " ↓↓";
  }
}

.criticallyHigh {
  td:nth-child(2)::after {
    content: " ↑↑";
  }
}

.low {
  td:nth-child(2)::after {
    content: " ↓";
  }
}

.high {
  td:nth-child(2)::after {
    content: " ↑";
  }
}

.off-scale-low {
  td:nth-child(2)::after {
    content: " ↓↓↓";
  }
}

.off-scale-high {
  td:nth-child(2)::after {
    content: " ↑↑↑";
  }
}

.offScaleHigh,
.offScaleLow,
.criticallyHigh,
.criticallyLow,
.high,
.low {
  @include type.type-style('heading-compact-01');
}

.criticallyLow::after {
  content: " ↓↓";
}

.criticallyHigh::after {
  content: " ↑↑";
}

.low::after {
  content: " ↓";
}

.high::after {
  content: " ↑";
}
