@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

td {

  &.criticallyLow, &.criticallyHigh, &.low, &.high {
    td:nth-child(2) {
      @include type.type-style("heading-compact-01");
    }
  }

  &.criticallyLow, &.criticallyHigh {
    outline: 2px solid colors.$red-60;
    outline-offset: -1px;
  }

  &.low, &.high {
    outline: 1px solid colors.$black-100;
  }

  &.criticallyLow {
    td:nth-child(2)::after {
      content: " ↓↓";
    }
  }

  &.criticallyHigh {
    td:nth-child(2)::after {
      content: " ↑↑";
    }
  }

  &.low {
    td:nth-child(2)::after {
      content: " ↓";
    }
  }

  &.high {
    td:nth-child(2)::after {
      content: " ↑";
    }
  }

  &.off-scale-low {
    td:nth-child(2)::after {
      content: " ↓↓↓";
    }
  }

  &.off-scale-high {
    td:nth-child(2)::after {
      content: " ↑↑↑";
    }
  }
}

.offScaleHigh,
.offScaleLow,
.criticallyHigh,
.criticallyLow,
.high,
.low {
  @include type.type-style('heading-compact-01');
}

.criticallyLow::after {
  content: " ↓↓";
}

.criticallyHigh::after {
  content: " ↑↑";
}

.low::after {
  content: " ↓";
}

.high::after {
  content: " ↑";
}
