@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';

.tableContainer {
  flex: 1;
}

.table {
  td {
    white-space: nowrap;
    border-bottom: none !important;
    border-top: 1px solid colors.$gray-20;
  }
}

.criticallyLow, .criticallyHigh, .low, .high {
  td:nth-child(2) {
    @include type.type-style("heading-compact-01");
  }
}

.criticallyHigh, .criticallyLow {
  border-top: 1px solid colors.$red-20-hover !important;
  background-color: colors.$red-20 !important;
}

.high, .low {
  border-top: 1px solid colors.$orange-20 !important;
  background-color: colors.$orange-10 !important;

}

.criticallyLow {
  td:nth-child(2)::after {
    content: " ↓↓";
  }
}

.criticallyHigh {
  td:nth-child(2)::after {
    content: " ↑↑";
  }
}

.low {
  td:nth-child(2)::after {
    content: " ↓";
  }
}

.high {
  td:nth-child(2)::after {
    content: " ↑";
  }
}

.off-scale-low {
  td:nth-child(2)::after {
    content: " ↓↓↓";
  }
}

.off-scale-high {
  td:nth-child(2)::after {
    content: " ↑↑↑";
  }
}

.offScaleHigh,
.offScaleLow,
.criticallyHigh,
.criticallyLow,
.high,
.low {
  @include type.type-style('heading-compact-01');
}

.criticallyLow::after {
  content: " ↓↓";
}

.criticallyHigh::after {
  content: " ↑↑";
}

.low::after {
  content: " ↓";
}

.high::after {
  content: " ↑";
}
