@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';

.table {
  td {
    white-space: nowrap;
    padding: layout.$spacing-02;
    > span {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
}

.criticallyLow, .criticallyHigh, .low, .high {
  td:nth-child(2) {
    @include type.type-style("heading-compact-01");
  }
}

.criticallyHigh > span, .criticallyLow > span {
  border: 2px solid colors.$red-60 !important;
  padding: layout.$spacing-02 layout.$spacing-02 layout.$spacing-02 layout.$spacing-05;
} 

.high > span, .low > span {
  border: 1.5px solid colors.$black-100 !important;
  padding: layout.$spacing-02 layout.$spacing-02 layout.$spacing-02 layout.$spacing-05;
}

.normal > span {
  padding-left: layout.$spacing-05;
}

.criticallyLow {
  td:nth-child(2)::after {
    content: " ↓↓";
  }
}

.criticallyHigh {
  td:nth-child(2)::after {
    content: " ↑↑";
  }
}

.low {
  td:nth-child(2)::after {
    content: " ↓";
  }
}

.high {
  td:nth-child(2)::after {
    content: " ↑";
  }
}

.off-scale-low {
  td:nth-child(2)::after {
    content: " ↓↓↓";
  }
}

.off-scale-high {
  td:nth-child(2)::after {
    content: " ↑↑↑";
  }
}

.offScaleHigh,
.offScaleLow,
.criticallyHigh,
.criticallyLow,
.high,
.low {
  @include type.type-style('heading-compact-01');
}

.criticallyLow > span::after {
  content: " ↓↓";
}

.criticallyHigh > span::after {
  content: " ↑↑";
}

.low > span::after {
  content: " ↓";
}

.high > span::after {
  content: " ↑";
}
