@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.label01 {
  @include carbon--type-style("label-01");
}

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}

.vitalsChartContainer {
  display: flex;
  text-align: left;
  margin: 0 $spacing-03;
  flex-direction: row;
  justify-content: space-between;
}

.vitalSignsArea {
  margin: $spacing-03 0;
  padding: 0rem;
  width: 8.938rem;
  border-right: 0.063rem solid $ui-03;
  padding-right: $spacing-05;
  height: 13.875rem;
}

.vitalsChartArea {
  padding: $spacing-03 $spacing-05;
  width: 100%;
  height: 13.875rem;
}

.vitalsSign {
  @extend .label01;
  color: $color-gray-70;
  width: 7.063rem;
}

.vitalsSignsRadioButton {
  @extend .bodyShort01;
  color: $ui-05;
  padding: $spacing-03 0;
}
