@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.widgetCard {
  background-color: $ui-background;
  border: 1px solid $ui-03;
}

.divider {
  width: 1px;
  height: spacing.$spacing-05;
  color: $ui-03;
  margin: 0rem 0rem 0rem spacing.$spacing-05;
}

.vitalsHeaderActionItems {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;

  & :global(.cds--content-switcher) {
    max-width: max-content;

    :global(.cds--content-switcher__label) {
      height: spacing.$spacing-05;
    }
  }
}

.customRow tbody{
  white-space: nowrap;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}
.printButton {
  margin-left: 1.25rem;
}
