@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.vitalsWidgetContainer {
  background-color: $ui-background;
}

.vitalsHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
}

.vitalsHeaderContainer>h4:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid $brand-teal-01;
}

.activeButton {
  background-color: #C2D8FF;
  border: solid blue 2px;
  color: $color-blue-60-2;
}

.toggle {
  border: 1px solid #C2D8FF;
}

.toggleButtons {
  width: fit-content;
  margin: 0 $spacing-03;
  padding-left: 52.875rem;
  height: 2.5rem;
  border-radius: 4px;
}

.toggle:first-of-type {
  border-radius: $spacing-02 0 0 $spacing-02;
}

.toggle:last-of-type {
  border-radius: 0 $spacing-02 $spacing-02 0;
}

.divider {
  width: 0.063rem;
  height: 1rem;
  margin: 1rem 0.5rem 1rem 1.5rem;
  background-color: #C2C2C2;
}

.vitalsWidgetContainer {
  background-color: $ui-background;
  position: relative;
}
