@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.error-tile {
  width: 60%;
  margin: 1.25rem auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 1.75rem;
}

/* Tablet */
:host-context(.omrs-breakpoint-lt-desktop) .error-tile {
  background-color: $ui-02;
}

.heading {
  @include type.type-style('productive-heading-02');
  color: colors.$gray-100;
}

.helperText {
  margin-top: 0.5rem;
  @include type.type-style('body-01');
  color: colors.$gray-90;
}

.separator {
  @include type.type-style('body-01');
  color: colors.$gray-90;
  width: 12rem;
  margin: 1.375rem auto;
  overflow: hidden;
  text-align: center;
}

.separator::before, .separator::after {
  background-color: colors.$gray-40;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.separator::before {
  right: 1rem;
  margin-left: -50%;
}

.separator::after {
  left: 1rem;
  margin-right: -50%;
}

.title-icon-size {
  height: 0.8rem;
  width: 0.8rem;
}

.no-errors {
  display: none;
}

.sidebar .open {
  margin-top: -1px;
  width: 55%;
  height: 80%;
  padding: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar .closed {
  height: 80px;
  width: 28px;
  margin-top: -1px;
}

.error-content .closed {
  display: none;
}

.error-content {
  border-top: 1px solid colors.$gray-20;
  margin: -4px;
  padding: 4px;
}

.error-title .closed {
  transform: rotate(90deg);
  margin-top: 14px;
}

.no-padding {
  margin-left: -2rem;
  margin-right: -2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-set {
  margin: 0 -2rem;
}

.button-set button {
  height: 4rem;
  align-items: baseline;
  min-width: 50%;
}

/* Desktop */
:host-context(.omrs-breakpoint-gt-tablet) .form-container {
  height: calc(100vh - 6rem);
  margin: 0 2rem;
}

:host-context(.omrs-breakpoint-gt-tablet) .button-set {
  padding: 0rem;
}

/* Tablet */
:host-context(.omrs-breakpoint-lt-desktop) .form-container {
  height: calc(100vh - 6rem);
  margin: 0 2rem;
}

:host-context(.omrs-breakpoint-lt-desktop) .button-set {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.loader-container {
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
}

.encounterHeader {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.16px;
  border-bottom: 1px solid var(--brand-03);
  padding: 0.625rem;
}
