.error-text {
    color: var(--omrs-color-danger);
}

.error {
    margin-left: 30px !important;
}

.title-icon-size {
    height:0.8rem;
    width:0.8rem;
}

.no-errors {
    display: none;
}
.sidebar.open {
    margin-top: -1px;
    width: 55%;
    height: 80%;
    padding: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar.closed {
    height: 80px;
    width: 28px;
    margin-top: -1px;
}
.error-content.closed {
    display: none;
}

.error-content {
    border-top: 1px solid lightgray;
    margin: -4px;
    padding: 4px;
}

.error-title.closed {
    transform: rotate(90deg);
    margin-top: 14px;
}

.no-padding{
    margin-left: -2rem;
    margin-right: -2rem;
}
.button-margin {
    margin: 2rem;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

