@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../root.scss';

.visitAttributeField {
  margin-bottom: spacing.$spacing-05;
}

.visitAttributeField :global(.cds--inline-notification) {
  width: 100%;
  max-width: unset;
}