@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.container {
  margin: 1rem 0;
}

.heading {
  @include carbon--type-style("productive-heading-03");
  color: $text-01;
  margin: $spacing-05;
}

.grid {
  margin: 0rem;
  padding: 0rem;
}

.gridRow {
  margin: $spacing-03 0 $spacing-08 0;
}

.columnLabel {
  @include carbon--type-style("productive-heading-02");
  color: $text-02;
}

.contentSwitcher {
  height: $spacing-09;
}

.right {
  display: flex;
  flex-direction: row;
}

.headerGridRow {
  border-bottom: 0.0625rem solid $grey-2;
  margin: 0;
}

.dataGridRow {
  display: grid;
  grid-template-columns: 50% 10% 1fr;
  margin: 0.5rem 1rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .form {
    height: calc(100vh - 6rem);
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: calc(100vh - 3rem);
  }
}
