@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@import '../../root.scss';

.container {
  margin: layout.$spacing-05;

  & section {
    margin: layout.$spacing-05 0;
  }
}

.heading {
  @include type.type-style('heading-03');
  margin: layout.$spacing-05;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin: 0 0 layout.$spacing-03 0;
}

.dateTimeSection {
  display: flex;
}

.radioButton {
  margin: layout.$spacing-05 0;
}

.headerGridRow {
  border-bottom: 0.0625rem solid colors.$gray-20;
  margin: 0;
}

.dataGridRow {
  display: grid;
  grid-template-columns: 50% 10% 1fr;
  margin: 0.5rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.buttonSet {
  margin-top: auto;
  justify-self: end;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: white;
}

.desktop {
  padding: 0rem;
}

@media screen and (max-width: 600px) {
  .dateTimeSection {
    flex-direction: column;
  }
}

.inlineNotification {
  width: 100%;
  max-width: unset;
  padding: '0rem';
}

.queueSection {
  margin-top: layout.$spacing-04;
}

.label {
  @include type.type-style('label-01');
  color: colors.$gray-70;
}

:global(.omrs-breakpoint-lt-desktop) {
  .container {
    & section {
      display: flex;
      gap: 4rem;

      .sectionTitle {
        flex-basis: 30%;
        min-width: 8rem;
        text-align: left;
      }

      .sectionField {
        flex-basis: 70%;
      }
    }
  }

  .form {
    height: 100%;
  }
}

.spinner {
  &:global(.cds--inline-loading) {
    min-height: 1rem !important;
  }
}
