@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.visitTypeOverviewWrapper {
	margin: $spacing-05 0rem;
	border: 0.0625rem solid $grey-2;
}

.tablet {
	background-color: $ui-02;
}

.desktop {
	background-color: $ui-01;

	.paginationContainer div {
		background-color: $ui-01;
	}
}

.visitTypeOverviewWrapper div:nth-child(3) > div:nth-child(2) {
	position: relative;
}

.visitTypeOverviewWrapper div:nth-child(3) span * {
	display: none;
}

.radioButtonGroup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: $spacing-03;
	min-height: $spacing-10;
	width: 100%;
	@include carbon--type-style('body-short-01');
	color: $text-01;
}

.radioButton {
	padding: $spacing-02 $spacing-05;
	margin: $spacing-03 0;
}