@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';
@import '../../root.scss';

.container {
  margin: spacing.$spacing-05;

  & section {
    margin: spacing.$spacing-05 0;
  }
}

.heading {
  @include type.type-style("heading-03");

  margin: spacing.$spacing-05;
}

.sectionTitle {
  @include type.type-style("heading-compact-02");
  color: $text-02;
  margin: 0 0 spacing.$spacing-03 0;
}

.dateTimeSection {
  display: flex;
}

.radioButton {
  margin: spacing.$spacing-05 0;
}

.headerGridRow {
  border-bottom: 0.0625rem solid $grey-2;
  margin: 0;
}

.dataGridRow {
  display: grid;
  grid-template-columns: 50% 10% 1fr;
  margin: 0.5rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh);
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

@media screen and (max-width: 600px) {
  .dateTimeSection {
    flex-direction: column;
  }
}

.inlineNotification {
  width: 100%;
  max-width: unset;
  padding: '0rem';
}

.queueSection {
  margin-top: spacing.$spacing-04;
}

.label {
  @include type.type-style("label-01");
  color: $text-02;
}

:global(.omrs-breakpoint-lt-desktop) {
  .container {
    & section {
      display: flex;
      gap: 4rem;

      .sectionTitle {
        flex-basis: 30%;
        min-width: 8rem;
        text-align: left;
      }

      .sectionField {
        flex-basis: 70%;
      }
    }
  }
}
