@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

$icon-button-size: 2.5rem;
$actionPanelOffset: 3rem;

.container {
  align-items: center;
  width: 100%;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .sideRail {
    position: fixed;
    align-self: flex-end;
    background: #ededed;
    flex-direction: column;
    display: flex;
    height: 100%;
    right: 0;
    z-index: 1000;
    width: $actionPanelOffset;
    align-items: center;
    border-left: 1px solid $text-03;

    & div {
      display: flex;
      align-items: center;
      flex-direction: column;

      & button {
        width: $icon-button-size;
        height: $icon-button-size;
        justify-content: center;
        margin-top: spacing.$spacing-02;
        margin-bottom: spacing.$spacing-02;
        border-radius: 50%;

        &:hover {
          background-color: $color-gray-30;
        }

        &:focus {
          border-color: $interactive-01;
        }
      }
    }
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .sideRail {
    border-top: 1px solid $color-gray-30;
    position: fixed;
    background: #ededed;
    left: 0;
    bottom: 0;
    z-index: 8002;
    width: 100%;
    display: flex;
    justify-content: stretch;
  }

  .chartExtensions {
    background-color: $ui-02;
    flex-basis: 0.75%;
    flex-grow: 3;
    display: flex;
    width: 100%;

    & > div {
      flex: 1;
      cursor: pointer;
    }
  }

  .nonChartExtensions {
    background-color: $ui-02;
    flex-basis: 0.25%;
    flex-grow: 1;
    display: flex;

    & > div {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.divider {
  background-color: $text-03;
  margin: 0.75rem 0;
  height: 1px;
  width: 2.5rem;
}


// Overriding styles for RTL support
html[dir='rtl'] {
  :global(.omrs-breakpoint-gt-tablet) {
    .sideRail {
      right: unset;
      left: 0;
    }
  }
}
