@use '@carbon/layout';
@use '@carbon/type';
@import '@openmrs/esm-styleguide/src/vars';

.container {
  background-color: $openmrs-background-grey;
}

.vitalsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: layout.$spacing-09;
  margin: layout.$spacing-03 0 layout.$spacing-03 layout.$spacing-05;
  outline: none;
  pointer-events: visibleFill;
}

.headerItems {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: layout.$spacing-02;
}

.heading {
  @include type.type-style("heading-compact-02");
  margin-right: layout.$spacing-03;
  color: $text-02;
}

.rowContainer {
  width: 100%;
  border-bottom: 1px solid $ui-03;
  padding-bottom: 0.75rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
  max-width: 100vw;
}

:global(.omrs-breakpoint-lt-desktop), .workspaceOpen {
  .row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 5rem;
  }
}

.loading {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: layout.$spacing-09;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
}

.overdueIndicator {
  display: flex;
  align-items: center;
  min-inline-size: max-content;

  svg {
    margin-right: 0.25rem;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: right;
}

.arrowUpButton {
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.arrowUpIcon:not([disabled]) svg {
  fill: $color-blue-60-2;
}

.recordVitals {
  @include type.type-style('body-compact-01');
}

.bodyText {
  @include type.type-style('label-01');
  color: $text-02;
}

.link {
  margin-left: 0.25rem;
  @extend .bodyText;
  text-decoration-line: none;
  color: $interactive-01;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .container {
    & > span:nth-child(2) {
      margin-right: layout.$spacing-03;
    }
  }
}
