@use '@carbon/type';
@import '@openmrs/esm-styleguide/src/vars';

.container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  margin: 0.5rem 0rem;
  min-inline-size: max-content;
}

.abnormal-value {
  border: 1px solid $ui-05;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding: 0rem 0.25rem;
}

.critical-value {
  @extend .abnormal-value;
  border: 2px solid $danger;
}

.label-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.value-container {
  @extend .label-container;
  margin-top: 0.25rem;
}

.label {
  @include type.type-style('label-01');
  color: $text-02;
  margin-right: 0.375rem;
}

.danger-icon {
  color: $danger;
  height: 0.25rem;
  width: 0.25rem;
}

.value {
  @include type.type-style('body-compact-02');
}

.units {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.pad-right {
  margin-right: 2px;
}

.critically-low, .critically-high, .low, .high {
  &::after {
    @include type.type-style('heading-compact-01');
    color: $text-02;
  }
}

.low::after {
  content: " ↓";
}

.critically-low::after {
  content: " ↓↓";
}

.high::after {
  content: " ↑";
}

.critically-high::after {
  content: " ↑↑";
}
