@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.vitals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: spacing.$spacing-09;
  margin-left: spacing.$spacing-05;
  outline: none;
  pointer-events: visibleFill;
}

.container {
  display: flex;
  align-items: baseline;
}

.background {
  background-color: $openmrs-background-grey;
}

.row-container {
  width: 100%;
  border-bottom: 1px solid $ui-03;
  padding-bottom: 0.75rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
  max-width: 100vw;
}


:global(.omrs-breakpoint-lt-desktop), .workspace-open {
  .row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 5rem;
  }
}

.loading {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: spacing.$spacing-09;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-left: 0.5rem;
}

.overdueIndicator {
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.25rem;
  }
}

.button-container {
  display: flex;
  align-items: center;
}

.arrow-up-button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.arrow-up-icon:not([disabled]) svg {
  fill: $color-blue-60-2;
}

.heading {
  @include type.type-style("heading-compact-02");
  margin-right: spacing.$spacing-03;
  color: $text-02;
}

.record-vitals {
  @include type.type-style('body-compact-01');
}

.body-text {
  @include type.type-style('label-01');
  color: $text-02;
}

.link {
  margin-left: 0.5rem;
  @extend .body-text;
  text-decoration-line: none;
  color: $interactive-01;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .container {
    & > span:nth-child(2) {
      margin-right: spacing.$spacing-03;
    }
  }
}
