@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';
@import "../root.scss";

.pageHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 spacing.$spacing-05 spacing.$spacing-05 spacing.$spacing-05;

  .pageHeader {
    @extend .productiveHeading03;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.contentContainer {
  margin: 0 spacing.$spacing-05;
}

.tableHeaderContainer {
  display: grid;
  grid-template-columns: 1fr 50%;

  .tableSearch {
    grid-column: 2;
    align-self: end;
  }
}

:global(.omrs-breakpoint-gt-tablet) .tableHeaderContainer {
  grid-template-columns: 1fr 250px;

  .tableSearch {
    grid-column: 3;
  }
}

.availableOfflineToggle {
  :global(.cds--toggle__switch) {
    /*
    Carbon's Toggle component always has a margin-top value, despite no label being used.
    Per designs, this is unintended.
    */
    margin-top: 0 !important;
  }

  :global(.cds--toggle__label-text) {
    display: none;
  }
}

.availableOfflineToggleSkeleton {
  width: spacing.$spacing-07;
  height: spacing.$spacing-05;
}
