.container {
  margin: 21px;
  display: flex;
}

.dashboard {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-gap: 25px;
  height: 100%;
}

:global(.omrs-breakpoint-lt-desktop) .dashboard {
  grid-template-columns: 1fr;
}

.error {
  color: red;
}

.loading {
  font-weight: bold;
}

.widgetContainer {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 100%;
}
