@use '@carbon/layout';

.wrapper {
  padding: layout.$spacing-05 layout.$spacing-05 0 layout.$spacing-05;
}

.heading {
  font-weight: 600;
  margin-bottom: layout.$spacing-03;
}

.pickerWrapper {
  display: flex;
  align-items: center;
}

.datePicker {
  :global(.cds--date-picker-input__wrapper) {
    inline-size: layout.$spacing-13;
  }
}

.timePicker {
  display: flex;
  align-items: baseline;

  :global(.cds--form-requirement) {
    max-width: layout.$spacing-12;
    max-height: 0 !important;
  }
}

.checkBox {
  margin-bottom: layout.$spacing-05;
}
