@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.wrapper {
  margin-top: layout.$spacing-05;
}

.heading {
  margin-bottom: layout.$spacing-03;
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
}

.pickerWrapper {
  display: flex;
  align-items: center;
}

.datePicker {
  :global(.cds--date-picker-input__wrapper) {
    inline-size: layout.$spacing-13;
  }
}

.timePicker {
  display: flex;
  align-items: baseline;

  :global(.cds--form-requirement) {
    max-width: layout.$spacing-12;
    max-height: 0 !important;
  }
}

.checkBox {
  margin-bottom: layout.$spacing-05;
}
