@use '@carbon/layout';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 9rem);
}

.orderBasketContainer {
  margin: layout.$spacing-05;
}

.orderBasketContainer :global(.cds--btn-set .cds--btn) {
  max-width: 50%;
  height: layout.$spacing-10;
}

.spinner :global(.cds--loading__stroke) {
  stroke: var(--brand-03);
}

.activeMedicationsContainer {
  border: 1px solid $ui-03;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.inlineNotification,
.actionNotification {
  max-width: unset !important;
}
