@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../root";

.clickableTileDesktop {
  margin-bottom: 0.5rem;
}

.clickableTileTablet {
  &:not(:last-of-type) {
    border-bottom: 0.0625rem solid $ui-03;
    padding: 15px;
  }

  &:nth-child(even) {
    background-color: $ui-02;
  }

  &:nth-child(odd) {
    background-color: $ui-02;
  }
}

.orderBasketItemTile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderActionNewLabel {
  margin-bottom: 0.5625rem;
  @extend .label01;
  color: $support-02; 
}

.orderActionRenewLabel {
  margin-bottom: 0.5625rem;
  @extend .label01;
  color: $support-02;
  font-weight: 500;
}

.orderActionRevisedLabel {
  margin-bottom: 0.5625rem;
  @extend .label01;
  color: #943d00;
  font-weight: 500;
}

.orderActionDiscontinueLabel {
  margin-bottom: 0.5625rem;
  @extend .label01;
  color: $danger;
  font-weight: 500;
}

.orderErrorText {
  color: $danger;
  display: flex;
  align-items: center;
}

.doseCaption {
  @include type.type-style("body-compact-01");  
  color: $text-02;
}

.dosageLabel {
  @include type.type-style("heading-compact-01");
}

.dosageInfo {
  @include type.type-style("body-compact-01");  
  color: $text-02;
}

.drugName {
  @include type.type-style("heading-compact-01");
  color: $text-02;
}

.indicationLabel {
  @include type.type-style('label-01');
  color: $text-02;
}

.removeButton {
  flex: 0 0 auto; 
}

.removeButton svg {
  fill: $danger !important;
}