@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../root";

.clickableTileDesktop {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid $ui-03;
}

.clickableTileTablet {
  padding: 0.75rem 1rem;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-03;
}

.orderBasketItemTile {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.label {
  display: inline-block;
  @include type.type-style("label-01");
  margin-bottom: 0.5rem;
}

.orderActionNewLabel {
  @extend .label;
  color: $support-02;
}

.orderActionRenewLabel {
  @extend .label;
  color: $support-02;
}

.orderActionRevisedLabel {
  @extend .label;
  color: #943d00;
}

.orderActionDiscontinueLabel {
  @extend .label;
  color: $danger;
}

.orderActionIncompleteLabel {
  @extend .label;
  color: white;
  background-color: $danger;
  padding: 0 0.25rem;
}

.orderErrorText {
  color: $danger;
  display: flex;
  align-items: center;
}

.doseCaption {
  @include type.type-style("body-compact-01");
  color: $text-02;
}

.dosageLabel {
  @include type.type-style("heading-compact-01");
}

.dosageInfo {
  @include type.type-style("body-compact-01");
  color: black;
}

.drugName {
  @include type.type-style("heading-compact-01");
  color: black;
}

.indicationLabel {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.removeButton {
  svg {
    fill: $danger ;
  }
}
