@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.filterContainer {
  background-color: $openmrs-background-grey;
  margin: $spacing-02 0;
}

.filterContainerExpanded {
  border-left: 0.3rem solid var(--brand-01);
}

.filterNode {
  padding: 1rem;
}

.filterItem {
  padding: 0.5rem 1rem 0.5rem 4rem;
}

.nestedAccordion > :global(.bx--accordion--start) > :global(.bx--accordion__item--active) {
  border-left: 0.3rem solid var(--brand-01);
}

.nestedAccordion :global {
  // extending carbon's accordion to handle nested accordions
  // accordion content
  .bx--accordion__content {
    padding: 0;
    margin: 0;
  }

  .bx--accordion__item > .bx--accordion__content {
    display: none;
  }

  .bx--accordion__item--active > .bx--accordion__content {
    display: block;
  }

  .bx--accordion__title {
    margin: 0 0 0 0.8rem;
  }

  .bx--accordion__arrow {
    margin: 0.4rem 0 0 1rem;
  }

  // Chevron transformations
  .bx--accordion__item > button[aria-expanded="false"] > .bx--accordion__arrow {
    transform: rotate(90deg);
}

  .bx--accordion__item--active > .bx--accordion__heading > .bx--accordion__arrow {
    /*rtl:ignore*/
    transform: rotate(-90deg);
    fill: var(--brand-01);
  }

  .bx--checkbox-label-text {
    padding: 0 0 0 .75rem;
  }
}
