@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.stickyFilterSet {
  position: sticky;
  top: 6.5rem;
}

// background of filter, and spacing between containers
.nestedAccordion {
  background-color: $openmrs-background-grey;
  margin: $spacing-02 0;
  @media (min-width: $breakpoint-desktop-min) {
    background-color: $ui-background;
  }
}

// our special accordion rules
.nestedAccordion > :global(.bx--accordion--start) > :global(.bx--accordion__item--active) {
  border-left: 0.3rem solid var(--brand-01);
  @media (max-width: $breakpoint-tablet-max) {
    margin: 1.5rem 0;
  }
}

.nestedAccordion :global {
  // extending carbon's accordion to handle nested accordions
  // accordion content
  .bx--accordion__content {
    padding: 0;
    margin: 0;
  }

  .bx--accordion__item > .bx--accordion__content {
    display: none;
  }

  .bx--accordion__item--active > .bx--accordion__content {
    display: block;
  }

  .bx--accordion__title {
    margin: 0 0 0 0.8rem;
    @media (min-width: $breakpoint-desktop-min) {
      margin: 0 0 0 0.5rem;
    }
  }

  .bx--accordion__arrow {
    margin: 0.4rem 0 0 1rem;
    @media (min-width: $breakpoint-desktop-min) {
      margin: 0.4rem 0 0 0.6rem;
    }
  }

  @media (min-width: $breakpoint-desktop-min) {
    .bx--accordion__item > button {
      padding: 0;
    }
  }

  // Chevron transformations
  .bx--accordion__item > button[aria-expanded="false"] > .bx--accordion__arrow {
    transform: rotate(90deg);
}

  .bx--accordion__item--active > .bx--accordion__heading > .bx--accordion__arrow {
    /*rtl:ignore*/
    transform: rotate(-90deg);
    fill: var(--brand-01);
  }

  .bx--checkbox-label-text {
    padding: 0 0 0 .75rem;
  }
}

.filterItem {
  padding: 0.5rem 1rem 0.5rem 4rem;
  @media (min-width: $breakpoint-desktop-min) {
    padding: 0.2rem 0 0.2rem 4rem;
  }
}
