@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading03 {
  @include type.type-style('heading-03');
}

.title {
  @extend .productiveHeading03;
  margin: 0 layout.$spacing-03 layout.$spacing-03 0;
}

.danger {
  color: $danger;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  margin: layout.$spacing-03 0;
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

:global(.omrs-breakpoint-lt-desktop) .form {
  background-color: #ededed;
}

:global(.omrs-breakpoint-gt-tablet) .form {
  background-color: $ui-02;
}

.grid {
  margin: layout.$spacing-05;
  flex: 1;
}

.row {
  margin: layout.$spacing-03 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05 layout.$spacing-04;
}

.spacer {
  margin-top: layout.$spacing-05;
}

.noteInput {
  width: 100%;
}

.errorNotification {
  margin: layout.$spacing-03 0;
}

.errorContainer {
  margin: layout.$spacing-05;
}
