:global(.omrs-breakpoint-lt-tablet) .card {
  width: 100%;
  margin: 1rem 0;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
}

:global(.omrs-breakpoint-gt-phone) .card {
  width: 21.75rem;
  margin: 1.25rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
}

:global(.omrs-card) button.addBtn {
  color: var(--omrs-color-ink-medium-contrast);
  letter-spacing: 0.0125rem;
}

button.addBtn:hover {
  color: var(--omrs-color-interaction-plus-one);
}

.header {
  display: grid;
  grid-template-columns: [one] 1fr [two] 68px;
  grid-template-rows: [rowone] 3rem;
  grid-template-areas: "a b";
  background-color: var(--omrs-color-bg-medium-contrast);
  align-items: center;
  border-bottom: 0.0625rem solid var(--omrs-color-bg-low-contrast);
  border-radius: 0.25rem 0.25rem 0 0;
  justify-content: space-between;
}

.headerTitle {
  grid-area: a;
}

.headerAdd {
  grid-area: b;
  justify-self: center;
}

.title {
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
}
