@import "../root";

.widgetCard {
  border: 1px solid $ui-03;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
  background-color: $ui-background;
}

.cardHeader span {
  margin: auto;
}

.cardHeader h4 {
  @include carbon--type-style("productive-heading-03");
  color: $text-02;
}

.cardHeader > h4:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 3px;
  border-bottom: 0.375rem solid $brand-teal-01;
}

.medicationRecord {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.indicationRow {
  padding: 0.25rem 0;
}

.dosage {
  @include carbon--type-style("productive-heading-01");
  color: $text-01;
}
