@import "../root";

.widgetCard {
  border: 1px solid $ui-03;

  span {
    margin: auto;
  }
}

.medicationRecord {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.indicationRow {
  padding: 0.25rem 0;
}

.dosage {
  @include carbon--type-style("productive-heading-01");
  color: $text-01;
}
