@import "../root";

.widgetCard {
  border: 1px solid $ui-03;
}

.row {
  span {
    margin: auto;
  }

  p {
    padding: 0.25rem 0;
  }
}

.medicationRecord {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startDateColumn {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.25rem 0;

  span {
    margin: 0rem;
  }
}

.dosage {
  @include carbon--type-style("productive-heading-01");
  color: $text-01;
}

.tooltip {
  svg {
    fill: black;
  }
}

.menuItem {
  max-width: none;
}
