@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.widgetCard {
  border: 1px solid colors.$gray-20;
  background-color: colors.$white;
}

.row {
  span {
    margin: auto;
  }

  p {
    padding: layout.$spacing-02 0;
  }
}

.medicationRecord {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startDateColumn {
  @include type.type-style('body-compact-01');
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: layout.$spacing-11;
  padding-bottom: layout.$spacing-02;

  span {
    margin: 0;
  }
}

.dosage {
  @include type.type-style('heading-compact-01');
}

.tooltip {
  margin: 0 (-(layout.$spacing-03)) -0.625rem;
}

.menuItem {
  max-width: none;
}

.buttons {
  justify-content: flex-end;
}

.label01 {
  @include type.type-style('label-01');
}

.bodyLong01 {
  @include type.type-style('body-01');
}

.table {
  td {
    border-bottom: none !important;
  }
}

.tag {
  margin: 0 !important;
  margin-left: layout.$spacing-03 !important;
  border: none;
  text-transform: uppercase;
}
