@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.topNavHeader {
  top: var(--omrs-offline-banner-height);
  @include brand-02(background-color);
}

.headerGlobalBarButton {
  @include brand-01(background-color);
}

.headerGlobalBarCloseButton {
  @include brand-02(background-color);
}

.headerName {
  display: flex;
}

.navLogo {
  margin-right: spacing.$spacing-06;
  margin-left: spacing.$spacing-04;
}

.startVisitButton {
  width: 15rem;
}

.patientDetails {
  display: flex;
  align-items: center;
  color: $ui-02;
  padding: 0 spacing.$spacing-05;

  &:hover {
    background-color: colors.$teal-90;
  }

  .patientName {
    @include type.type-style('heading-compact-01');
    margin-right: spacing.$spacing-05;
    color: $ui-02;
    margin: spacing.$spacing-04 0;
    padding-right: 0.5rem;
  }

  .patientInfo {
    color: $color-gray-30;
    @include type.type-style('body-compact-01');
  }
}

.tooltip :global(.cds--tooltip__trigger.cds--tooltip__trigger--definition) {
  border-bottom: none;
}

.navDivider {
  background-color: colors.$teal-20;
  width: 0.05rem;
  height: 2.25rem;
}
