@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.topNavHeader {
  top: var(--omrs-offline-banner-height);
  @include brand-02(background-color);
}

.headerGlobalBarCloseButton {
  @include brand-02(background-color);
}

.headerName {
  display: flex;
}

.navLogo {
  margin-right: spacing.$spacing-06;
  margin-left: spacing.$spacing-04;
}

.navLogoTablet {
  margin-right: spacing.$spacing-04;
  margin-left: spacing.$spacing-02;
}

.startVisitButton {
  @include brand-03(background-color);

  &:hover {
    background-color: colors.$teal-90;
  }
}

.patientDetails {
  display: flex;
  align-items: center;
  color: $ui-02;

  :global(.cds--popover--bottom .cds--popover-content) {
    text-align: center
  }

  .patientName {
    @include type.type-style('heading-compact-01');
    color: $ui-02;
    padding: 0 0.625rem;
  }

  .longPatientNameBtn {
    @extend .patientName;
    margin-right: spacing.$spacing-05;
    padding-right: 0.5rem;
  }

  .tooltipPatientName {
    @include type.type-style('productive-heading-01');
    color:$ui-02;
  }

  .longPatientNameBtn {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .patientInfo {
    color: $color-gray-30;
    @include type.type-style('body-compact-01');
    padding: 0 spacing.$spacing-05;
    height: 3rem;
    display: flex;
    align-items: center;

    &:hover{
      background-color: colors.$teal-90;
      cursor: pointer;
    }
  }
}

.tooltipPatientInfo {
  @include type.type-style('body-short-01');
  color:$color-gray-30;
  margin-top:spacing.$spacing-03;
}

.tooltip :global(.cds--tooltip__trigger.cds--tooltip__trigger--definition) {
  border-bottom: none;
}

.navDivider {
  background-color: #007d79;
  width: 0.063rem;
  height: 2rem;
}

.tag {
  min-width: 4rem;
  margin: 0 spacing.$spacing-05;
}

.priorityTag {
  @extend .tag;
  @include type.type-style('label-01');
  color: #943d00;
  background-color: #ffc9a3;
  min-width: 4rem;
  margin: 0 spacing.$spacing-05;
}

.editQueue {
  margin-left: 0.325rem;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}
