@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.topNavHeader {
  top: var(--omrs-offline-banner-height);
  @include brand-02(background-color);
}

.headerName {
  display: flex;
}

.navLogo {
  margin-right: layout.$spacing-06;
  margin-left: layout.$spacing-04;
}

.navLogoTablet {
  margin-right: layout.$spacing-04;
  margin-left: layout.$spacing-02;
}

.startVisitButton {
  @include brand-03(background-color);

  &:hover {
    background-color: colors.$teal-90;
  }
}

.patientDetails {
  display: flex;
  align-items: center;
  color: $ui-02;
  padding: layout.$spacing-04 layout.$spacing-05;

  &:hover {
    background-color: colors.$teal-90;
  }

  :global(.cds--popover--bottom .cds--popover-content) {
    text-align: center;
  }

  .patientName {
    @include type.type-style('heading-compact-01');
    color: $ui-02;
  }

  .longPatientNameBtn {
    @extend .patientName;
    margin-right: layout.$spacing-05;
    padding-right: layout.$spacing-03;
  }

  .tooltipPatientName {
    @include type.type-style('productive-heading-01');
    color: $ui-02;
  }

  .longPatientNameBtn {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .patientInfo {
    color: $color-gray-30;
    @include type.type-style('body-compact-01');
    margin: 0 layout.$spacing-03 0;
  }
}

.tagsFlexRow {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
}

.tooltipPatientInfo {
  @include type.type-style('body-short-01');
  color: $color-gray-30;
  margin-top: layout.$spacing-03;
}

.tooltip :global(.cds--tooltip__trigger.cds--tooltip__trigger--definition) {
  border-bottom: none;
}

.navDivider {
  background-color: colors.$teal-20;
  width: 0.05rem;
  height: 2.25rem;
}

.tag {
  margin: layout.$spacing-02 0;
  min-width: layout.$spacing-10;
}

.priorityTag {
  @extend .tag;
  @include type.type-style('label-01');
  color: #943d00;
  background-color: #ffc9a3;
  min-width: layout.$spacing-10;
}
