@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tileContainer {
  border: 1px solid $ui-03;
  height: 7.875rem;
  padding: layout.$spacing-05;
}

.tileHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: layout.$spacing-03;
}

.headerLabel {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}

.totalsLabel {
  @include type.type-style('label-01');
  color: $text-02;
}

.totalsValue {
  @include type.type-style('heading-04');
  color: $ui-05;
}

.headerLabelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $interactive-01;
}

.metricsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.countGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: flex-end;
  column-gap: layout.$spacing-03;
  row-gap: layout.$spacing-03;
  margin: layout.$spacing-03;

  & > span {
    font-size: 0.7rem !important;
    margin: 0;
    color: colors.$gray-70;
  }

  & > p {
    margin: 0;
  }
}
