@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../../root.scss";

.visitType {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 5px;
}

.date {
  @include type.type-style('body-compact-01');
  color: $text-02;
  padding-right: 0.625rem;
}

.dateLabel{
  padding-right: 0.313rem;
}

.displayFlex{
  display:flex;
  align-items: center;
  justify-content: left;
}

.container {
  background-color: $ui-background;
  border: 1px solid $grey-2;
  padding: 1rem;
  margin: 1rem 0rem 1rem;
  width: 100%;
}

.tabs > :global(.cds--tab-content) {
  padding: 1rem 0rem !important;
}

.tab {
  &:active, &:focus {
    outline: 2px solid var(--brand-03) !important;
  }

  &[aria-selected="true"] {
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
  }
}

.header {
  .visitInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header::after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.toggleButtons {
  margin: 0 1rem;
  height: 2.5rem;
}

.toggle {
  border: 1px solid #A6C8FF;

  &:hover {
    background-color: $color-blue-10;
  }

  &:active, &:focus {
    box-shadow: none;
    background-color: $color-blue-10;
  }

  &:first-of-type {
    border-radius: spacing.$spacing-02 0 0 spacing.$spacing-02;
  }

  &:last-of-type {
    border-radius: 0 spacing.$spacing-02 spacing.$spacing-02 0;
  }
}

.encounterEmptyState {
  text-align: center;
  margin: 0 1rem 1rem 1rem;
}

.observation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 1rem 1rem 0 0;
}

.observation > span {
  align-self: center;
}

.flexSections {
  display: flex;
}

.desktopTabs {
  button {
    height: 32px;
  }
}

.tabletTabs {
  button {
    height: 48px;
  }
}

.tabContent {
  border-top: 1px solid $ui-03;
  padding: 1rem 0;
  width: 70%;
}

.medicationRecord {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .bodyLong01 {
    margin: 0.25rem 0;
  }
}

.medicationContainer {
  background-color: $ui-01;
  padding: 1rem;
  width: 100% !important;
}

.dosage {
  @include type.type-style("heading-compact-01");
}

.toggleSwitch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: spacing.$spacing-02;
}

.toggleSwitch div {
  width: 30%;
}

.noteText {
  background-color: $ui-01;
  padding: 1rem;
  width: 100% !important;
  white-space: pre-wrap;
}

.metadata {
  @include type.type-style('label-01');
  color: $text-02;
  margin: spacing.$spacing-03 0 spacing.$spacing-05;
}

.observationsEmptyState {
  margin-top: 1.5rem;
}

.loader {
  margin: 0 auto;
}

.notesContainer {
  margin-bottom: 2rem;
}

.visitDetailOverviewActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .header {
    .visitInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

