@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";

$icon-button-size: 48px;


.iconButton {
  width: $icon-button-size;
  height: $icon-button-size;
  color: $ui-05;
  border-radius: 50%;
  margin-top: $spacing-01;
}

.iconButton:hover {
  background-color: $color-gray-30;
  color: $ui-05;
}

.activeIconButton,
.activeIconButton:hover {
  padding: 0.625rem;
  border: solid $spacing-02 $brand-teal-01;
  background-color: $ui-02;
}


:global(.omrs-breakpoint-gt-tablet) .warningButton {
  position: absolute;
  top: 0;
  right: 0;
  fill: $danger !important;
}


:global(.omrs-breakpoint-lt-desktop) .warningButton {
  position: absolute;
  top: 0;
  right: 0;
  fill: $danger !important;
}

:global(.omrs-breakpoint-lt-desktop) .warningButton [data-icon-path="inner-path"] {
  fill: $ui-02 !important;
  opacity: 1;
}
