@use '@carbon/styles/scss/grid/_flexbox';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.panelViewHeader {
  position: sticky;
  top: 6rem;
  background-color: $ui-01;
  z-index: 99;
  padding: spacing.$spacing-03 0;
}

.panelViewHeaderText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panelViewHeaderSearch {
  display: flex;
  align-items: center
}

:global(.omrs-breakpoint-lt-desktop) .panelViewHeaderSearch {
  margin: - spacing.$spacing-05
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}

.headerMargin {
  margin-top: spacing.$spacing-09;
}

.headerMarginTablet {
  margin-top: 4rem;
}

.stickyTop {
  position: sticky;
  top: 7rem;
}

.searchForm {
  display: flex;
  flex: 1;
  align-items: center;

  .searchBar {
    flex: 1;
  }
}

.headerText {
  display: flex;
  align-items: center;
}