@use '@carbon/styles/scss/grid/_flexbox';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.panelViewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-03;
  position: sticky;
  top: 6rem;
  background-color: $ui-01;
  z-index: 99;
  padding: spacing.$spacing-03 0;
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}