@import '~@openmrs/esm-styleguide/src/vars';

.allergenSearchResults {
  background-color: $ui-02;
  max-height: 14rem;
  overflow-y: scroll;
  border: 1px solid $ui-03;

  li {
    padding: 1rem 0.75rem;
    cursor: pointer;
  }

  li:hover {
    background-color: $ui-03;
  }
}
