@import '../../root.scss';

.allergyFormWrapper {
  padding: $spacing-05;
  background-color: var(--omrs-color-bg-medium-contrast);
}

.allergyFormWrapper header {
    margin: $spacing-03 0;
}

.sectionWrapper {
  background-color: $ui-02;
  border: 0.0625rem solid $ui-03;
  padding: $spacing-05;
}

.sectionWrapper section > div {
    margin: $spacing-05 0rem;
}

.sectionWrapper section header {
  margin-bottom: $spacing-02;
}

.sectionWrapper input {
  width: 50vw;
}

.buttonWrapper {
  display: flex;
  padding: 1.5rem 0;
}

.buttonWrapper button {
  flex: 1;
}

.buttonWrapper button:first-child {
  margin-right: $spacing-01;
}

.allergyFormTabs {
  margin: 0;
  padding: 0;
  min-height: 20rem;
}

.allergyFormTabs fieldset {
  display: flex;
  flex-flow: row wrap;
}

.checkBoxWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  height: 25rem;
  width: 30rem;
}

.checkBoxWrapper div {
  width: 14rem;
  height: $spacing-07;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .form {
    height: calc(100vh - 6rem);
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: calc(100vh - 3rem);
  }
}
