.radioButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  min-height: 18rem;
  width: 30rem;
}

.radioButtonWrapper div {
  width: 14rem;
  display: flex;
  height: layout.$spacing-07;
  margin: 0;
}
