@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../../root.scss';

.header {
  border-bottom: 0.0625rem solid $grey-2;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 50% 10% 1fr;
  margin: 0.5rem 1rem;
}

.wrapperContainer fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.wrapperContainer :global(.cds--radio-button__label) {
  justify-content: flex-start;
}

.radio {
  margin: 1rem 0rem;

  label {
    justify-content: flex-start;
  }
}

.checkbox {
  &:not(:first-child) {
    margin: 0.3rem 0rem;
  }
}

.input {
  margin: 0rem 1rem 1rem;
}

.checkboxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.desktopButtons {
  margin-top: 2rem;
}

.tabletButtons {
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.actionButtons {
  position: sticky;
  bottom: 0;
}

.form {
  margin: 1rem;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .form {
    height: calc(100vh - 6rem);
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: calc(100vh - 9rem);
  }

}
