@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../../root.scss';

.header {
  border-bottom: 0.0625rem solid $grey-2;
  margin: 0;
}

.container {
  border: solid 1px $ui-03;
  margin: 0rem 1rem 1rem;

  &:first-of-type {
    margin-bottom: 2rem;
  }

  &:last-of-type {
    margin-top: 2.5rem;
  }
}

.heading {
  @include type.type-style("heading-03");
  margin: 1rem 1rem 0.5rem;
}

.section {
  &:not(:first-of-type) {
    margin-bottom: 2rem;
  }
}

.wrapperContainer fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.wrapperContainer :global(.cds--radio-button__label) {
  justify-content: flex-start;
}

.tablist {
  :global(.cds--tab--list) {
    justify-content: center;
    width: 100%;
  }
}

.tab {
  flex-grow: 1;
}

.sectionHeading {
  @include type.type-style('heading-compact-02');
  margin: 1rem 1rem 0.5rem;
}

.midSectionHeading {
  @include type.type-style('heading-compact-02');
  margin: 0rem 1rem 0.5rem;
}

.radio {
  margin: 1rem 0rem;

  label {
    justify-content: flex-start;
  }
}

.checkbox {
  &:not(:first-child) {
    margin: 0.3rem 0rem;
  }
}

.input {
  margin: 0rem 1rem 1rem;
}

.checkboxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper {
  margin: 1rem;

  &:last-of-type {
    margin-top: 1.5rem;
  }
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 0rem;
}

.desktopButtons {
  margin-top: 2rem;
}

.tabletButtons {
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desktopContainer {
  background-color: $ui-01;
}

.tabletContainer {
  background-color: white;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .form {
    height: calc(100vh - 6rem);
  }

  .section {
    &:last-of-type {
      margin-top: 2rem;
    }
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: calc(100vh - 9rem);
  }

  .section {
    &:last-of-type {
      margin-top: 0rem;
    }
  }
}
