@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.label01 {
  @include type.type-style("label-01");
}

.bodyShort01 {
  @include type.type-style("body-compact-01");
}

.graphContainer {
  border: 1px solid $ui-03;
  display: flex;
  text-align: left;
  margin: 0 spacing.$spacing-03;
  flex-direction: row;
  justify-content: space-between;
}

.conceptPickerTabs {
  margin: spacing.$spacing-03 0;
  padding: 0rem;
  width: 8.938rem;
  border-right: 0.063rem solid $ui-03;
  padding-right: spacing.$spacing-05;
  height: 13.875rem;
  overflow: overlay;
}

.lineChartContainer {
  padding: spacing.$spacing-03 spacing.$spacing-05;
  width: 100%;
  height: 17.875rem;
}

.conceptLabel {
  @extend .label01;
  color: $color-gray-70;
  width: 7.063rem;
}

.verticalTabs {
  margin: 1rem 0;
  scroll-behavior: smooth;
}

.verticalTabs > ul {
  flex-direction: column !important;
}

.tab:hover {
  border-bottom: none !important;
}

.tab > button:first {
  text-indent: 5rem;
}

.tab > button, 
.tab > button:focus, 
.tab > button:active {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.selectedTab > button {
  border-left: 2px solid var(--brand-03) !important;
  border-bottom: 0 !important;
  font-weight: 600 !important;
}

.tabContent {
  border-top: 1px solid $ui-03;
  padding: 1rem 0;
  width: 10rem;
}

:global(.cds--tabs--scrollable .cds--tabs--scrollable__nav-item+.cds--tabs--scrollable__nav-item) {
  margin-left: 0rem;
}

:global(.cds--tabs--scrollable .cds--tabs--scrollable__nav-link) {
  border-bottom: 0 !important;
  border-left: 2px solid $color-gray-30;
}
