.editVisitContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--omrs-color-ink-white);
  flex-direction: column;
  padding: 0.25rem 0.25rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.08),
    0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.04);
}

.editVisitTable {
  width: 100%;
  text-align: left;
  margin: 0.25rem;
}

.editVisitTable thead {
  font-weight: 500;
  color: var(--omrs-color-ink-medium-contrast);
}

.editVisitTable th,
.editVisitTable td {
  padding: 0.325rem;
}

.editVisitTable tr {
  border-bottom: 0.0625rem solid var(--omrs-color-bg-low-contrast);
}

.cancelButtonContainer {
  display: flex;
  justify-content: flex-end;
}
