.newVisitContainer {
  display: flex;
  position: relative;
  margin: 0.325rem;
  padding: 0.25rem 0.625rem;
  flex-direction: column;
  justify-content: flex-start;
}

.newVisitInputContainer {
  display: flex;
  align-items: center;
  margin: 0.625rem 0;
}

.newVisitContainer label {
  color: var(--omrs-color-ink-medium-contrast);
  font-weight: 500;
  margin-bottom: 0.375rem;
}

.newVisitContainer select {
  padding: 0.625rem;
  font-size: 1rem;
  height: 2.625rem;
  color: var(--omrs-color-interaction);
  padding: 0.5rem;
  border: 0.0625rem solid var(--omrs-color-ink-lowest-contrast);
  border-radius: 0.0625rem;
  background-color: var(--omrs-color-ink-white);
  width: 100%;
}

.flexRow {
  flex-direction: row;
  width: 100%;
}

.flexColumn {
  flex-direction: column;
  align-items: flex-start;
}

.newVisitButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0rem 0.25rem 0.25rem;
}

.newVisitButtonContainer button {
  width: 46%;
  padding: 0.25rem 0rem;
  border-radius: 6.25rem;
  cursor: pointer;
}
