@use '@carbon/layout';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

$actionNavOffset: 45px;
$actionPanelOffset: 256px;
$actionPanelExpandedOffset: $actionNavOffset + $actionPanelOffset;

.patientInfoSlot {
  :not(:last-child) {
    border-bottom: 1px solid colors.$gray-20;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  align-items: stretch;
  width: inherit;
}

.chartReview {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  height: 90%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: layout.$spacing-10;
}

.widthContained {
  max-width: 60rem;
}

:global(.omrs-breakpoint-gt-small-desktop) .widthContained {
  max-width: 80rem;
}

.chartContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.innerChartContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .chartContainer {
    padding-right: unset;
    padding-left: layout.$spacing-01;
  }

  :global(.omrs-breakpoint-lt-desktop) .innerChartContainer {
    padding-left: 0;
    margin-right: unset;
  }
}
