@use '@carbon/styles/scss/spacing';
@import '@openmrs/esm-styleguide/src/vars';

.widgetContainer {
  background-color: $ui-background;
  border: 1px solid $ui-03;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
}

.toggleButtons {
  width: fit-content;
  margin: 0 spacing.$spacing-03;
}

.toggle {
  padding: 0.5rem;
  color: $interactive-01;
  min-height: 0px;

  &:global(.cds--btn--tertiary) {
    border-color: $interactive-01;
  }

  &:global(.cds--tooltip__trigger:active:not([disabled])) {
    border-color: $interactive-01;
  }

  &:global(.cds--btn--tertiary:active) {
    border-color: $interactive-01;
    background-color: #edf5ff;
    color: #edf5ff;
  }

  &:global(.cds--btn--tertiary:focus) {
    background-color: $interactive-01;
    color: $ui-background;
  }

  &:global(.cds--btn--tertiary:hover) {
    color: $ui-background;
    background-color: $interactive-01;
  }

  &:global(.cds--btn--ghost) {
    border-color: #a6c8ff;
  }

  &:global(.cds--btn--ghost:hover) {
    color:  #000;
    background-color: $ui-01;
  }
}

.toggle:first-of-type {
  border-radius: spacing.$spacing-02 0 0 spacing.$spacing-02;

  &:global(.cds--btn--ghost) {
    border-right: 0;
  }
}

.toggle:last-of-type {
  border-radius: 0 spacing.$spacing-02 spacing.$spacing-02 0;

  &:global(.cds--btn--ghost) {
    border-left: 0rem;
  }
}

.widgetContainer {
  background-color: $ui-background;
  position: relative;
}

.headerActionItems {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
}

