@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.cameraSection {
  width: inherit;
  background-color: $ui-02;
}

.cameraSection :global(.react-html5-camera-photo) {
  & > img, & > video {
    max-width: 100%;
    max-height: 100%;
  }
}

.uploadFile {
  color: $ui-02;

  label {
    max-width: unset;
  }

  label > div {
    height: 25rem;
    justify-content: center;
    align-items: center;
  }

}

.modalBody {
  padding: 0;
  margin: 0;
}

@media (max-width: $breakpoint-tablet-max){
  .frameContent {
    width: 65%;
  }
}

.tabList {
  border-bottom: 2px solid $ui-03;

  div {
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 100%;
    z-index: 1;

    button > div {
      align-items: center;
    }
  }
}

:global(.cds--tabs .cds--tabs__nav-item--selected) {
  border-bottom: 2px solid var(--brand-03);
}
