.container {
  display: flex;
  align-items: center;
}

.buttonCssReset {
	max-width: 4rem;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.placeholderIconContainer {
	width: 4rem;
	height: 4rem;
	background-color: #D8D8D8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.actionButton {
  flex: 1;
  margin-left: 1rem;
}

.preview {
  width: 100%;
}
