.buttonCssReset {
	max-width: 64px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.placeholderIconContainer {
	width: 64px;
	height: 64px;
	background-color: #D8D8D8;
	display: flex;
	align-items: center;
	justify-content: center;
}
