@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as vars;

.filePreviewContainer {
  background-color: vars.$ui-02;
}

.modalHeader {
  @include type.type-style('heading-compact-02');
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    max-width: 100%;
    max-height: 20rem;
    display: block;
    align-self: center;
    justify-self: center;
  }

  .imageDetails {
    margin-left: layout.$spacing-05;
  }
}

.captionFrame {
  margin-bottom: 0.3rem;
}

.buttonSetOverrides {
  margin: layout.$spacing-05 auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > button {
    max-width: unset;
  }
}

.filePlaceholder {
  background-color: vars.$color-gray-30;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.filePlaceholder::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
