@import '../root.scss';

.uploadFile {
  color: $ui-02;
  width: 100%;
  height: 406px;

  div > button {
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 406px;
    position: relative;
  }

  label {
    max-width: unset;
  }

  label > div {
    height: 25rem;
    justify-content: center;
    align-items: center;
  }

}
