@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as vars;

.modalHeader {
  @include type.type-style('heading-compact-02');
}

.cameraSection {
  background-color: vars.$ui-02;
}

.uploadingFilesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  overflow-y: auto;
  border: 1px dashed vars.$ui-04;
}

.buttonSet {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  button {
    max-width: unset !important;
  }
}
