@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container:after {
  content: '';
  height: 100%;
  width: 10px;
  position: relative;
  right: 0;
  top: 0;
  background-color: bisque;
  margin: 0 layout.$spacing-05;
}

.details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.name {
  @include type.type-style('body-compact-02');
  font-weight: 600;
  font-size: 16px;
}
