@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  @include type.type-style('body-compact-01');
  width: 100%;
  padding: 0.5rem;
}

.loadingContainer {
  display: flex;
  height: 4.5rem;
}

.loading {
  justify-content: center;
}

.name {
	@include type.type-style('productive-heading-02');
  margin-right: 0.5rem;
  font-weight: normal;

}
