@use '@carbon/colors';
@use '@carbon/layout';

.flagSummary {
  padding: layout.$spacing-03;
  border-bottom: 1px solid colors.$gray-20;
  display: flex;
  align-items: center;
}

.flagIcon {
  margin-right: layout.$spacing-02;
}

.arrow {
  margin-left: layout.$spacing-05;
  fill: currentColor;
}

.flagsHighlightTag {
  padding: 0 layout.$spacing-03;
  border: none;
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flagsListContainer {
  padding-left: layout.$spacing-03;
  border-bottom: 1px solid colors.$gray-20;
  flex-grow: 1;
}

.loader {
  align-items: center;
  display: flex;
  min-height: layout.$spacing-05;
  padding: layout.$spacing-05;
  width: 100%;
}
