.wrapper {
  display: flex;
  padding: 0.88rem;
  align-items: center;
  border-bottom: 1px solid var(--omrs-color-ink-lowest-contrast);
}

.active,
.inactive {
  text-transform: capitalize;
}
.active {
  color: var(--omrs-color-ink-high-contrast);
  font-weight: bold;
}

.inactive {
  color: var(--omrs-color-ink-medium-contrast);
}

.route {
  display: flex;
  align-items: center;
}

.breadcrumb {
  text-decoration: none;
}
.breadcrumb:hover {
  color: var(--omrs-color-interaction);
  font-weight: bold;
}
