@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  padding-bottom: layout.$spacing-07;
  background-color: $ui-01;
}

.menuItem {
  max-width: none;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-05;
  margin: layout.$spacing-03;
  border-top: 1px solid $text-03;
  border-bottom: 1px solid $text-03;
}

.title {
  @include type.type-style('body-compact-02');

  margin: 0 layout.$spacing-04 layout.$spacing-04;
}

.subTitle {
  @include type.type-style('label-01');
  color: $text-02;
  margin: layout.$spacing-01;
  margin-left: layout.$spacing-04;
}

.filterTile {
  border-bottom: 1px solid $text-03;
  margin-bottom: layout.$spacing-04;
  background-color: $ui-01;
}

.actionsBtn {
  float: right;
}

.tableContainer {
  margin: 0 layout.$spacing-05;
  padding: 0;
}

.search {
  max-width: 16rem;

  input {
    background-color: $ui-02 !important;
  }
}

.tableContainer {
  background-color: $ui-01;

  a {
    text-decoration: none;
  }

  tr {
    width: layout.$spacing-01;
  }

  .toolbarContent {
    height: layout.$spacing-07;
    margin-bottom: layout.$spacing-02;
  }
}

.queueTable tr:last-of-type {
  td {
    border-bottom: none;
  }
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: layout.$spacing-11 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}
