@use '@carbon/layout';

.backButton {
  padding: layout.$spacing-03;

  button {
    display: flex;
    margin-left: -(layout.$spacing-03);

    svg {
      order: 1;
      margin-right: layout.$spacing-03;
      margin-left: 0 !important;
      fill: currentColor !important;
    }

    span {
      order: 2;
    }
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabPanelsWrapper {
  :global(.cds--tab-panels) {
    padding: 0;
  }

  :global(.cds--tab-content) {
    padding: 0;
  }
}
