.tooltipPadding {
  padding: 0.25rem;
}

.tooltipSmallText {
  font-size: 80%;
}

.heading {
  margin-bottom: 0.5rem; 
}

:global(.cds--tooltip--definition .cds--tooltip__trigger){
  border-bottom: none;
}
