@use '@carbon/colors';
@use '@carbon/layout';

.tooltipPadding {
  padding: layout.$spacing-02;
}

.tooltipSmallText {
  font-size: 80%;
}

.heading {
  display: block;
  font-weight: 600;
  margin-bottom: layout.$spacing-03;
}

.tagOverride {
  background-color: colors.$gray-80;
  color: colors.$gray-20;
}
