@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.stickerContainer {
  padding: layout.$spacing-03 layout.$spacing-05;
}

.printedBy {
  display: none;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
  margin: 0 layout.$spacing-02;

  span {
    margin-left: layout.$spacing-02;
  }
}

.row {
  margin: layout.$spacing-03 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
}

.gridRow {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    margin-left: 0px;
    margin-bottom: 5px;
  }
}

.patientName {
  font-size: layout.$spacing-06;
  font-weight: bolder;
  margin-bottom: 5px;
}

.button {
  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: layout.$spacing-03 0;
  margin-top: layout.$spacing-03;
}

.loader {
  :global(.cds--inline-loading__text) {
    @include type.type-style('body-01');
  }
}

@media print {
  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: colors.$white;
    font-size: smaller;
  }

  .printedBy {
    @include type.type-style('body-compact-01');
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
