@use '@carbon/layout';
@use '@carbon/type';
@import '@openmrs/esm-styleguide/src/vars';

.stickerContainer {
  padding: 0.5rem 1rem;
}

.row {
  margin: layout.$spacing-03 0rem 0rem;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
}

.gridRow {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    margin-left: 0px;
    margin-bottom: 5px;
  }
}

.patientName {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.button {
  :global(.cds--inline-loading) {
    min-height: 1rem !important;
  }
}

.loader {
  :global(.cds--inline-loading__text) {
    @include type.type-style('body-01');
  }
}

.previewContainer {
  max-height: 10rem;
  overflow-y: scroll;
  background-color: white;
  width: 96%;
  border: 1px solid $ui-03;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.labelNumberInput {
  padding: 1rem;
}

.stickerContent {
  display: inline-flex;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.hideResultsPreview {
  display: none;
}

@media print {

  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}
