@use '@carbon/layout';

.tooltipBox {
  padding: layout.$spacing-02;
}

.tooltipSmallText {
  font-size: 80%;
}

.heading {
  display: block;
  font-weight: 600;
  margin-bottom: layout.$spacing-03;
}

.definitionToolTip {
  & > button {
    border-bottom: none;
  }
}
