@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.widgetCard {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  margin: layout.$spacing-06;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-05;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: layout.$spacing-05;
}

.headerActions {
  display: flex;
  gap: layout.$spacing-03;
  align-items: center;
}

.filterContainer {
  flex: 1;

  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: layout.$spacing-05;
  }
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.tileContainer {
  background-color: colors.$white-0;
  border-top: 1px solid colors.$gray-20;
  padding: layout.$spacing-09 0;
}

.tile {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin-bottom: layout.$spacing-03;
}

.helper {
  @include type.type-style('body-compact-01');
  color: colors.$gray-70;
}

.separator {
  @include type.type-style('body-compact-02');
  color: colors.$gray-70;
  width: 80%;
  margin: layout.$spacing-06 auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: colors.$gray-40;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: layout.$spacing-03;
    margin-left: -50%;
  }

  &::after {
    left: layout.$spacing-03;
    margin-right: -50%;
  }
}

.paginationContainer {
  > div {
    border-top: none !important;
  }
}
