@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.loading {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: layout.$spacing-09;
}
