@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.patientSearchBar {
  width: 100%;
  position: relative;
}

.floatingSearchResultsContainer {
  position: absolute;
  overflow-y: auto;
  box-shadow: 0 layout.$spacing-03 layout.$spacing-05 $ui-03;
  z-index: 99;
  width: 100%;
  background-color: $ui-02;
}

.searchArea {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $ui-04;
}

.patientSearchInput {
  border: none;
}
