@use '@carbon/colors';
@use '@carbon/layout';

.patientBanner {
  display: flex;
}

.patientAvatar {
  width: 3.5rem;
  height: 3.5rem;
  margin: layout.$spacing-05;
}

.divider {
  border: 0;
  border-top: 0.075rem solid colors.$gray-20;
  width: 100%;
}

.backButton {
  svg {
    order: 1;
    margin-right: layout.$spacing-03;
    margin-left: 0;
  }

  span {
    order: 2;
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .titleContent {
    margin-left: layout.$spacing-05;
  }
}
