@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.metricsBorder {
  border: 0.0625rem solid $ui-03;
  background-color: $ui-02;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: layout.$spacing-05;
}
