@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.wardPatientCard {
  @include type.type-style('body-compact-01');
  color: $text-02;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $ui-02;
  position: relative; // this allows positioning the button correctly
}

.wardPatientCardButton {
  border: none;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 200ms;
  }

  &:hover::before,
  &:focus::before {
    border-color: $interactive-01;
  }

  &:focus {
    outline: none;
  }
}

.activeWardPatientCardButton {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
    border: 2px solid $interactive-01;
    transition: border-color 200ms;
  }
}

.wardPatientCardRow {
  width: 100%;
  padding: layout.$spacing-04;
  border-top: 1px colors.$gray-20 solid;
  background-color: colors.$white;

  &:empty {
    border-top: 0px;
    display: none;
  }
}

.wardPatientPendingOrdersRow:empty {
  display: none;
  margin-left: layout.$spacing-04;
}

.wardPatientCardExtensionSlot {
  display: none;
  width: 100%;

  &:has(div:not(:empty)) {
    display: block;
  }
}

.wardPatientCardPendingItemsRow:empty {
  display: none;
  margin-left: layout.$spacing-04;
}

.wardPatientCardPendingItemsRow {
  @extend .wardPatientCardRow;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  color: $ui-02;
  background-color: colors.$gray-80;
}

.wardPatientCardHeader {
  @extend .dotSeparatedChildren;
  border-top: 0;
}

.wardPatientCardDispositionTypeContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.wardPatientName {
  @include type.type-style('heading-compact-02');
  color: $text-02;

  &::before {
    content: '' !important;
  }
}

.wardPatientBedNumber {
  @include type.type-style('heading-compact-01');
  border-radius: 50vh;
  color: $ui-02;
  background-color: $color-blue-60-2;
  padding: layout.$spacing-04 layout.$spacing-03;
  height: layout.$spacing-04;
  display: flex;
  justify-content: center;
  align-items: center;

  &.empty {
    background-color: $color-blue-10;
    color: $color-blue-60-2;
  }
}

.bedNumberBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movementIcon {
  padding: layout.$spacing-02;
  border-radius: 50%;
  fill: $ui-03;
  background-color: $color-blue-60-2;
  margin-left: layout.$spacing-03;
  margin-right: layout.$spacing-02;
}

.cancelTransferRequestButton {
  fill: $ui-03;
  margin-left: layout.$spacing-02;
  z-index: 2;
}

.chemistryReferenceIcon {
  padding: layout.$spacing-02;
  border-radius: 50%;
  fill: $ui-03;
  background-color: #a2191f;
  margin-left: layout.$spacing-03;
  margin-right: layout.$spacing-02;
}

.wardPatientAddress {
  @extend .dotSeparatedChildren;
  align-items: center;
  gap: layout.$spacing-02;
}

.wardPatientObsLabel {
  padding-right: layout.$spacing-02;
}

.responsiveTooltip {
  z-index: 2;
  & :global(.cds--tag) {
    border: 0;
  }
}

.dotSeparatedChildren {
  display: flex;
  flex-wrap: wrap;

  > *:not(*:first-of-type):not(:empty) {
    display: flex;
    align-items: center;

    &::before {
      content: '·';
      padding: 0 layout.$spacing-02;
    }
  }
}

.skeletonText {
  width: 6.25rem;
}

.unassignedPatient {
  display: flex;
  flex-direction: column;
}
