.moreBtn {
  margin: 0.625rem;
  color: var(--omrs-color-ink-medium-contrast);
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 17px;
}
.icon {
  top: 30px;
}
