@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;
@use '@carbon/colors';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: layout.$spacing-05;
}

.orderBasketContainer {
  margin: layout.$spacing-05;
}

.orderBasketContainer :global(.cds--btn-set .cds--btn) {
  max-width: 50%;
  height: layout.$spacing-10;
}

.orderBasketSlot {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-07;
}

.orderBasketSlotTablet {
  gap: layout.$spacing-05;
}

.buttonSet {
  padding: 0;
}

.basketFooter {
  margin-top: auto;
}

.actionButton {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;

  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset;
  }
}

.inlineNotification,
.actionNotification {
  max-width: unset !important;
  margin-bottom: layout.$spacing-02;
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .container {
    height: 100%;
  }

  .buttonSet {
    padding: layout.$spacing-06 layout.$spacing-05;
    background-color: $ui-02;
  }
}

.orderPanel {
  margin: layout.$spacing-07 0;
}

.retroVisit {
  display: flex;
  background-color: colors.$gray-10;
  padding: layout.$spacing-03 layout.$spacing-05;
  gap: layout.$spacing-05;
  border: none;
  cursor: pointer;

  p {
    font-size: 12px;
    color: colors.$gray-70;
  }

  > :nth-child(2) {
    flex-grow: 1;
  }
}

.activeVisit {
  display: flex;
  background-color: colors.$green-10;
  padding: layout.$spacing-03 layout.$spacing-05;
  gap: layout.$spacing-05;
  border: none;
  cursor: pointer;

  p {
    font-size: 12px;
    color: colors.$gray-70;
  }

  > :nth-child(2) {
    flex-grow: 1;
  }
}

.activeVisit:hover {
  background-color: colors.$green-20;
  transition: background-color 0.3s ease;
}

.retroVisit:hover {
  background-color: colors.$gray-20;
  transition: background-color 0.3s ease;
}

.visitTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: layout.$spacing-03;

  button {
    padding: 0;
    min-height: 0;
  }
}

.visitAttributes {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
}

.visitHeading {
  font-weight: 700;
}

.addingToText {
  line-height: 2.1;
}
