@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;
@use '@carbon/type';

.container {
  margin: layout.$spacing-05;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.datePicker {
  :global(.cds--date-picker-input__wrapper) {
    inline-size: layout.$spacing-13;
  }
}

.spinner {
  &:global(.cds--inline-loading) {
    min-height: layout.$spacing-05;
  }
}

.vaccineBatchHeading {
  @include type.type-style('heading-compact-02');
}
