@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.content {
  background-color: $ui-background;
}

.doseCell {
  min-width: 140px;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
}

.doseLabel {
  margin-bottom: 0.5rem;
}

.doseDate {
  font-size: 0.875rem;
  color: $text-02;
}

.headerRow {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}

.headerCell {
  min-width: 200px;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  position: sticky;
  left: 0;
  background-color: #f4f4f4;
}

.vaccineNameCell {
  background-color: #f4f4f4;
  width: 200px;
  position: sticky;
  left: 0;
  z-index: 1;
  vertical-align: top;
}

.vaccineNameContent {
  width: 200px;
}

.dosesCell {
  background-color: #f4f4f4;
  padding: 0;
  width: 100%;
}

.vaccineDose {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5rem 0;
}
