.immunizationsFormSummaryCard {
  width: 100%;
  background: var(--omrs-color-bg-medium-contrast);
  height: auto;
}

:global(.omrs-breakpoint-gt-phone) .immunizationsForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

:global(.omrs-breakpoint-lt-tablet) .immunizationsForm {
  padding: 0.25rem 0.5rem 0 0.5rem;
  flex-direction: row;
}

:global(.omrs-breakpoint-lt-tablet) .immunizationsContainerWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.immunizationsContainerWrapper {
  display: flex;
  margin: 0rem 0rem 0.25rem 0rem;
  flex-wrap: wrap;
}

.immunizationsContainer {
  display: flex;
  margin: 0rem 0rem 0.25rem 0rem;
}

.immunizationsInputContainer {
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
}

.immunizationsInputContainer label {
  /* color: #535355; */
  color: var(--omrs-color-ink-medium-contrast);
  margin: 0.375rem 0rem;
}

.immunizationsInputControl + svg {
  padding-right: 0.125rem;
}

.immunizationsInputContainer input[type="date"] {
  font-family: "Roboto";
  font-size: 1rem;
}

.immunizationHeader {
  margin: 0rem 0rem 0.25rem 1rem;
  color: var(--omrs-color-ink-medium-contrast);
}

.immunizationEditHeader {
  margin: 1rem 0rem 0rem 1rem;
}

.immunizationCreateHeader {
  margin: 1rem 1rem 0rem 1rem;
}

.statusContainer {
  display: grid;
  background: var(--omrs-color-ink-white);
  border: 0.0625rem solid var(--omrs-color-ink-low-contrast);
  padding: 1rem 0.5rem;
}

.statusContainer div {
  margin-bottom: 1rem;
}

.statusContainer div:last-child {
  margin-bottom: 0rem;
}

.statusContainer input[type="radio"] + span {
  padding-left: 10px;
}

.buttonStyles {
  display: flex;
  background: var(--omrs-color-ink-white);
  bottom: 0;
  justify-content: center;
  width: 100%;
}

.buttonStyles button {
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.buttonStyles button:disabled {
  background: var(--omrs-color-ink-lowest-contrast);
}

.buttonStylesBorder {
  border-top: 0.125rem solid var(--omrs-color-interaction);
}

.immunizationsInputContainer select {
  font-size: 1rem;
  height: 2.625rem;
  color: var(--omrs-color-interaction);
  padding: 0.5rem;
  border: 0.0625rem solid var(--omrs-color-ink-lowest-contrast);
  background-color: var(--omrs-color-ink-white);
  min-width: 50%;
}
