@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.content {
  background-color: $ui-background;
}

.doseCell {
  min-width: 10rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
}

.doseLabel {
  margin-bottom: 0.5rem;
}

.doseDate {
  @include type.type-style('label-02');
  color: $text-02;
}

.headerRow {
  position: sticky;
  top: 0;
  background-color: $ui-01;
  z-index: 1;
  border-bottom: 1px solid $ui-01;
}

.headerCell {
  min-width: 13rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  position: sticky;
  left: 0;
  background-color: $ui-01;
}

.widgetCard {
  :global(.cds--data-table) {
    .vaccineNameCell {
      width: 12rem;
      position: sticky;
      left: 0;
      z-index: 1;
      vertical-align: top;
      background-color: white !important;
    }

    .dosesCell {
      background-color: white !important;
      padding: 0;
      width: 100%;
    }
  }
}

.vaccineNameContent {
  width: 13rem;
}

.vaccineDose {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5rem 0;
}
