@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.container {
  margin: spacing.$spacing-05;

  & section {
    margin: spacing.$spacing-05 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.dateTimeSection {
  display: flex;
}

@media screen and (max-width: 600px) {
  .dateTimeSection {
    flex-direction: column;
  }
}
