@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
  background-color: $ui-02;
}

.hiddenRow {
  display: none;
}

.paginationContainer {
  > div {
    border-top: none !important;
  }
}
