@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.content {
  background-color: $ui-background;
}

.doseCell {
  min-width: layout.$spacing-13;
  padding: layout.$spacing-03;
  display: inline-block;
  text-align: center;
}

.doseLabel {
  margin-bottom: layout.$spacing-03;
}

.doseDate {
  @include type.type-style('label-02');
  color: $text-02;
}

.headerRow {
  position: sticky;
  top: 0;
  background-color: $ui-01;
  z-index: 1;
  border-bottom: 1px solid $ui-01;
}

.headerCell {
  min-width: 13rem;
  padding: layout.$spacing-03;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  position: static;
  left: 0;
  background-color: $ui-01;
}

.widgetCard {
  border: 1px solid $ui-03;

  :global(.cds--data-table) {
    .vaccineNameCell {
      width: 12rem;
      position: sticky;
      left: 0;
      z-index: 1;
      vertical-align: top;
      background-color: white !important;
    }

    .dosesCell {
      background-color: white !important;
      padding: 0;
      width: 100%;
    }
  }
}

:global(.omrs-breakpoint-gt-phone):global(.omrs-breakpoint-lt-desktop) {
  .widgetCard {
    max-width: 875px;
    margin: 0 auto;
  }
}

:global(.omrs-breakpoint-gt-tablet) {
  .widgetCard {
    max-width: 100%;
  }
}

.vaccineNameContent {
  width: 13rem;
}

.vaccineDose {
  overflow-x: auto;
  white-space: nowrap;
  padding: layout.$spacing-03 0;
}

.paginationContainer {
  > div {
    border-top: none !important;
  }
}
