@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
}

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}

.text02 {
  color: $text-02;
}

.warningIcon {
  display: flex;
  align-self: center;
  fill: $inverse-support-03;
  margin-right: $spacing-05;
}

.warningIcon [data-icon-path="inner-path"] {
  fill: black;
  opacity: 1;
}

.container {
  display: flex;
  align-items: baseline;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.vitalsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $spacing-09;
  padding: $spacing-05;
  outline: none;
  pointer-events: visibleFill;
}

.heading {
  @extend .productiveHeading02;
  margin-right: $spacing-03;
  color: $text-02;
}

.buttonText {
  @extend .bodyShort01;
}

.expandButton {
  color: $color-blue-60-2;
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
}
