@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.vitals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $spacing-09;
  padding: $spacing-05;
  outline: none;
  pointer-events: visibleFill;
}

.container {
  display: flex;
  align-items: baseline;
}

.warning-background {
  background-color: $warning-background;
  border-left: 3px solid $inverse-support-03;
}

.default-background {
  background-color: $openmrs-background-grey;
}

.align-center {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0.5rem;
}

.loading {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: $spacing-09;
}

.default-border {
  border-bottom: 1px solid $ui-03;
}

.warning-border {
  border-bottom: 1px solid $color-yellow-50;
}

.warning-icon {
  display: flex;
  align-self: center;
  fill: $inverse-support-03;
  margin-right: $spacing-05;
}

.warning-icon [data-icon-path="inner-path"] {
  fill: black;
  opacity: 1;
}

.button-container {
  display: flex;
  align-items: center;
}

.collapse-button, .expand-button {
  color: $color-blue-60-2;
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.heading {
  @include carbon--type-style("productive-heading-02");
  margin-right: $spacing-03;
  color: $text-02;
}

.record-vitals {
  @include carbon--type-style('body-short-01');
}

.empty-state {
  @extend .record-vitals;
  color: $text-02;
}
