@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.vitalHeaderStateContainer {
  display: flex;
  flex-direction: column;
}

.warningBackground {
  background-color: $warning-background;
  border-left: 3px solid $inverse-support-03;
}

.defaultBackground {
  background-color: $openmrs-background-grey;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
}

.loading {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: $spacing-09;
}

.defaultBorder {
  border-bottom: 1px solid $ui-03;
}

.warningBorder {
  border-bottom: 1px solid $color-yellow-50;
}