@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.warningIcon {
  fill: $inverse-support-03;
  margin-right: $spacing-05;
}

.warningIcon [data-icon-path="inner-path"] {
  fill: black;
  opacity: 1;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.vitalsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $spacing-09;
  padding: $spacing-05;
  outline: none;
  pointer-events: visibleFill;
}

.vitalName {
  @extend .productiveHeading02;
  margin: 0 $spacing-05 0 0;
  color: $text-02;
}

.buttonText {
  @extend .bodyShort01;
}

.expandButton {
  color: $color-blue-60-2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
