@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}

.vitalsHeaderStateDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
}

.labelContainer {
  display: flex;
  align-items: center;
}

.abnormalValue {
  background-color: rgba(0, 0, 0, 0.1);
}

.dangerButton {
  color: $danger;
  height: 4px;
  width: 4px;
}

.vitalsDetailsBodyShort01 {
  @extend .bodyShort01;
  color: $text-02;
}

.bodyShort02 {
  @include carbon--type-style("body-short-02");
  color: $text-01;
}

.label01 {
  @include carbon--type-style("label-01");
  margin-right: 0.5rem;
  color: $text-02;
}

.critically_low, .critically_high, .low, .high {
  &::after {
    @include carbon--type-style('productive-heading-01');
    color: $text-01;
  }
}

.low::after {
  content: " ↓";
}

.critically_low::after {
  content: " ↓↓";
}

.high::after {
  content: " ↑";
}

.critically_high::after {
  content: " ↑↑";
}

.padRight {
  margin-right: 2px;
}