@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.vitals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: spacing.$spacing-09;
  padding: spacing.$spacing-05;
  outline: none;
  pointer-events: visibleFill;
}

.container {
  display: flex;
  align-items: baseline;
}

.warning-background {
  background-color: $warning-background;
  border-left: 3px solid $inverse-support-03;
}

.default-background {
  background-color: $openmrs-background-grey;
}

.align-center {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0.5rem;
}

.loading {
  display: flex;
  background-color: $openmrs-background-grey;
  justify-content: center;
  min-height: spacing.$spacing-09;
}

.default-border {
  border-bottom: 1px solid $ui-03;
}

.warning-border {
  border-bottom: 1px solid $color-yellow-50;
}

.warning-icon {
  display: flex;
  align-self: center;
  fill: $inverse-support-03;
  margin-right: spacing.$spacing-05;
}

.warning-icon [data-icon-path="inner-path"] {
  fill: black;
  opacity: 1;
}

.button-container {
  display: flex;
  align-items: center;
}

.collapse-button, .expand-button {
  color: $color-blue-60-2;
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.heading {
  @include type.type-style("heading-compact-02");
  margin-right: spacing.$spacing-03;
  color: $text-02;
}

.record-vitals {
  @include type.type-style('body-compact-01');
}

.body-text {
  @include type.type-style('body-compact-01');
  color: $text-02;
}
