.form-submitted {
    border-radius: 2px;
    border: solid 1px lightgray;
    background-color: var(--omrs-color-bg-high-contrast);
}

.success-message {
    display: inline-flex;
    width: 100%;
    text-align: center;
    align-content: center;
}