.form-submission-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-submission-container>div {
  padding: 0.5rem 0rem;
}

.order-list-container {
  
  margin: 0.25rem;
}

.success-message {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
}

.button-container button {
  width: 50%;
}
