:global(.omrs-breakpoint-gt-phone) .allergyForm {
  display: flex;
  justify-content: center;
}

:global(.omrs-breakpoint-lt-tablet) .allergyForm {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.allergyHeader {
  margin: 0rem 0rem 0rem 1rem;
}

.allergyEditHeader {
  margin: 1rem 0rem 0rem 1rem;
}

.allergyEditHeader h3,
.allergyEditHeader h4 {
  padding: 0rem;
}

.allergyEditHeader h3 span {
  font-weight: normal;
}

.allergyEditHeader h4 {
  color: var(--omrs-color-ink-medium-contrast);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--omrs-color-ink-white);
  border: 0.0625rem solid var(--omrs-color-ink-low-contrast);
  margin: 0rem 1rem 0.5rem 1rem;
  padding: 1rem 0.5rem;
}

.container div {
  margin-bottom: 1rem;
}

.container div:last-child {
  margin-bottom: 0rem;
}

.allergyCommentContainer {
  display: flex;
  background: var(--omrs-color-bg-medium-contrast);
  margin: 0rem 1rem 4.5rem 1rem;
}

.allergyCommentTextArea {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  line-height: normal;
}

.buttonStyles {
  display: flex;
  background: var(--omrs-color-ink-white);
  bottom: 0;
  justify-content: space-between;
  margin-top: 1rem;
}

.buttonStyles button {
  margin: 0.5rem 1rem;
  cursor: pointer;
  width: 50%;
}

.buttonStyles button:disabled {
  background: var(--omrs-color-ink-lowest-contrast);
}

.buttonStylesBorder {
  border-top: 0.125rem solid var(--omrs-color-interaction);
}

.dateContainer {
  display: grid;
  background: var(--omrs-color-ink-white);
  border: 0.0625rem solid var(--omrs-color-ink-low-contrast);
  margin: 0rem 1rem 0.5rem 1rem;
  padding: 1rem 0.5rem;
}

.dateContainer div {
  margin-bottom: 0.5rem;
}

.dateError {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  grid-row: 2;
}

.dateError span {
  color: var(--omrs-color-danger);
  line-height: 1.25rem;
  font-size: 0.875rem;
  white-space: normal;
  display: inline;
}

.dateError svg {
  fill: var(--omrs-color-danger);
  height: 0.8rem;
  width: 1.5rem;
  padding-right: 0.25rem;
}
