@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.widgetCard {
  border: 1px solid $ui-03;
}

.allergyCriticality {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.allergySeverityHigh {
  font-weight: 800;
}
