@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
  border-bottom: none;
}

.allergyCriticality {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.allergySeverityHigh {
  font-weight: 800;
}

.tableHeader {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}
