@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.widgetCard {
  border: 1px solid $ui-03;
}

.allergySeverity {
  margin: 0.5rem 0rem;
  letter-spacing: 0.063rem;
}

.allergyCriticality {
  display: flex;
  align-items: center; 
  text-transform: uppercase;
}

.bodyShort02 {
  @include carbon--type-style("body-short-02");
}

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02")
}

.note {
  @include carbon--type-style("body-short-02");
  margin: 0.5rem 0rem;
  color: $text-03;
  max-width: 36rem;
}