:global(.omrs-breakpoint-gt-phone) .allergySummary {
  display: flex;
}

:global(.omrs-breakpoint-lt-tablet) .allergySummary {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.allergyContainer {
  display: grid;
  grid-gap: 1.625rem;
}

.allergyCard {
  margin: 0rem 1rem;
}

.allergyName {
  text-align: left;
  letter-spacing: 0.05rem;
  padding: 1rem 0rem;
}

.allergyTable {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.625rem;
  text-align: left;
}

.allergyTable thead th {
  color: var(--omrs-color-ink-medium-contrast);
  font-weight: normal;
  text-align: left;
}

.allergyTable tbody td:nth-child(3) {
  font-family: "Work Sans";
}

.allergyFooter {
  padding: 0.625rem;
}

.allergySeverity {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1rem;
  font-weight: 500;
}

.centerItems {
  display: flex;
  align-items: center;
}

.highSeverity {
  border-left: 0.188rem solid var(--omrs-color-danger);
  margin: 0rem;
  padding-left: 1rem;
}

.lowSeverity {
  border-left: none;
}

.reactionSeverity {
  text-transform: uppercase;
  letter-spacing: 0.063rem;
  line-height: 1rem;
  font-weight: 500;
}
