@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.label {
  @include type.type-style('label-01');
  color: $text-02;
}

.content {
  @include type.type-style('body-compact-01');
  color: $text-02;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap

}

.tile {
  @include type.type-style('body-compact-01');
  background-color: #ffc9a3;
  font-size: 12px;
  color: #943d00;
  text-align: center;
  min-height: unset;
  min-width: unset;
  height: 1.5rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
