@import "../root.scss";
@import '~@openmrs/esm-styleguide/src/vars';

.tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 15.25rem;
  justify-content: flex-end;
  align-items: center;
}

.content {
  @extend .productiveHeading01;
  color: $color-gray-70;
  width: 13.438rem;
  margin: 1rem 0.938rem 0.313rem 0.875rem;
}

.action {
  @extend .bodyLong01;
  color: $color-gray-70;
  width: 15.25rem;
  margin: 0.313rem 0 0;
}
