@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.emptyState {
  text-align: center;
  border: 1px solid $ui-03;
}

.emptyStateContent {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

.desktopHeading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-top: layout.$spacing-05;
  margin-left: layout.$spacing-03;
  margin-bottom: layout.$spacing-05;

  h1:after,
  h2:after,
  h3:after,
  h4:after,
  h5:after,
  h6:after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .desktopHeading,
  .tabletHeading {
    text-align: right;
    margin-left: unset;
    margin-right: layout.$spacing-03;
  }
}
