@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.emptyState {
  text-align: center;
}

.emptyStateContent {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

// Desktop
:global(.omrs-breakpoint-gt-tablet) {
  .container {
    margin: 0;
  }
}

// Tablet
:global(.omrs-breakpoint-lt-desktop) {
  .container {
    margin: layout.$spacing-05;
  }
}

.searchBar {
  input {
      padding: 0 layout.$spacing-08 !important;
    }
  
    :global(.cds--search-close:focus) {
      outline: none;
      outline-offset: 0;
    }

    :global(.cds--search-input) {
      height: layout.$spacing-09;
    }
  
    :global(.cds--search-close:focus:before) {
      background-color: none;
    }
}


.toolbarWrapper {
  position: relative;
  display: flex;
  height: layout.$spacing-09;
  justify-content: flex-end;
}

.tableToolbar {
  width: 20%;
  min-width: 12.5rem;
}
