@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.bodyShort01 {
  @include carbon--type-style("body-short-01");
}

.widgetCard {
  background-color: $ui-background;
  border: 1px solid $ui-03;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.contextSwitcherContainer {
  width: 60%;
  margin-right: 1rem;
}

.desktopContentSwitcher {
  width: 100%;
  height: 2rem;
}

.tabletContentSwitcher {
  width: 100%;
  height: 2.5rem;
}

.helperContainer {
  color: $color-gray-70;
  @extend .bodyShort01;
  text-align: left;
  padding-left: 1.3rem;
}

.labelRed {
  color: $danger;
}

.filterContainer {
  display: flex;
  
}