@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.productiveHeading01 {
  @include type.type-style("heading-compact-01");
}

.bodyShort01 {
  @include type.type-style("body-compact-01");
}

.bodyLong01 {
  @include type.type-style("body-01");
}

.formContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.formContainer input[type="text"] {
  background-color: $ui-background;
}

.formContainer div:nth-of-type(2) {
  padding-top: 0;
}

.formResultsLabel {
  margin: spacing.$spacing-05;
}

// Desktop viewport
:global(.omrs-breakpoint-gt-tablet) {
  .tableCell {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;

    & > svg {
      visibility: hidden;
    }

    & > label {
      cursor: pointer;
    }

    &:hover > svg {
      visibility: visible;
    }
  }
}

.formName {
  color: $interactive-01;
}

// Tablet viewport
:global(.omrs-breakpoint-lt-desktop) .tableCell {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: spacing.$spacing-09;
  align-items: center;


  & > label {
    cursor: pointer;
  }

  &:global(.cds--data-table tr) {
    height: spacing.$spacing-09;
  }
}

.tile {
  text-align: center;
  margin: 0.25rem 0;
}

.content {
  @include type.type-style("heading-compact-01");
  color: $text-02;
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-03;
}

.helper {
  @extend .bodyLong01;
  color: $color-gray-70;
  margin: 0.5rem 0;
}
