@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.productiveHeading01 {
  @include type.type-style("heading-compact-01");
}

.bodyShort01 {
  @include type.type-style("body-compact-01");
}

.bodyLong01 {
  @include type.type-style("body-01");
}

.formContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.formContainer input[type="text"] {
  background-color: $ui-background;
}

.formContainer div:nth-of-type(2) {
  padding-top: 0;
}

.formResultsLabel {
  margin: spacing.$spacing-05;
}

// Desktop view

:global(.omrs-breakpoint-gt-tablet) {
  .tableCell {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;

    &>svg {
      visibility: hidden;
    }

    &>label {
      cursor: pointer;
    }

    &:hover>svg {
      visibility: visible;
    }
  }
}

.formName {
  color: $interactive-01;
}

// Tablet view port

:global(.omrs-breakpoint-lt-desktop) .tableCell {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: spacing.$spacing-09;
  align-items: center;


  &>label {
    cursor: pointer;
  }

  &:global(.cds--data-table tr) {
    height: spacing.$spacing-09;
  }
}
