@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";
@import "~@openmrs/esm-styleguide/src/vars";


.tabletOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: $ui-02;
  overflow: hidden;
  padding-top: $spacing-09;
  display: grid;
  grid-template-rows: 1fr auto;
}

.tabletOverlayHeader {
  button {
    background-color: $brand-01 !important;
  }
  .headerContent {
    color: $ui-02;
  }
}

.headerContent {
  @include carbon--type-style("productive-heading-02");
  padding: 0 $spacing-05;
  color: $ui-05;
}

.overlayContent {
  padding: $spacing-05;
  overflow-y: auto;
}

.buttonsGroup {
  width: 100%;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // padding: $spacing-07 $spacing-05;
}

.buttonsGroup button {
  max-width: unset !important;
}
