@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "~@openmrs/esm-styleguide/src/vars";


.container {
  margin: spacing.$spacing-05;

  & section {
    margin: spacing.$spacing-05 0;
  }
}

.heading {
  @include type.type-style("productive-heading-03");
  color: $text-02;
  margin: spacing.$spacing-05;
}

.sectionTitle {
  @include type.type-style("productive-heading-02");
  color: $text-02;
  margin: 0 0 spacing.$spacing-03 0;
}

.conceptAnswerOverviewWrapper {
	margin: spacing.$spacing-05 0rem;
	border: 0.0625rem solid $grey-2;
  background-color: $ui-01;
}

.conceptAnswerOverviewWrapper div:nth-child(3) > div:nth-child(2) {
	position: relative;
}

.conceptAnswerOverviewWrapper div:nth-child(3) span * {
	display: none;
}

.radioButtonGroup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: spacing.$spacing-03;
	min-height: spacing.$spacing-10;
	width: 100%;
	@include type.type-style('body-short-01');
	color: $text-02;
  background-color: $ui-01;
}

.radioButton {
	padding: spacing.$spacing-02 spacing.$spacing-05;
	margin: spacing.$spacing-03 0;
}

.contentSwitcher {
  height: spacing.$spacing-09;
}

.headerGridRow {
  border-bottom: 0.0625rem solid $grey-2;
  margin: 0;
}

.dataGridRow {
  display: grid;
  grid-template-columns: 50% 10% 1fr;
  margin: spacing.$spacing-03 spacing.$spacing-05;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button {
  height: spacing.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.conceptAnswerOverviewWrapperTablet {
  padding: spacing.$spacing-06 spacing.$spacing-05;
  background-color: $ui-02;
}

.conceptAnswerOverviewWrapperDesktop {
  padding: 0rem;

  .paginationContainer div {
		background-color: $ui-01;
	}
}

.warningContainer {
  display: flex;
  background-color: $warning-background;
  padding: spacing.$spacing-05;
  align-items: center;
}
.warningIcon {
  display: flex;
  align-self: center;
  fill: $inverse-support-03;
  margin-right: spacing.$spacing-03;
}

.warningText {
  font-size: 0.875rem;
}
