@use '@carbon/layout';
@use '@carbon/type';

.workspaceContainer {
  min-height: var(--desktop-workspace-window-height);
}

.patientWorkspace {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.headerPatientDetail {
  @include type.type-style('body-compact-02');
  margin: 0 layout.$spacing-02;
}

.patientWorkspaceContentSlot {
  display: flex;
  flex: 1;
  flex-direction: column;
}
