@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/themes';
@use '@carbon/colors';

.modalContentWrapper {
  display: flex;
  flex-direction: column;
}

.modalBody {
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-05;
  flex: 1;
  padding: layout.$spacing-05;
}
.selectionPanel {
  width: 30%;
  padding: layout.$spacing-05;
  border-right: layout.$spacing-01 solid themes.$border-subtle-01;
  margin-top: 1.25rem;
}

.previewPanel {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.printContent {
  background: transparent;
  width: 100%;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-10;
}

.radioItem {
  display: flex;
  align-items: center;
  gap: layout.$spacing-02;
  margin-top: layout.$spacing-04;
}

.radioLabel {
  @include type.type-style('label-02');
}

.noSelection {
  @include type.type-style('label-02');
  color: themes.$text-secondary;
  text-align: center;
  margin-top: layout.$spacing-05;
}

.modalFooter {
  border-top: 1px solid themes.$border-subtle-01;
  padding: layout.$spacing-05;
  display: flex;
  justify-content: flex-end;
  gap: layout.$spacing-03;
}

.patientHeader {
  display: flex;
  flex-direction: row;
  margin: layout.$spacing-05 0;
}

.facilityDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: layout.$spacing-05;
}

.titleHeader {
  @include type.type-style('label-02');
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: colors.$cool-gray-90;
}

.itemHeading {
  @include type.type-style('label-02');
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: colors.$cool-gray-90;
}

.patientDetailsBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.testDoneHeader {
  @include type.type-style('label-02');
  margin-top: layout.$spacing-05;
  font-weight: bold;
  color: colors.$cool-gray-90;
}

.itemLabel {
  @include type.type-style('label-02');
  color: colors.$cool-gray-90;
  margin-bottom: layout.$spacing-03;
}
