.grid {
  position: relative;
  top: 2.75rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.patientBanner {
  position: relative;
  z-index: 1;
}

.chartreview {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  padding-bottom: 10px;
}

.workspace {
  grid-row: 1;
  grid-column: 2;
  align-self: start;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  border-left: 0.5px solid lightgray;
  padding-bottom: 10px;
}

.sidebar {
  z-index: 1;
}

.invisible {
  display: none;
}

.visible {
  display: grid;
}
