.grid {
  position: fixed;
  top: 6.25rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.grid::-webkit-scrollbar {
  display: none;
}

.chartreview {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  padding-bottom: 10px;
}

.chartreview::-webkit-scrollbar {
  display: none;
}

.workspace {
  grid-row: 1;
  grid-column: 2;
  align-self: start;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  border-left: 0.5px solid lightgray;
  padding-bottom: 10px;
}

.workspace::-webkit-scrollbar {
  display: none;
}

.sidebar {
  /* z-index: 1; */
}
