.grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  height: 90vh;
  align-items: stretch;
  width: 100vw;
}

.chartreview {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  overflow: auto;
  height: 99%;
  width: 100%;
}

.workspace {
  grid-row: 1;
  grid-column: 2;
  align-self: start;
  overflow: auto;
  height: 99%;
  width: 100%;
}

.sidebar {
  grid-row: 1;
  grid-column: 3;
  align-self: start;
}
