@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  @include type.type-style('body-compact-01');
  width: 100%;
  padding: 0.5rem;
}

.wrapper {
  display: flex;
  align-items: center;

  span {
    margin-inline: 0.5rem;
    font-size: 14px;
    color: colors.$gray-70;
  }

}


.loadingContainer {
  display: flex;
  height: 4.5rem;
}

.loading {
  justify-content: center;
}

.name {
	@include type.type-style('productive-heading-02');
  margin-inline: 0.5rem;
  font-weight: normal;
  color: colors.$gray-100;
}

