:global(.omrs-breakpoint-lt-tablet) .patientSummary {
  padding: 1.25rem 0.5rem 0 0.5rem;
}

:global(.omrs-breakpoint-gt-phone) .patientSummary {
  padding: 1.25rem 1.5rem 0 1.5rem;
}

body {
  margin: 0;
}
.patientSummary {
  background-color: var(--omrs-color-bg-lowest-contrast);
  min-height: 100%;
}
