:global(.omrs-breakpoint-lt-tablet) .patientSummary {
  padding: 3.25rem 0.5rem 0 0.5rem;
}

:global(.omrs-breakpoint-gt-phone) .patientSummary {
  display: flex;
  justify-content: center;
  padding-top: 3.25rem;
}

.patientChartCards {
  padding: 3.25rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 800px;
  justify-content: flex-start;
}

.h {
  display: flex;
  justify-content: center;
  align-items: center;
}
