.detailedNotesTable {
  width: 100%;
}

.detailedNotesTable thead tr {
  text-align: left;
  color: var(--omrs-color-ink-medium-contrast);
  font-weight: normal;
  border-bottom: 0.0625rem solid var(--omrs-color-bg-lowest-contrast);
}

.detailedNotesTable thead tr,
td {
  padding: 0.75rem 0rem 0.75rem 1.5rem;
}

.detailedNotesTable thead tr td:nth-child(2) {
  display: flex;
  align-items: center;
}

.detailedNotesTable thead tr td svg {
  margin-left: 0.5rem;
  fill: var(--omrs-color-ink-medium-contrast);
}

.detailedNotesTable tbody tr td {
  vertical-align: top;
}

.detailedNotesTable tbody tr {
  border-bottom: 0.0625rem solid var(--omrs-color-bg-lowest-contrast);
}

.detailedNotesTable tbody tr td:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.25rem 1rem 1rem;
  background-color: var(--omrs-color-bg-medium-contrast);
  color: var(--omrs-color-ink-medium-contrast);
}

.pagination button {
  outline: none;
  border: none;
}

.pagination button:active,
button:focus {
  outline: none;
  border: none;
}

.navButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}
