.moreNotes {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.625rem 1.625rem 0.625rem 1rem;
  background-color: var(--omrs-color-bg-medium-contrast);
  color: var(--omrs-color-ink-medium-contrast);
  cursor: pointer;
  text-decoration: none;
}

.tableNotesRow {
  border-bottom: 1px solid var(--omrs-color-bg-low-contrast);
}
.svgUpper {
  display: none;
}

.tableHeader {
  padding: 0.625rem;
}
:global(.omrs-breakpoint-gt-phone) .card {
  margin: 0.5rem 1rem;
}
.tableNotes {
  width: 100%;
}
.tableNotesHeader {
  color: var(--omrs-color-ink-medium-contrast);
  font-size: 0.9375rem;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0.0275rem;
  font-family: "Work Sans";
}

.tableNotesData,
.tableNotesAuthor {
  font-size: 1.0625rem;
  text-align: center;
  width: 33.3%;
}

.tableNotesDate {
  font-family: "Work Sans";
  font-weight: 500;
  width: 33.3%;
  padding: 0.625rem 1.625rem 0.625rem 1rem;
}

.location {
  color: var(--omrs-color-ink-medium-contrast);
  font-family: "Roboto";
}
:global(.omrs-breakpoint-gt-phone) .tableNotesRow {
  display: table-row;
}

:global(.omrs-breakpoint-lt-tablet) .tableNotesData,
.tableNotesAuthor,
.tableNotesRow {
  display: block;
}
:global(.omrs-breakpoint-lt-tablet) .tableNotesAuthor {
  color: var(--omrs-color-ink-medium-contrast);
  text-align: left;
  font-family: "Roboto";
}
:global(.omrs-breakpoint-lt-tablet) .tableNotesData {
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.0625rem;
}
:global(.omrs-breakpoint-lt-tablet) .tableNotesDate {
  font-family: "Work Sans";
  text-align: left;
  padding: 0;
}
:global(.omrs-breakpoint-lt-tablet) .tableNotes {
  width: 100%;
}
:global(.omrs-breakpoint-lt-tablet) .tableNotesHeader,
.tdLowerSvg {
  display: none;
}
