@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: $ui-05;
  max-width: none;

  &:hover {
    color: $text-02;
  }

  & > span {
    margin-top: spacing.$spacing-02;
    @include type.type-style("body-compact-01");
    color: $text-02;
  }

  & svg {
    transform: scale(1.25);
  }
}

.elementContainer {
  display: flex;
  align-items: center;
  position: relative;

  .countTag {
    position: absolute;
    font-size: 10px;
    text-align: center;
    color: $ui-01;
    background-color: $danger;
    padding: 0 3px 0 4px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
  }
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .active {
    border: spacing.$spacing-01 solid;
    @include brand-03(border-color);
    border-radius: 50%;
    background-color: $ui-02;

    &:focus {
      border-color: var(--brand-03) !important;
    }
  }

  .container {
    & svg {
      transform: scale(1.25);
    }
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .active {
    background-color: $color-blue-10;
    color: $interactive-01;

    &:hover {
      color: $interactive-01;
    }

    & > span {
      color: $interactive-01;
      @include type.type-style("heading-compact-01");
    }

    svg {
      fill: $interactive-01;
    }
  }
}


