@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.editStatusBtn {
  white-space: nowrap;
  margin-left: layout.$spacing-04;
  border: none;
}

.editStatusIcon {
  fill: white;
  color: white;
}
