@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '@openmrs/esm-styleguide/src/vars';

.editStatusBtn {
  margin-left: spacing.$spacing-04;
  border: none;
}

.editStatusIcon {
  fill: white;
  color: white;
}
