@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.condition {
  padding: 1rem 0.75rem;
}

.conditionsList {
  margin-top: 0.25rem;
  background-color: $ui-02;
  max-height: 14rem;
  overflow-y: auto;
  border: 1px solid $ui-03;
}

.conditionsList li:hover {
  background-color: $ui-03;
}

.emptyResults {
  @include carbon--type-style("body-short-01");
  color: $text-02;
  min-height: 1rem;
}
