@use '@carbon/colors';
@use '@carbon/type';
@import '@openmrs/esm-styleguide/src/vars';

.condition {
  padding: 1rem 0.75rem;
}

.conditionsList {
  background-color: $ui-02;
  max-height: 14rem;
  overflow-y: auto;
  border: 1px solid $ui-03;

  li:hover {
    background-color: $ui-03;
  }
}

.emptyResults {
  @include type.type-style("body-compact-01");
  color: $text-02;
  min-height: 1rem;
  border: 1px solid $ui-03;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

.formContainer {
  margin: 1rem;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.loader {
  padding: 1rem 0.5rem;
}

.conditionLabel {
  @include type.type-style("label-02");
}

.errorContainer {
  margin: 1rem;
}

.conditionsError {
  :global(.cds--search-input):focus {
    outline: 2.5px solid $danger
  }

  :global(.cds--search-magnifier) {
    svg {
      fill: $danger
    }
  }
}

.errorMessage {
  @include type.type-style("label-02");
  color: $danger;
  margin-top: 0.5rem;
}

.radioGroup {
  :global(.cds--radio-button-wrapper) {
    margin-block-end: .375rem !important;
  }
}

.spinner {
  &:global(.cds--inline-loading) {
    min-height: 1rem;
  }
}

.required {
  color: colors.$red-60;
  margin-left: 0.125rem;
}
