@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.divider {
  width: 1px;
  height: layout.$spacing-05;
  color: colors.$gray-20;
  margin: 0 layout.$spacing-05;
}

.rightMostFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: layout.$spacing-05;
  }

  :global(.cds--dropdown--inline .cds--list-box__menu) {
    min-width: layout.$spacing-13;
  }
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: layout.$spacing-11 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}
