@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.condition {
  padding: 1rem 0.75rem;
}

.conditionsList {
  margin-top: 0.25rem;
  background-color: $ui-02;
  max-height: 14rem;
  overflow-y: auto;
  border: 1px solid $ui-03;
}

.conditionsList li:hover {
  background-color: $ui-03;
}

.emptyResults {
  @include type.type-style("body-compact-01");
  color: $text-02;
  min-height: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

.formContainer { 
  margin: 1rem;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

