@use '@carbon/layout';
@import "../visit-notes-form";

.row {
  margin: layout.$spacing-05 0 0;
}

.saveButton {
  margin-left: layout.$spacing-04;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
}
