@import "../root.scss";
@import "~@openmrs/esm-styleguide/src/vars";

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

.checkboxContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0rem 0rem 1rem;
}

.checkBox {
  height: $spacing-09;
  width: 16rem;
}

.searchContainer {
  display: flex;
  border-bottom: 0.125px solid $ui-04;
}

.searchContainer input{
  border-bottom: none;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

