:global(.omrs-breakpoint-gt-phone) .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:global(.omrs-breakpoint-gt-phone) .demographicCard {
  display: flex;
}

:global(.omrs-breakpoint-gt-phone) .otherProfileCards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

:global(.omrs-breakpoint-gt-phone) .contactsAndRelationshipsCard {
  display: flex;
  flex-direction: column;
}
