@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.visitTimeline {
  border: 1px solid colors.$gray-20;
  background-color: colors.$white;
  padding-top: layout.$spacing-05;
}

.timelineHeader {
  padding-inline: calc(layout.$spacing-08 + layout.$spacing-06 + layout.$spacing-03) layout.$spacing-10;
  @include type.type-style('helper-text-01');
  display: flex;
  gap: layout.$spacing-03;
}

.timelineEntries {
  margin: 0 layout.$spacing-08;
  margin-top: layout.$spacing-04;
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-03;
  margin-bottom: layout.$spacing-05;
  position: relative;
}

.timelineEntryWrapper {
  display: flex;
  flex-direction: column;
}

.timelineEntry {
  display: flex;
  gap: layout.$spacing-03;
  align-items: center;
}

// Sits on top of the timeline line, acting as the marker for its entry
.expandButton {
  background-color: colors.$white;
  min-height: layout.$spacing-06;
  padding: 0;
  width: layout.$spacing-06;
  z-index: 10;
}

.layer {
  display: flex;
  margin-inline-start: auto;

  :global(.cds--overflow-menu) {
    height: layout.$spacing-06;
    min-height: unset;
    width: layout.$spacing-06;
  }
}

.menuItem {
  max-width: none;
}

.expandedPanel {
  background-color: colors.$gray-10;
  border-inline-start: 2px solid colors.$blue-30;
  margin-block-start: layout.$spacing-03;
  margin-inline-start: layout.$spacing-07;
  padding: layout.$spacing-04 layout.$spacing-05;
}

.recordedVia {
  @include type.type-style('helper-text-01');
  color: colors.$gray-70;
  margin-bottom: layout.$spacing-03;
}

.encounterType {
  font-weight: 700;
}

.timelineLine {
  position: absolute;
  border-left: 1px solid colors.$blue-20;
  height: 100%;
  left: layout.$spacing-04;
  z-index: 9;
}
