@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/themes';
@use '@carbon/colors';

.modalContentWrapper {
  display: flex;
  flex-direction: column;
}

.modalBody {
  display: flex;
  flex-direction: row;
  gap: layout.$spacing-05;
  flex: 1;
  padding: layout.$spacing-05;

  :global(.omrs-breakpoint-lt-desktop) & {
    flex-direction: column;
    gap: layout.$spacing-06;
  }

  :global(.omrs-breakpoint-gt-tablet) & {
    padding: layout.$spacing-04;
    gap: layout.$spacing-05;
  }
}

.selectionPanel {
  width: 30%;
  padding: layout.$spacing-05;
  border-right: layout.$spacing-01 solid themes.$border-subtle-01;
  margin-top: 1.25rem;

  :global(.omrs-breakpoint-lt-desktop) & {
    width: 100%;
    border-right: none;
    border-bottom: layout.$spacing-01 solid themes.$border-subtle-01;
    margin-top: 0;
    padding-bottom: layout.$spacing-06;
  }

  :global(.omrs-breakpoint-gt-tablet) & {
    padding: layout.$spacing-04;
    padding-bottom: layout.$spacing-05;
  }
}

.previewPanel {
  width: 70%;
  display: flex;
  flex-direction: column;

  :global(.omrs-breakpoint-lt-desktop) & {
    width: 100%;
    margin-top: layout.$spacing-05;
  }

  :global(.omrs-breakpoint-gt-tablet) & {
    margin-top: layout.$spacing-04;
  }
}

.printContent {
  background: transparent;
  width: 100%;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-10;

  :global(.omrs-breakpoint-gt-tablet) & {
    gap: layout.$spacing-05;
  }
}

.radioItem {
  display: flex;
  align-items: center;
  gap: layout.$spacing-02;
  margin-top: layout.$spacing-04;

  :global(.omrs-breakpoint-gt-tablet) & {
    margin-top: layout.$spacing-03;
  }
}

.radioLabel {
  @include type.type-style('label-02');

  :global(.omrs-breakpoint-gt-tablet) & {
    @include type.type-style('label-01');
  }
}

.modalFooter {
  border-top: 1px solid themes.$border-subtle-01;
  padding: layout.$spacing-05;
  display: flex;
  justify-content: flex-end;
  gap: layout.$spacing-03;

  :global(.omrs-breakpoint-gt-tablet) & {
    padding: layout.$spacing-04;
    gap: layout.$spacing-02;
    flex-direction: column-reverse;

    button {
      width: 100%;
    }
  }
}

.patientHeader {
  display: flex;
  flex-direction: row;
  margin: layout.$spacing-05 0;

  :global(.omrs-breakpoint-gt-tablet) & {
    margin: layout.$spacing-04 0;
  }
}

.facilityDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: layout.$spacing-05;

  :global(.omrs-breakpoint-gt-tablet) & {
    align-items: flex-start;
    margin-top: layout.$spacing-04;
  }
}

.titleHeader {
  @include type.type-style('label-02');
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: colors.$cool-gray-90;

  :global(.omrs-breakpoint-gt-tablet) & {
    @include type.type-style('label-01');
  }
}

.itemHeading {
  @include type.type-style('label-02');
  margin-bottom: layout.$spacing-02;
  font-weight: bold;
  color: colors.$cool-gray-90;

  :global(.omrs-breakpoint-gt-tablet) & {
    @include type.type-style('label-01');
    margin-bottom: layout.$spacing-01;
  }
}

.patientDetailsBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  :global(.omrs-breakpoint-gt-tablet) & {
    flex-direction: column;
    gap: layout.$spacing-04;
  }
}

.itemLabel {
  @include type.type-style('label-02');
  color: colors.$cool-gray-90;
  margin-bottom: layout.$spacing-03;

  :global(.omrs-breakpoint-gt-tablet) & {
    @include type.type-style('label-01');
    margin-bottom: layout.$spacing-02;
  }
}
