@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "../root.scss";

$icon-button-size: 48px;
$actionPanelOffset: 48px;

.rightSideNav {
  position: fixed;
  align-self: flex-end;
  background: #ededed;
  flex-direction: column;
  display: flex;
  height: 100%;
  right: 0;
}

:global(.omrs-breakpoint-gt-tablet) .actionPanel {
  right: $actionPanelOffset;
  background: #fff;
  z-index: auto;
  border: 1px solid #a8a8a8;
}

.iconButton {
  width: $icon-button-size;
  height: $icon-button-size;
  color: #000;
  border-radius: 50%;
}

.iconButton:hover{
  background-color: #c6c6c6;
  color: #000;
}

.activeIconButton,
.activeIconButton:hover{
  padding: 0.625rem;
  border: solid 4px #007d79;
  background-color: #ffffff;
}

.actionBtn :global(.bx--btn.bx--btn--icon-only.bx--tooltip__trigger:focus){
  border-color: #007d79;
}

.actionBtn {
  bottom: 3rem;
  right: 2rem;

  width: fit-content;
  padding: 0.625rem;
  height: 3rem;
  border-radius: 1.75rem;
  border-color: transparent;

  color: #fff;
  background: #005d5d;
  transition: all 0.11s;
  z-index: 9000;
  padding-top: 0.325rem;
  cursor: pointer;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.actionBtn > div {
  margin-right: 0.25rem;
  height: 40px;
  width: 36px;
  padding: 0.625rem;
  position: relative;
}

.actionBtn > span {
  @extend .productiveHeading01;
}

:global(.omrs-breakpoint-gt-tablet) .warningButton {
  position: absolute;
  top: 0;
  right: 0;
  fill: $danger !important;
}


:global(.omrs-breakpoint-lt-desktop) .warningButton {
  position: absolute;
  top: 0;
  right: 0;
  fill: $danger !important;
}

:global(.omrs-breakpoint-lt-desktop) .warningButton [data-icon-path="inner-path"] {
  fill: white !important;
  opacity: 1;
}