@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "../root.scss";

$icon-button-size: 48px;
$actionPanelOffset: 48px;

.rightSideNav {
  position: fixed;
  align-self: flex-end;
  background: $text-03;
  flex-direction: column;
  display: flex;
  height: 100%;
  right: 0;
}

:global(.omrs-breakpoint-gt-tablet) .actionPanel {
  right: $actionPanelOffset;
  background: $ui-02;
  z-index: auto;
  border: 1px solid $text-03;
}

.iconButton {
  width: $icon-button-size;
  height: $icon-button-size;
  color: $ui-05;
  border-radius: 50%;
}

.iconButton:hover {
  background-color: $color-gray-30;
  color: $ui-05;
}

.activeIconButton,
.activeIconButton:hover {
  padding: 0.625rem;
  border: solid 4px $brand-teal-01;
  background-color: $ui-02;
}

.actionBtn :global(.bx--btn.bx--btn--icon-only.bx--tooltip__trigger:focus) {
  border-color: $brand-teal-01;
}

.actionBtn {
  bottom: 3rem;
  right: 2rem;

  width: fit-content;
  padding: 0.625rem;
  height: 3rem;
  border-radius: 1.75rem;
  border-color: transparent;

  color: $ui-02;
  background: $brand-teal-01;
  transition: all 0.11s;
  z-index: 9000;
  padding-top: 0.325rem;
  cursor: pointer;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.actionBtn>div {
  margin-right: 0.25rem;
  height: 40px;
  width: 36px;
  padding: 0.625rem;
  position: relative;
}

.actionBtn>span {
  @extend .productiveHeading01;
}

:global(.omrs-breakpoint-gt-tablet) .warningButton {
  position: absolute;
  top: 0;
  right: 0;
  fill: $danger !important;
}


:global(.omrs-breakpoint-lt-desktop) .warningButton {
  position: absolute;
  top: 0;
  right: 0;
  fill: $danger !important;
}

:global(.omrs-breakpoint-lt-desktop) .warningButton [data-icon-path="inner-path"] {
  fill: $ui-02 !important;
  opacity: 1;
}
