.grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  align-items: stretch;
  width: inherit;
}

.patientBanner {
  position: relative;
  z-index: 1;
  width: 100%;
}

.chartreview {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  height: 90%;
  padding-bottom: 10px;
}

.workspace {
  grid-row: 1;
  grid-column: 2;
  align-self: start;
  height: 90%;
  border-left: 0.5px solid lightgray;
  padding-bottom: 10px;
}
