@import "../../root";

.searchPopupContainer {
  position: relative;
  height: 100%;
  background-color: white;
}

.searchPopup {
  /* Since there's no native (search) popup which displays some items we're using a Tile instead.
     This requires some additional styling though. */
  margin: 0;
  padding: 0;
  min-height: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}

:global(.omrs-breakpoint-lt-desktop) {
  .searchPopupContainer {
    height: 100%;
  }
}