@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "../../root";

/** For OrderBasketSearchResults */

.container {
  margin: spacing.$spacing-03 spacing.$spacing-05 0;
}

.divider {
  border: 0;
  border-top: 1px solid $color-gray-30;
  width: 66%;
}

.desktopDivider {
  margin: spacing.$spacing-07 auto spacing.$spacing-05;
  padding-bottom: 8rem;
}

.tabletDivider {
  margin: spacing.$spacing-08 auto 0;
  padding-bottom: spacing.$spacing-08;
}

.searchResultsCount {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.orderBasketSearchResultsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing.$spacing-03;
  align-items: center;
}

/** For DrugSearchResultItem */

.searchResultTile {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $grey-2;
  &:not(:last-of-type) {
    margin-bottom: spacing.$spacing-03;
  }
}

.tabletSearchResultTile {
  &:not(:last-of-type) {
    margin-bottom: spacing.$spacing-04;
  }
}

.searchResultTileContent {
  padding: spacing.$spacing-03 spacing.$spacing-05;
}

.searchResultActions {
  border-top: 1px solid $grey-2;
  padding: 0 spacing.$spacing-05;
  display: flex;
  justify-content: flex-end;
}

.errorLabel {
  @extend .label01;
  color: $danger;
}

.searchResultSkeletonWrapper {
  margin: spacing.$spacing-03 1rem spacing.$spacing-03;
  
  :global(.cds--skeleton__text) {
    margin: 0;
  }

  .searchResultCntSkeleton {
    margin-right: spacing.$spacing-07;
  }

  .skeletonTile {
    display: flex;
    align-items: center;
  }
}

.emptyState {
  margin: spacing.$spacing-05;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing.$spacing-07;
  border: 1px solid $ui-03;
  text-align: center;
  background-color: $ui-01;
}

:global(.omrs-breakpoint-lt-small-desktop) .emptyState {
  background-color: $ui-02;
}

.link {
  color: $interactive-01;
  text-decoration: underline;
  cursor: pointer;
}

.resultsContainer {
}

.resultsContainer::-webkit-scrollbar {
  width: spacing.$spacing-03;
}

.resultsContainer::-webkit-scrollbar-thumb {
  // background: $ui-04;
  border-radius: spacing.$spacing-02;
}

.drugAlreadyPrescribed {
  margin: 0 spacing.$spacing-03 spacing.$spacing-03 0;
  text-align: right;
  @include type.type-style('label-01');
  color: $text-02;
}