name: E2E Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy test environment variables
        run: cp example.env .env

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --immutable

      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps

      - name: Build apps
        run: yarn turbo run build --color --concurrency=5

      - name: Run dev server
        run: bash e2e/support/github/run-e2e-docker-env.sh

      - name: Wait for OpenMRS instance to start
        run: while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' http://localhost:8080/openmrs/login.htm)" != "200" ]]; do sleep 10; done

      - name: Run E2E tests
        run: yarn test-e2e

      - name: Stop dev server
        if: "!cancelled()"
        run: docker stop $(docker ps -a -q)

      - name: Capture Server Logs
        if: "!cancelled()"
        run: docker-compose logs > server-logs.txt
        working-directory: e2e/support/github/

      - name: Upload Logs as Artifact
        uses: actions/upload-artifact@v2
        if: "!cancelled()"
        with:
          name: server-logs
          path: e2e/support/github/server-logs.txt

      - name: Upload report
        uses: actions/upload-artifact@v3
        if: "!cancelled()"
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
